<!-- <p>El texto enviado es: {{ data.order }}</p>
			<p>El numero enviado es: "{{ data.name }}"</p>
			<div class="modal-body">
				<label id="lblName">
				  {{data.description}}
				</label>
			  </div>
			  <ng-container *ngIf="{ a: 1, b: 2, c: data.orderLength } as variable">
				<div>
					<span>{{variable.a}}</span>
				</div>
				<div>
					<span>{{variable.b}}</span>
				</div>
				<div></div>
				<div>
					<span>{{variable.c}}</span>
				</div>
				<div></div>
        </ng-container> -->
		
      
		<p>Orden: {{ data.order }}
			<nb-select [(ngModel)]="data.order">
				<nb-option *ngFor="let option of orderList" [value]="option.order">
				  {{ option.order }}
				</nb-option>             
			  </nb-select>
		</p>

	  <p><nb-select [(ngModel)]="data.stateId" (selectedChange)="ChangeState(data.id,$event)">
		<nb-option *ngFor="let option of status" [value]="option.id">
		  {{ option.name }}
		</nb-option>             
	  </nb-select></p>
      <input 
		type="text" 
		nbInput 
		status="basic" 
		placeholder="Buscar arrumes por orden"
		[(ngModel)]="data.cutLength"
		>
