<ejs-dialog id='device1' #device1 allowDragging='true' [header]='header1' [visible]='hidden' [target]='targetElement'
    width='370px' [showCloseIcon]='showCloseIcon'>
    <ng-template #content>
        <div class="media">




            <div class="media-body" *ngFor="let tx1 of divices1">


                <br>
                <pre class="pre"
                    [title]="deviceState"><b class="titleCard" data-toggle="tooltip" 
                    [title]="deviceState">Estado:</b>                <ngx-process-status [status]="tx1?.Estado"></ngx-process-status></pre>
                <pre
                    class="pre"><b data-toggle="tooltip" 
                    [title]="deviceConsumption" class="titleCard">Consumo (KWH):</b>         {{tx1?.Consumo | number: '1.0-0'}} </pre>
                <pre
                    class="pre"><b data-toggle="tooltip" 
                    [title]="devicecounter" class="titleCard">Contador de objetos:</b>   {{tx1?.ContadorMaletas}} </pre>
                <pre class="pre"><b class="titleCard" data-toggle="tooltip" 
                    [title]="deviceSpeed">Velocidad (m/min):</b>     {{tx1?.VelocidadActual}}</pre>
<!-- 
                <pre class="pre"><b class="titleCard" data-toggle="tooltip" 
                        [title]="deviceSpeed">Tiempo total activo:</b>   800h</pre>

                <pre class="pre"><b class="titleCard" data-toggle="tooltip" 
                            [title]="deviceSpeed">Tiempo parcial activo:</b> 700h</pre>

                <pre class="pre"><b class="titleCard" data-toggle="tooltip" 
                                [title]="deviceSpeed">Ultimo reseteo parcial:</b> 16/05/2023 10:00</pre>

                <pre
                    class="pre"><b class="titleCard" data-toggle="tooltip" 
                                [title]="deviceSpeed">Proximo mantenimiento:</b> <input type="number" name="alarm" id="" placeholder="300h" style="width: 50px;"> h</pre> -->

                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Reset</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div> -->

                <!-- <div >
                    <button nbButton status="info" style="text-transform: none;" hero>Resetear</button>
                <button nbButton status="primary"  hero (click)="accionRole()" style="text-transform: none;">Guardar</button>
                  </div> -->

            </div>
        </div>
    </ng-template>
</ejs-dialog>
















<div #container class='root-container'>
    <ejs-dialog id='device2' #device2 allowDragging='true' [header]='header2' [visible]='hidden'
        [target]='targetElement' width='370px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices2">

                    <br>
                    <pre
                        class="pre"><b class="titleCard" data-toggle="tooltip" 
                        [title]="atrState">Estado:</b>                <ngx-process-status [status]="tx1?.Estado"></ngx-process-status></pre>
                    <pre class="pre"><b class="titleCard" data-toggle="tooltip" 
                        [title]="deviceRead" >Lectura:</b>               {{tx1?.Read}} </pre>
                    <pre class="pre"><b class="titleCard" data-toggle="tooltip" 
                        [title]="deviceNoRead" >No lectura:</b>            {{tx1?.NoRead}} </pre>
                    <pre class="pre"><b class="titleCard" data-toggle="tooltip" 
                        [title]="deviceEficiencia" >Eficiencia (%):</b>        {{tx1?.Eficiencia }} </pre>

                    <!-- <pre class="pre"><b class="titleCard">Contador de objetos:</b>   {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b class="titleCard">Velocidad (m/min):</b>     {{tx1?.VelocidadActual}}</pre> -->

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device3' #device3 allowDragging='true' [header]='header3' [visible]='hidden'
        [target]='targetElement' width='370px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>


            <div class="media">

                <div class="media-body" *ngFor="let tx1 of divices3">

                    <br>
                    <pre
                        class="pre"><b class="titleCard" data-toggle="tooltip" 
                        [title]="doorState">Estado:</b>                <ngx-process-status [status]="tx1?.Estado"></ngx-process-status></pre>


                    <!-- <pre class="pre"><b class="titleCard">Contador de objetos:</b>   {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b class="titleCard">Velocidad (m/min):</b>     {{tx1?.VelocidadActual}}</pre> -->

                </div>

                <!-- <div class="media-body" *ngFor="let tx3 of divices3">


                    <br>

                    <pre class="pre"><b>Estado:</b>         {{tx3?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx3?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx3?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx3?.VelocidadActual}}</pre>

                </div> -->
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device4' #device4 allowDragging='true' [header]='header4' [visible]='hidden'
        [target]='targetElement' width='370px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>


            <div class="media">



                <div class="media-body" *ngFor="let tx4 of divices4">

                    <br>
                    <pre
                        class="pre"><b class="titleCard" data-toggle="tooltip" 
                        [title]="atrState">Estado:</b>                <ngx-process-status [status]="tx4?.Estado"></ngx-process-status></pre>

                    <pre class="pre"><b class="titleCard" data-toggle="tooltip" 
                            [title]="deviceEficiencia" >Eficiencia (%):</b>        {{tx4?.Eficiencia }} </pre>

                    <pre
                        class="pre"><b data-toggle="tooltip" 
                            [title]="devicecounter" class="titleCard">Contador de objetos:</b>   {{tx4?.Maletas}} </pre>

                    <pre
                        class="pre"><b data-toggle="tooltip" 
                                [title]="devicecounter" class="titleCard">Maletas alarmadas:</b>     {{tx4?.MaletasAlarmadas}} </pre>

                    <pre
                        class="pre"><b data-toggle="tooltip" 
                            [title]="devicecounter" class="titleCard">Maletas limpias:</b>       {{tx4?.MaletasLimpias}} </pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device5' #device5 allowDragging='true' [header]='header5' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>


            <div class="media">



                <div class="media-body" *ngFor="let tx5 of divices5">


                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx5?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx5?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx5?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx5?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device6' #device6 allowDragging='true' [header]='header6' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>


            <div class="media">



                <div class="media-body" *ngFor="let tx6 of divices6">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx6?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx6?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx6?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx6?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device7' #device7 allowDragging='true' [header]='header7' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>


            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices7">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device8' #device8 allowDragging='true' [header]='header8' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>


            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices8">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device9' #device9 allowDragging='true' [header]='header9' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>


            <div class="media">


                <div class="media-body" *ngFor="let tx1 of divices9">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device10' #device10 allowDragging='true' [header]='header10' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>


            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices10">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device11' #device11 allowDragging='true' [header]='header11' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices11">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device12' #device12 allowDragging='true' [header]='header12' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices12">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device13' #device13 allowDragging='true' [header]='header13' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices13">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device14' #device14 allowDragging='true' [header]='header14' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">

                <div class="media-body" *ngFor="let tx1 of divices14">

                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device15' #device15 allowDragging='true' [header]='header15' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices15">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device16' #device16 allowDragging='true' [header]='header16' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices16">


                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device17' #device17 allowDragging='true' [header]='header17' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices17">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device18' #device18 allowDragging='true' [header]='header18' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices18">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device19' #device19 allowDragging='true' [header]='header19' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices19">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device20' #device20 allowDragging='true' [header]='header20' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices20">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device21' #device21 allowDragging='true' [header]='header21' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices21">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device22' #device22 allowDragging='true' [header]='header22' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices22">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device23' #device23 allowDragging='true' [header]='header23' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices23">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device24' #device24 allowDragging='true' [header]='header24' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices24">


                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device25' #device25 allowDragging='true' [header]='header25' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices25">


                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device26' #device26 allowDragging='true' [header]='header26' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices26">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device27' #device27 allowDragging='true' [header]='header27' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices27">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device28' #device28 allowDragging='true' [header]='header28' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices28">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device29' #device29 allowDragging='true' [header]='header29' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices29">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device30' #device30 allowDragging='true' [header]='header30' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices30">


                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device31' #device31 allowDragging='true' [header]='header31' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices31">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device32' #device32 allowDragging='true' [header]='header32' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>
            >
            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices32">


                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device33' #device33 allowDragging='true' [header]='header33' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices33">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device34' #device34 allowDragging='true' [header]='header34' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices34">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device35' #device35 allowDragging='true' [header]='header35' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices35">



                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>

<div #container class='root-container'>
    <ejs-dialog id='device36' #device36 allowDragging='true' [header]='header36' [visible]='hidden'
        [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
        <ng-template #content>

            <div class="media">



                <div class="media-body" *ngFor="let tx1 of divices36">

                    <br>
                    <pre class="pre"><b>Estado:</b>         {{tx1?.Estado}}</pre>
                    <pre class="pre"><b>Consumo (KWH):</b>    {{tx1?.Consumo | number: '1.0-0'}} </pre>
                    <pre class="pre"><b>Contador Maletas:</b> {{tx1?.ContadorMaletas}} </pre>
                    <pre class="pre"><b>Velocidad (m/min):</b>{{tx1?.VelocidadActual}}</pre>

                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</div>