<nb-card>
<nb-card-header>
  <div class="title" [nbTooltip]="message" nbTooltipPlacement="right">
    Inducción manual SITA
  </div>
  
</nb-card-header>
<nb-card-body>
  <form [formGroup]="airForm" class="form-inline" novalidate id="formId">

    <div class="form-group mx-sm-4 mb-3">
      <ejs-datetimepicker formControlName="StartTime" id="StartTime" data-cy="date-std"  class="e-field" data-name="StartTime" format="M/dd/yy h:mm:ss a"  placeholder='Fecha Incial' floatLabelType='Always' required>
      </ejs-datetimepicker>
      
  </div>
  <!-- <div *ngIf="airForm.controls['StartTime'].hasError('required') && airForm.controls['StartTime'].touched" class="alert alert-danger">DateRange is required</div>
      <div *ngIf="airForm.controls['StartTime'].value" class="alert alert-success"></div> -->

  <br>

  <div class="form-group mx-sm-4 mb-3">
    <ejs-datetimepicker formControlName="EndTime" id="EndTime" data-cy="date-etd"  class="e-field" data-name="EndTime" format="M/dd/yy h:mm:ss a" name="datetime" placeholder='Fecha Final' floatLabelType='Always' required>
    </ejs-datetimepicker>
    
</div>
<!-- <div *ngIf="airForm.controls['EndTime'].hasError('required') && airForm.controls['EndTime'].touched" class="alert alert-danger">DateRange is required</div>
      <div *ngIf="airForm.controls['EndTime'].value" class="alert alert-success"></div> -->

<br>

<button nbButton status="primary " class="btn btn-primary" data-cy="Consult-submit-button" style="margin-top: 26px; text-transform: none;"  (click)="date(airForm.controls.StartTime.value, airForm.controls.EndTime.value)">Consultar</button>

<br>
<br>

</form>

  <pre title>    Consulta de la api AMS de forma manual</pre>

</nb-card-body>
</nb-card>

<!-- <nb-card>
    <nb-card-header>
        Mensajes AMS
    </nb-card-header>
  
    <nb-card-body>

    <div class="overlay">
      <div class="spinner-border" *ngIf="loading"></div>
      <b *ngIf="loading" style="margin-top: 4rem; margin-left: -3rem">Cargando...</b>
    </div>
    <br>

    <ejs-grid #grid [dataSource]='amsData' [allowPaging]="true"
    [pageSettings]="pageSettings"
    [filterSettings]="filterOptions"
    [toolbar]='toolbarOptions'
    [showColumnChooser]= 'true'
    [allowFiltering]="true"
    allowSorting="true"
    allowResizing= "true"
    (dataBound)='dataBound()'>
      <e-columns>
          <e-column field='FlightIdFlightKind' headerText='FlightIdFlightKind' minWidth='120' maxWidth='300' width=130></e-column>
          <e-column field='FlightIdAirlineDesignatorIATA' headerText='FlightIdAirlineDesignatorIATA' width=120></e-column>
          <e-column field='FlightIdAirlineDesignatorICAO' headerText='FlightIdAirlineDesignatorICAO' width=100></e-column>
          <e-column field='FlightIdFlightNumber' headerText='FlightIdFlightNumber' width=100></e-column>
          <e-column field='FlightIdScheduledDate' headerText='FlightIdScheduledDate' width=100></e-column>
          <e-column field='FlightIdAirportCodeIATA' headerText='FlightIdAirportCodeIATA' width=100></e-column>
          <e-column field='FlightIdAirportCodeICAO' headerText='FlightIdAirportCodeICAO' width=100></e-column>
          <e-column field='FlightStateScheduledTime' headerText='FlightStateScheduledTime' width=100></e-column>
          <e-column field='FlightStateLinkedFlightFlightIdFlightKind' headerText='FlightStateLinkedFlightFlightIdFlightKind' width=100></e-column>
          <e-column field='FlightStateLinkedFlightFlightIdFlightKindIATA' headerText='FlightStateLinkedFlightFlightIdFlightKindIATA' width=100></e-column>
          <e-column field='FlightStateLinkedFlightFlightIdFlightKindICAO' headerText='FlightStateLinkedFlightFlightIdFlightKindICAO' width=100></e-column>
          <e-column field='FlightStateLinkedFlightFlightIdFlightNumber' headerText='FlightStateLinkedFlightFlightIdFlightNumber' width=100></e-column>
          <e-column field='FlightStateLinkedFlightFlightIdScheduledDate' headerText='FlightStateLinkedFlightFlightIdScheduledDate' width=100></e-column>
          <e-column field='FlightStateLinkedFlightFlightIdAirportCodeIATA' headerText='FlightStateLinkedFlightFlightIdAirportCodeIATA' width=100></e-column>
          <e-column field='FlightStateLinkedFlightFlightIdAirportCodeICAO' headerText='FlightStateLinkedFlightFlightIdAirportCodeICAO' width=100></e-column>
          <e-column field='FlightStateLinkedFlightFlightUniqueID' headerText='FlightStateLinkedFlightFlightUniqueID' width=100></e-column>
          <e-column field='FlightStateLinkedFlightScheduledTime' headerText='FlightStateLinkedFlightScheduledTime' width=100></e-column>
          <e-column field='FlightStateAircraftTypeAircraftTypeIdAircraftTypeCodeIATA' headerText='FlightStateAircraftTypeAircraftTypeIdAircraftTypeCodeIATA' width=100></e-column>
          <e-column field='FlightStateAircraftTypeAircraftTypeIdAircraftTypeCodeICAO' headerText='FlightStateAircraftTypeAircraftTypeIdAircraftTypeCodeICAO' width=100></e-column>
          <e-column field='FlightStateAircraftTypeName' headerText='FlightStateAircraftTypeName' width=100></e-column>
          <e-column field='FlightStateAircraftAircraftIdRegistration' headerText='FlightStateAircraftAircraftIdRegistration' width=100></e-column>
          <e-column field='FlightStateAircraftIsRetired' headerText='FlightStateAircraftIsRetired' width=100></e-column>
          <e-column field='FlightStateRouteattributescustomsType' headerText='FlightStateRouteattributescustomsType' width=100></e-column>
          <e-column field='FlightStateRouteViaPointsRouteViaPointattributessequenceNumber' headerText='FlightStateRouteViaPointsRouteViaPointattributessequenceNumber' width=100></e-column>
          <e-column field='FlightStateRouteViaPointsAirportCodeIATA' headerText='FlightStateRouteViaPointsAirportCodeIATA' width=100></e-column>
          <e-column field='FlightStateRouteViaPointsAirportCodeICAO' headerText='FlightStateRouteViaPointsAirportCodeICAO' width=100></e-column>
          <e-column field='FlightStateFlightUniqueID' headerText='FlightStateFlightUniqueID' width=100></e-column>
          <e-column field='FlightStateChuteSlotsChuteSlotStartTime' headerText='FlightStateChuteSlotsChuteSlotStartTime' width=100></e-column>
          <e-column field='FlightStateChuteSlotsChuteSlotEndTime' headerText='FlightStateChuteSlotsChuteSlotEndTime' width=100></e-column>
          <e-column field='FlightStateChuteSlotsChuteSlotChuteName' headerText='FlightStateChuteSlotsChuteSlotChuteName' width=100></e-column>
          <e-column field='FlightStateChuteSlotsChuteSlotChuteExternalName' headerText='FlightStateChuteSlotsChuteSlotChuteExternalName' width=100></e-column>
          <e-column field='SITAAMSFlightsResultWebServiceResultApiResponseID' headerText='SITAAMSFlightsResultWebServiceResultApiResponseID' width=100></e-column>
          <e-column field='CreatedDate' headerText='CreatedDate' width=100></e-column>
          <e-column field='UpdatedDate' headerText='UpdatedDate' width=100></e-column>
      </e-columns>
  </ejs-grid>

      </nb-card-body>
    </nb-card> -->


    <nb-card>
    
     <nb-card-header>
       Logs AMS
    </nb-card-header>

    <nb-card-body>
      <ejs-grid [dataSource]='Alarm' [editSettings]='editSettings'  [toolbar]='toolbar'   [allowPaging]="true"
                [pageSettings]="pageSettings" allowSorting='true' [filterSettings]="filterOptions" allowTextWrap="true"
                [allowFiltering]="true" height='350'>
                    <e-columns>
                        <e-column field='Descripcion' headerText='Mensaje' width=180 isPrimaryKey='true'></e-column>
                        <e-column field='Nivel' headerText='Nivel' width=85></e-column>
                        <!-- <e-column field='UserId' headerText='Usuario' width=100></e-column> -->
                        <e-column field='FechaRegistro' headerText='Fecha' width=90 type="date" format="dd/MM/yyyy hh:mm:ss a"></e-column>
                        <!-- <e-column headerText='Administrar Alarmas' width='100' textAlign='center' [commands]='commands'></e-column> -->
                    </e-columns>
                </ejs-grid>
    </nb-card-body>

    </nb-card>