.title {
    font-size: 1.085rem;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 2rem;
}

.card-defauld {
    width: 18rem;
    margin-top: -23.5%;
    // padding: 0px;
    // margin: 17px 16px 184px 10px;
    // width: 247px;
}

.card-header {
    font-weight: bold;
    text-align: center;
  }
  
  .card-body {
    text-align: justify;
  }