<!-- <nb-card>
  <nb-card-header> Estado por equipo </nb-card-header>

  <nb-card-body>
    
  
  <div class="overlay">
    <div class="spinner-border" *ngIf="loading"></div>
    <b *ngIf="loading" style="margin-top: 4rem; margin-left: -3rem">Cargando...</b>
  </div>
  <br>
    
  <div #container class='root-container'></div>
    <ejs-grid
      [dataSource]="teamsData"
      [allowPaging]="true"
      [pageSettings]="pageSettings"
      [filterSettings]="filterOptions"
      [allowFiltering]="true"
      [allowGrouping]="true"
      [groupSettings]="groupSettings"
      allowSorting="true"
      
    >
      <e-columns>
        <e-column field="ZoneName" headerText="Zona" width="130"></e-column>
        <e-column field="desc" headerText="Equipo" width="130"></e-column>
        <e-column field="State" headerText="Estado" width="120"></e-column>
        <e-column field="power" headerText="Potencia" width="100"></e-column>
        <e-column field="current" headerText="Corriente" width="100"></e-column>
        <e-column field="Voltage" headerText="Voltaje" width="100"></e-column>
      </e-columns>
    </ejs-grid>
  </nb-card-body>
</nb-card> -->

<div class="col-sm-12">
  <div class="row" >
  <div class="col-md-3" *ngFor="let menu of teamsData">
  <nb-card >
    <nb-card-header>{{ menu.title }}</nb-card-header>
    <nb-card-body>
      
      <p>{{ menu.link }}</p>
        <!-- <pre><b>Link:</b>  {{ menu.link }}</pre> -->
     <b>{{ menu.hidden }}</b>
      <div *ngIf="menu.hidden === true">
        <button nbButton status="primary" class="btn btn-primary" style="margin-top: 4px;" (click)="getReport()">Ver reporte</button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
</div>
</div>