<!-- <nb-card>

    <nb-card-header>
        <nav class="navigation">
            <a href="#" (click)="back()" class="link back-link" aria-label="Back">
                <nb-icon icon="arrow-back"></nb-icon>
            </a>
            <h5 class="h">MANUAL ENCODE LINE</h5>
        </nav>
    </nb-card-header>

    <nb-card-body>
        <div class="room-layout"> -->
<!-- <img src="./assets/bhs/BHS8.png" alt="" /> -->

<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="145 170 162.63 85.06">
                
            
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 221.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                    
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 222.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 223.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 224.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 225.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                
                    <text x="243.93" y="220.89" class="st4" [nbPopover]="card" nbPopoverPlacement="right" (click)="changeId(zone[0]?.idEquipo)">{{zone[0]?.Name}}</text>
                    <text x="240.193" y="208.89" class="st4" [nbPopover]="card" nbPopoverPlacement="right" (click)="changeId(zone[1]?.idEquipo)">{{zone[1]?.Name}}</text>
                    <text x="235.193" y="203.89" class="st4" [nbPopover]="card" (click)="changeId(zone[2]?.idEquipo)">{{zone[2]?.Name}}</text>
                    <text x="202.93" y="211.89" class="st4" [nbPopover]="card" nbPopoverPlacement="left" (click)="changeId(zone[3]?.idEquipo)">{{zone[3]?.Name}}</text>
                
            </svg>

            <ng-template #card>
                <nb-card class="popover-card">
                    <nb-card-body>
                        <div class="media" *ngFor="let option of divice; let i = index">
                            {{i}}
                            <img class="align-self-start mr-3" id="im" src="./assets/img/teams.png" alt="Card " />
                            <div class="media-body">
                                <h6>Id equipo: {{option.DeviceId}}</h6>
                                <b>Estado:</b>
                                <p>{{option.Estado}}</p>
                                <b>Consumo (KWH):</b>
                                <p>{{option.Consumo}} </p>
                                <b>TiempoOn:</b>
                                <p>{{option.TiempoOn}} </p>
                                <b>TiempoOff:</b>
                                <p>{{option.TiempoOff}} </p>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </ng-template>

        </div>
    </nb-card-body>
</nb-card> -->

<nb-card>

    <nb-card-header>
        <nav class="navigation">
            <a href="#" (click)="back()" class="link back-link" aria-label="Back">
                <nb-icon icon="arrow-back"></nb-icon>
            </a>
            <h5 class="h">MANUAL ENCODE LINE</h5>
        </nav>
    </nb-card-header>

    <nb-card-body>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="145 160 162.63 70.06">
            <image style="overflow:visible;" width="35" height="29" id="Layer_0_xA0_Imagen_159_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAhCAYAAAC1ONkWAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACFxJREFUeNrsWF1TFNkZfk739Hx/
MCg4Kl8z4hdgcEXZqCGALFvFBmutxNpo9ipVqcoPyC+ItTepyvVe5GJTufHCVFJrNlhGVpHF0hIE
FBEE5GMAwQFmmC+mZ3q6z8npHmYE3SRbW0arUulnenqmZvqc57zv8z7vmQH+f/yPHORNDMLiTOQj
2WCCQmxEeRNjmt7EIOofVR9RyM9ERYyycXYb1XhOJKK9c2KxcMxHkuRX0rwkucZcjWjGP9hzdpfs
JeF3SiypJAWWYm4hJFRmka209lkb7OP26+wy60EHhoiXJN8JMcJBCYVskpGW0zbLoKXRaXbud8w6
TlknrFfZALuJekwTM1HfKjEwfnLJ0wiFGlUhR2VhI7Oxw7XkOuMOufe7R9yNpIFcZzOshwRI6O2J
P61Ci2tQ5/lV5prXdJ4Kwuthk/xI9qfn0ntt67YG97i7gf2BfY1ODJA9JPLGiaXTaWFhYcGTGE8c
ssxZSh2KQ4pORkWaoCCEGBFkm9hQNiCHZbNz0FmrLCpV9qj9pH2M6+9Lnt5WjBAP2XgjPsYJWQYG
Bg719PT8ZHp0urka1SWd2c7Vg2sHT2bmMi5Zk8FYjpQxOnupQ0mU4HQ4qavSFXYFXPdN75m+4tG7
hRrMvaq/AjH2jNmQQiVikHAcE68aZSQSMT148KD8/v37rcPDw+3BueCZ6enpUg/zoJW0oo21oVat
hZd6kWZpKJqSIwcUrjo5PaIW0QKPx5O1V9uD7l3uXryPG/gFbpFysvY6sUlWjMf4GP34Mdx8FefR
w41yKZPNYHR0tHhwcPBkX19fx8zMTPvi4mJlIp6QjMjw08zMCHCc0k7hQ44qUgWLaoFMZahMLRDb
eohEhF2yw+VxZey19nHHAceXPHpXyUfk4XaNMT7OHI2xNdZCnpH3hSfCCa1F6+k2d8eu3Lzywfz8
fNtKaKWOk7LrZERRNFavn1maxRRHSAhhkk3iODmOZrEZFUIFzNSMNE2DMrq9kNmm/tZki3PI+QMl
rRDvRW/fa+InB4ks/1YOws773SQ5zFdUJd4Wm+pidbHHi4+PjcyNuF6QFxAEAflI5YVupIgRpEgK
/aQfY3QMY2QMjUIjmoQmlNJSI3IZNbMlDrko6oSTclJQQkqWG8vcv6xKRhg0ieo32GiQHvVt+HBh
4wJ8Nh+6lC4M0SFEeKXn9UIpzQmCbE7GH3GOXtKLRxwzZAZNpAmHxcMo4siyLBSqFCo3P6cxo0Dp
NmJ6+c9OzxYt31iu9U573RLMhpNTC4UgiSizluET6yeoi9fhduo2utQuPKKPClErgL9mlBmv9SPK
oujieMJxgqPd1M5lWw1n1pnTH0c+4q/q0CCWupIqKVos+lQZVn7KtzA7yGZd6F/lq0DWRiGZJbxn
O4YDiQM4nDiMG+kb6Nf6MU7HIXDoCxGIYKTGICjwu/m8MpHxVHiKeQ5dhw2sAS1CC6rEKmhMg6zK
31ocBjHJITlETTxuXbH90KyHiLws2ZwfEagmFYKTwmaxod3WjmPJY7iTvIOudBce0odYoAt6OnK2
ylOja87QoD4Gj2KS9/F75B531BFMiBNo4jjOsZODipQ3i+27JFF/+uw3n6mmqEkU06aj3MeKX23Q
W/WnD0IsBC6rC9VSNY6IR+BjPqMy4zSODMm8LIx8g9ejKOTe658HSdCIdESIQCISvJIXTrtz2f1L
918u/f7S+jYfU/6klGIFn9Kn9Od0ldazJLPqKzUCJpLXqOrPgsaTmBYgJ2WMxkfxTeobXFOvYZSO
Fpp7Pr36lWmsMKPuYxaOAAvgpHgSzSXNQf+v/b9znHf8tTxQHhLz013686UUd/sJbhdBLavRqBDb
tZhcclGZG6hmhmDKpyZHTNeVriMm8c8tZpRZylBjroFVtGJcHce6up5bxmZx5LWRfy+IghHlVY5J
bRJBFrRPyVNlKUdq5erfro689DGJ6AqM0BC9HquMP595GLSMDI1d2PGiGIF4BcpTe+EwOSCaBf5l
YVuLodxedLV6bB40yo3wK37MK/OG5gytbRIzioJtapCS3JUjRmIY5MiSLI7iKPtWHxN2CcrU9MzC
SjQ8FYqsIVwcRXglgtDyGqqS5fBppUYrYaZcmrZ2XU3SIKgCLIJFDykv6ZzD65HNm3He7/Qq1qgG
q82qBioDiyW+kr4TJ050t7W1df/bbY8+J7HyaFgYVl0RRD1xvAitoHrVj0PyfhQ53Juls2VRmzAE
n/dKsqUrb+42dM1x+6F7fHuiFZUVg/X19VfPnTt388iRIzM2m035TvsxxlcGK6+mPQoW3ctI2zMo
DnrgYo6CsW6v3Vf2LpsWVSgADofTka6prRn1+/1/b21t7eno6Bjyer3J/7hRNJvNGbvdHizyuGfj
iWQFX70omATGN3VaXEhgwbu0VJWuWDTFTQe4dncWcrR1q01yaczrTCdmtVuz+/btmy3yFnW3t7d/
ffHixV6fz7f+nXew3iLPxs5ib8/e3btNVsv6B1wLVbx5P+H2IZMd8CTsibuakz4jj0gjnDiDCBq4
/zn1e53EiXqhHmPCGII0aESIp03zV/mXd/l23eU6us4JdQcCgWVJkrTv9Ut88fmSdTkUOrC6Fq6o
qzmkE8smkxueyoqyOYfokPlvxyL6gB6jw/Rj7oFnWIjtV5OqNBWZwheRL3BZuUx5RGJlZWXDXD9f
dXZ23mpoaJh0Op3p//pfBGydmegE3UsH6Y/YGOtgYdYmP0/77mXvpj93fT6227/72unTp2+dPXv2
QXFxceKt/ndhEHzBzNqgVk376Yd0ltatWleTvTW9d1rOt9zmEVt7J3+qFMhpXOWrsLIs28HNU9VK
tDDvCtnvM9Y/BRgAMpwZKIJcdNoAAAAASUVORK5CYII=" transform="matrix(0.24 0 0 0.24 230.3219 184.9306)"
[ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
>
	</image>
	
		<image style="overflow:visible;" width="36" height="28" id="Layer_0_xA0_Imagen_158_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAhCAYAAACvBDmYAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACKdJREFUeNrsWNtvFNcZ/52ZnZnd
2V3vrr0YX9YXbGNwMDGQUMzdBLCTtOaFqog+IKVSpf4HSd/ylCgvlSLlqVFVKVApL00jGi4lGAIW
gnIpMTbGlzrO2vi2Xq/Xe5ud3ZlzemYWG2OFS1oiIqXn83rPas6c8zu/7/d935kB/t9+oo08j0nY
31gAGezAAhg6cZ1UkejzBup4HpPEI/FyEiO/k+5JQXVIPceOs4v4BW6SAEn9qICmFlIyoqgWxoTm
3Fyu0ZVw7VCGlZOsm32FVzFIXCT3owBKuBnEQEbICFpCK1YiSpv6b7XRd9e3XdwinmFD7AIaMEkE
wl4oULtR/peh0OM6kvNJh6zJ1ZqqlalRtSUwENjCFfwlm2D/JJVk7oUBNfMmzKQJY8yAmeD9rAmN
Wzabld3/cjflxnM16pza6h30nmWfcnY7cPv76ve/BhqLxRyxb2LlelQPKROKR7+rw5w1eQoABG6M
e5kxhlQ2RbT7mtsz7/mZPqk3eMPe7co9rt8brAstGCEy18wPkZ44S8LIyIj/6tWrW3su9/w8GAs2
dPg75mumavYkriRCGtNAKS2kLbBHvhVRga/IZ3jrveO+Mt9l8go5i1/jIqkjM88MlC0wB/eWj+dD
GVWIEImYKwdzgE4OcOPFCxc7h4eH2xYiC68oMcW5zb8t/4b2hrA+tl5ycCclzSR0qj/Ms8sAW2yr
kgqfz5dT16lDRZVFZ7EX53k6u0EqSOzpQAeYD19jP26gFSFcxS/RvZi4Z2ZmpGvXrtV1d3cf7O3t
PTg1ObVnbGzMb99HGTzcNrKN2E13Yx/Zh0pSCSNvIM3SMJjxCFi7zyUhCiLcipv5V/vT7vXuHg76
DHbzgHud3RacQv7xGs3yOaOc1TTeJDf5amGcpn+hl+/W3Z08ceLEpuvXr7ePhccOcIAV6VRasBYm
hNgANEHj+7uBITqEO9y2CduwV9qL1fnV9rWUmXoIlhXSmSWPpJYk2fGsxxvztnqT3oC/wz/O5+zl
Qx8PlGwiaeMjYwB+pDCArSRO6oRZ4bVgIjihpJUNHODageiAsugHO2AegF1kKS7EuQ/P44bJQZMh
tIvtaBKaEBSCSNEUNENbYtYCa/XzZh7zyXkxM5xh7lJ3WCJS/qlRb93IBPsjIE2KhXm6qyhTxLbP
bydaRsMpcgq3zds2OJtNDs5ekLtf5GYDZwRxbifZSQwIA9jJ7aB4kJetari4JWkSeZZfYtZek8+T
z+XzZpEZd8ku44lAZ2dnpcznmWJHxuGxAoIKFNTJIDkk8rL8MmqTtWhKNOFs9ixumbfQT/shCEKB
UR7kpmlCJCIEUmBaZzr6uY1z62N92M6tTWpDyAjZgZZiKdv9y7X7pCZa/4xBQ9XP662Za5nfiJPi
VlmXndaWbS1xwExicCpO1Cl12OLYghANQWISrFQUZ/GlsLSBP2BpsZ/nFmZh9JN+TJNpe74gCaJE
KLE3ZbPLGw+g6ZLflnz+3ofvzTyWUcEQ3GpS3S3eF3/FS5/Tgr+4oNXj3oQpUxAJWO1ajU5XJ1pS
LbicuoxT+ik7gOIkbruT+2FJGnbVYqa9iQVu59g59PJYaRPasI/bOrIOJaQEaZq2N/TUykQo0Zxw
fqOUKFE6RUPL3UFWJDNT4S6WRNS76lHhrEBzshmXtEs4nTuNXta7KPYCq6TAqr1prkNeXDFOx/FX
bn1CH3YIO7Cf7EctqYVDsATneLLr3/3o3TxGEeNap3xj5SzL/HxOYXFRCyBZZjZ6PqfslFGpVKJZ
bEaIheBmblsOMRYr3COQJc3agccKTOdJHhEhgiFhiGfBMJIkiYAnoPsqfOG3//j26Ad/+EB7fMLP
8Fi/xspoHz1oDppvpuczbbHpeKkn64aXuG0WrYXJiqprLS7kBZhpE5F0BGfSZ/Bx9mMM54ZtUGJB
R6AmtYPO0i4l1J7H6lsJxkd92Kxu1is3V/a5XnX96Z3fv/Nnj8eT/e48qhKrQE+ycfapPpDr//bW
WPqOeO+twIwfa5LVqMyWQXW4bMAPsRbYpZZ+HQRlahn2uveiO9KNQX3QZtPSqJUNrHG2+x/8tvMw
/21F/hydQ5fRJdXF66rbhfaX+AZkuwQ96fTEy6Y+PRMZHIqP3hzNjL913z+FyHQUddEa1GiVKDVX
QZEVEHGFfrlQqEJtAC6Ra4hRO79aYKwy6iAOMAdbkpJ1PW8UAkj1qtmm5qb++vr6L9auXXueA9We
/ZjHF2Z8YX1VDpOeacSLE5iYnsK6aD3qtVp4FQ/PAmTFLYLtaut7sUxa7rdAWYFkudrSq8HNpCZk
l2zU19WHg6XBrgMHDnx55MiRixUVFXPHjh17tvMoKdREmw2bKS9F2pXGqDeDjMqPV2EJTUYjID36
OLIUbIsnJVFYinjb9Zbxc6qsyLSqvGq2qqrq6qZNm04fPXq0q6GhYdzpdOa/18HZ4XAYsiRFPW53
NJXOBO2cyEfSAEXUEcOgPKxXmuXzgYzfzaul99Fn52XyJYXyungWcEgOWl5RvlBTU9PDP2cOHTp0
YdeuXX0rA+eZgbpcLt3jcd8qKy39MJFM7jEpXS9LjvuUsWlSjNJsWa4vwRL3AjOBNYiwfYhgHT/H
KhZ7ClFQQSpQKpTyS5ElIbtVt970UtNgY2PjF62trV2dnZ03g8Fg4n9+AZHL5YRodK5o5Ntw88TU
dNOqkuKxYEnxdCw2v6q2pnq4ujQ0Q+6SVfQ23cFL+utkjuwjERLKZrJiT6wHx+eO45PUJ9amjdra
2vGysrJLO3fu/Ad38wXOZuS5vykxDMMaI3A5mN/5lmSGyewOW8NusddImLTz5/td+oQevJK9Qt/P
vz/vrHZeb2lp+fvhw4e7NmzYMPokHf7gr3RswCPMxZltZjdZByawcYJMmJ+Rz/pCHaFLPKK/5o8e
6Rf+7ml5deOF2McDrJyZjBkhY0IukRP4KbX/CDAAVvIbfh/+vEUAAAAASUVORK5CYII=" transform="matrix(0.24 0 0 0.24 235.3836 188.0638)"
[ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[0]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[0]?.Color   + ')'}"
>
	</image>

    <image style="overflow:visible;" width="37" height="29" id="Layer_0_xA0_Imagen_160_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAhCAYAAACvBDmYAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACCVJREFUeNrsmG1sU9cZx5/zdv0S
x3ZeCAk0EF7DWwKsBCaSQQNlKAIC1TQq6CaQ9m2TJu3r9mHSPvJhmiqtH/plKh1dNbUdYS1p01FS
p4Iqa5jaQiAEkjghXmxsJ459Y1/73nN2znXshowwBum2SjtPLN9cX5/78/P8n+c55wJ8QwZa7AlF
VmjQD1vhBuwSFaKbN/MBWkpzTzsvXVTIMbECfg0/gG44PAZjteg5lPJv8QflR/8boCIuKuA9OAK/
gGOR+5GmqB6tmoZp6jf8Hh/34cW4x1OBioxwQh/sgl/CS9FPo89FjMgzSXfSaWgGEkiAhaxFi9YT
g4rbYgP8HH6UvpLePzYxtiYSi3hmxAwWZQJoJQVSQmQCICy4+O+AiglRA2/Ci+LHon14ZLgxHAmX
JY0kzvEcCCEA3UfApzmQMgK5afsc+o+C2jrsgjb4GbwQ6g81hcfD1fFUnKWtdB6wUEBMea0pw561
AOnIiTKoIT4WD3EXv1dZWWl8beXJ1uGX8C04Bz+cujrVGroXWnF/6r5Tz+nIElKDAr6ChPwxQQT8
Dj/4v+P/W0+4R/RW9SYa2xovNrc0n6+vrx/xeDzmooKKu2Id/A5OG5eMA6MTo+si0YhXz+o4y7PA
pRUh5R8RxP6Oh3nAj/wwjIbhiu9K7rJ+mURcEa55tEjTzqa+w4cP/6GpqenDurq6OGOM/9M9dVEi
i5lbzp1AZSj7SFARFtXwDnwPPoAjo7dHt8swVyQyCWJYRh5QXQNfJQmW5mIuG3CGzsAn4hO4jC7D
CB6BqBWVajABIwxenzejadp4a2vrlUOHDr22Y8eOq7W1tTP2fDnB4DpsgzfgJbFU1owa8Qoch0HC
CH8oqK3FV+En4Y7wyehwdFU8Edd0Uwc7zLOAqvQoXaqhYQ28zAtYYOgTfdCFu2CAD8AUmYIsynse
YWRfb3ELGGXg9/tTK1auuL13797ulpaWc/s270uS18n3VaNIZ9Mb8D78W9pCX0HNaEKCioWSKRlb
FksG/x70JGNJzRSmDYcQKsKpd4wx+DQflEq7Lq7Du+RduMVvQVhaGqUBcXk9FjakLRH5ffUdNdfU
1JRH1/Wt1ePVdQc+P/CsxSxu6mZ9Rs9USe9TxlkEr8IzGtPEglmPylF29M+jiRlrxixAzrqyOLzY
Cz7qg3FpnaITAiIAQRQEAxlKB0AsAlzkJaK8aEPK0Nt6lvMsl9ZmtZGjM0fLN41v2m24Den7LLGw
hfJQVMyP9b8sT0p/BV1K8UMFqoAcyUG31Q1/kTbIB6XqE2BaJhBMHkhTNGvFbJCQbbgNTjlOQYOn
AUq8JcAdnKUhbcupMExm+vSUzh4LdO5NKKNQLo0RBlfFVei0OmFQWlREgVNue09da0lDs/VdeVB5
V8GpH7oL74Lj7Dg0lzRDja8GuJtDlkoNY/7APW3tXUueMN0mu9Nx59W1R9eGHglq61Kal8owYx8M
4AG4iC7CZ/wzGBfjYGLT9pJKogc0jOww2NpUgFvRVjjGjsFe115Y6V1pt9aslgWLLLwOcMVc9TiE
D8of+yfZgkNqLrpQuP1uP2hODSIoAu9LC/AA3JGmS7OTCfKASoMgI668yjkHTOV52d9rpR2kB+GY
4xhs8m4C6qGQdWTBIMYDYZ7rycIgLmIyD+tiq9jEgqFXnSj9VrpcRzr7mH4MHbkOuIPvwCSahJzI
2YCY4GKyKEi7hc5mt4JUgKedp6GhpAG8Xi9YLgsyNGOvpgpQaIFeg5fiSbqRnqX19A1tmxaz550P
mkqlPG//6u2fhj8MnwxEA5UD5gCMW+P5cJJ891FeK4Ta5PlCXphsJ9kJJ7QTsNu9G5b7l4PlloAs
U9ThoyBRKcqQenKNVJPf07X0A7aZjbFaZj7Uo0NDQ5te7nq5PTGU2BA2wkR5QJYMu3croGJ45bFK
HLvaoDy00uOesj3wvPd58Lv8INekYBKzqPWFwmwHZS25S+voWVyD36fr6W1Ho2Oa+AlfMOvdbvdo
y3dbXrt54yaL9ka3ZFIZrdBV7JeKrUyUQpdSnylo+xNLgMPpgFxpDtI0DRzxR4bYDvMzOCIB35KA
FyVgn7ZFu8+WsYdmGZn7z5kzZ9I1NTWDOTN3bdXqVSmZGEtj8VipkTWwArXLEM53GPUqMBTON3ub
od5dDxrRHqyh88teOUqx7ayTrWO/YVvYm85W55faZi1Byyh/rPWo0+lUv2Zyenr6056eniG5fry8
fv36k729vfuDw8GKdDqNGGZFsEI7tcuUBFcSmGtzFy4FHdJ19AtSRc6RleQjqcMRbY2mYw8WT7Rw
lpmqdo3jExMTsQsXLtxYsmTJRanfU93d3d9OJpLuoqMEFBPLsiyYu+2YD0lWk1G6mr6Oq/B70pO3
HNsdCbkL4Iuywq+urs7It7tyhLu6um5IWey/efPmyb6+vo2JqYSmvEgptYGVblVXmh9uqb8YXUMv
SMAO6c2/Sh1GtBWauegr/MKQYSf9/f3+QCCw7d69ey9IObRL6GW5bI6sxqvhkHYI2qva7bJECMmH
eSMNSNA/ysId0Bq0MVpLDezAT7Tbe+w9k8vlUvqNxeNxKd+e23JNeUluK07L49bGZGPpkcojUFtS
C8iBLAl4nSwhZ3EtvqQ1asPaei1FvI8f5kV9pBMKhVznz5+vCwaDe3ZO7nxxx/SOLSXlJTGylLwj
txCdbAPrdzzrmKIV9KkAF+XZk0wgNDg46DU/Muuq4lU1Uq+TMsRBWWqiWt2/r8Ov/SGZ3O9gbnCi
1iiklHD4//gGjH8IMABG8r43adBw1QAAAABJRU5ErkJggg==" transform="matrix(0.24 0 0 0.24 225.6419 183.3919)"
[ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
>
	</image>
	
		<image style="overflow:visible;" width="123" height="79" id="Layer_0_xA0_Imagen_161_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH0AAABTCAYAAACyJghjAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAHNtJREFUeNrsnWl3E1eax5/aVSXJ
u41twGYzW7ABAwYDDYQ1K4YASXfOmRd95px502c+xZz5BDNvp2e653T3dHc2EkKTBJJAIBCWYBsb
jHdrt2zLq6TSVjX3uaUqS14gJIQYo3ujeJNtXP967v3d/32eK4Bcy7Vcy7Vcy7VcWwyNyV2Chd90
VWchAgKkQGNKmcRP/Xl87pIuYLETOgM9oMDvoVrzaat1WfdHfdFWuVKO50RfjIL36xL8EZaBBxrU
gHpa9ar79Xz9PUmT/o182ZsTfTGJPagLcB6WwP/BZjWonoo/iL8eGgmVDdoGgS/kbTWJGiE3vC8W
sUM6D99AMfwvbFDd6olYV+zNkD+0PCgEhZgtBgzDAK/zGnmr50R/3sWe0jm4C/nwF1gbc8Vei3XG
Toy0jqwNBALSJDcJTCGDEQ6cwoGu6TqwkBP9uSbyB+CAP8CqhDdxUO1VT442j9b7PX5lLDEGKS1F
llakRxnQx3XQS3XQlmj0cznRnzexU4TIu0CG/4LqlDe1N9ofPTXZOrnbP+B3BuNBSGgJKixLuimw
HtYhGU+CVqbZpjqmlt/9811eW6cN19bWToqi+MSRn1unP0vBXYTIL0Al9EFD2B0+E7kXORToCxR4
Y16Ia3EjsufoPMODyIvAb+DvDDYODvToPbER58illStXXjly5Ih71apVak70hUjkX0AZWX7VRQYi
p9Xb6huBzkCZK+YCNaVaEW1GtxnpHMOBwArAcRyorAqtpH/Ofg7tejuUrigdqa+v/0dVVdVfa9bW
NB86dChYUVERnzWFtIOTLPAKIQZh/bg+wkqslhP9WRB5F2yIeqLH1U71zaH2oeqBwQFhKjWVjjom
S3RTbJEVQRAEiJP+UHsIl7XLcJv0kBCioappGsiyrK3fsH6AiP8xifqzNTU1bbt37x7Nk/I06AY7
fAnVEII95HZbR8aXy/qr+gUieiwn+s8hdphEGBJ5C6xDIidinxhqHVrr8Xuk8cQ4pEifS3BTbIVV
QOM06OV64WrqKlzXrkOADYBGOnkabZqu0YdOgL58Sblat7muff369R9srdn6WRPXFBM8wvbUQOq0
1qPtg3L4mvtX7t+ZrcwdVmSTOZB72kTeSSLs97Ay4Uu8HO2LnhprGdvmdXuVTEijQmeEG8uwdBiX
WRlYjgW/7ocb2g34ivkK3KSj0PgcGuGkE5an63b6OdKCQ0HbjS9ubBO6hVX7du7bpzv1RKIj0RAb
jpVFbVH8vqGCigIfgb5kjt5/HiLfHemLnJpondjrc/mcgViAim1G8zRMGR3FVjgFOJaDEdJv6jfh
C/0LGCCdIbMvRjOKixGNIwTDZt8wDtIruApo5BvhTOhM4ZYrW44lnUmIyBFIyMbvRVOHfI+eW7I9
TSL/I5kxu2FHeCD89tS9qUP+Pn+BJ+aBeCpuCWw9n9ENsUmXORkkVoII6bf0W/AJ8wk8JJ0+Xc+O
bjqck45TAEa5rMuwhF0C27ntcFI8Cbscu8DmsIGqqBDhIsZUkP7dKS4lh0IhezgcZu12u5YT/acS
+Z8JkXsiJ6M3o2/6H/rL+9V+i8gzI9tcK+HyS2IkKjaG3D3Sz2vn6dsw6Sg0ioqgRoVmjLfmjcBp
HJSxZbCd3Q5vSm9Co70Rip3FoNpVmOAm6PNn3mjxWLw2cTFxjB/gw+RDT070H0Pk30ER/IkQuTva
pD5U3xxsH6zuH+wXJpITWXCW2UxIs3E2OkR3M93wJfMl3NZvw7A+TIXGTuFM0+m8zbLGTYNfw5Gh
kC2EjdxGOCYeg8PKYVjmXAYxewzGhfE5xTY/FgfEOkmU/lkv1t050X8Mkf+FELkndoyIfWKoZWiD
y++SRhOjkNJTWRfajHIUTmREOpSjeB7dA1f1q4A9QDpo00Kh4FR8c97GoT2lQT6TD1uELXBYOAxH
5COwwr4CYo4YjEljkGJS84ptve9kVL6Q75bKJG9uTn9CIk/6ky9He6OnQi0hi8jRSaM0ndGt6GQE
sPE2YHkWRpgRuJG6AZf0S5TIdZOr0trgxyg6B8acjU3RFVjKLYUDwgF4W3kb1jnWQcqRgnHbOCSZ
ZJa4DCU1PVt8ntwTNmaMq+ZuCRuFP9hftjfnHLnHCd6j2+ACrNC82p5IfwQ98r2+AZ8TbdOYFpsW
zqTx9BCNYuPyi+M5GGVG4bZ2G75kv4Q+po8O3aCDNXxTPCPzN3XjWONn2HU7VHKVsIvfBafl07BZ
2YyYDhGFEDmbeGxkk/tGI2JPMYVML7+Bvyjtlf4mN8rNrGR8c070ucR2U498CfTB1rA7/JvwvfAx
f6+/wB1zU0iznpfupuC4/EJAw7cxJgatTCucY86RgaJzer7Ws/dHLMpGImcIkTNLoIFrgNO207DD
vgNEp0iJXOVU6ybLGrozJSTBTsSOMnnMALeauybuEt9X9inXuEJuMue9P47I3VAb9UZPqHdVJPKK
/sl+JpKKZD83QwC6IcKJ9JFiU3Bfvw8XSW8jPaJHDLHThgqdp3XNMmUw2gnLEzIsgq3cVmiyNcEe
ZQ8UOYsgqkQhykfnhLRZkS4xMcbO+Njl7E1hp/B3+xH7Jb6MH5vr78yJbhL5LXLV22nWCiXy4fbh
alfQJUwkJiwXbKbYdEME521C5DqnQ5feBV/rX8P3pI+yo3QYN0cBjHA6bxvkRsXmya8tIL2Wq4VX
xVfhsP0wVDgq6PIrKkYfC2n0RhKZBBE8yFVyrUKD8L58VP5ErBKDj/p7X2jR9SiBtBbIIxoZRN6h
ngi1hjZ6fV5K5Ak9QViIpxfX9MutZRBrELnGauAh/Vv9W7imXwM/6WjAmOaKCWXAwvQQT3oBWwCb
uE1wRDwCrymvQbVSDaqDiC1FZ0HanHO3QJ5mY0bYMvaBsFX4WD4mfyJUCwPmvJ0TfT4i/4oQeSD5
KyTy0dbRnT63TxmOD9OsFXO+zYxsmqeGQznp6JGPsCNwk/QvSXfpLiOyEeY4w1yxsl/Y6WHdSXoV
VwX7hH3wG+U3sN6xHtA2RY88wSTmnLezBOcppI2zpexDoU44bztk+0isETtZhY390L//hRPdJPKU
N7UHs1bCrWGDyONeY0NEZ+acu1FsJHIynNLl1+3kbTpvD+gDdL8bhUWRKZ2bdiszPQwrpFcyldAo
NMKv5V/DVsdWi8jjbPwRAjHZRJ7P9PHr+a+lfdIHtm22O1weF37Sa/DCiG4SOXm7lSy/fh1pjbwS
6A1QjzyTyDPnS8s2RSInczdNZOAIkevn4KH+0JinGeN5dFMkvdbONFtk0sv5ctjB7YC3pLegwd4A
slOmRB7jYha9zysQw/wgIs+Jnin2ECHyS1AKA1AbcUdORu9F3wh2BCvcY27WJPKsIdzc30Ynjczb
mKaU4lPQoXXAxdRFaGFaIMyEjY0MPZW1ZDM3RvAGsIic3wpvSG/APvs+KHGWULEzifyRES5BjLWz
SOS3CJH/7VFEnhM9k8jvw/qoJ/pGrCPWFGwLrvQEPcJUYiorwjIdNRQMxZZ4ic7b3aRfIh0NFvTI
zY0P+khbpZTO01GOI0IRUwSbmE1wTDoGR+1HodJRST3yTCKfb96mTQRK5Gwli0T+gXJY+URcIQ4+
rWuz6ESnkNZCaOkOrKdE3qkeH24Zfsnr9dpo1kqGR54pOE1kAGNvG81pD+uBG/oN6pF7SbfW1uii
pU0W68Ea8zcS+Tp2HRzkD8Jx5TisdqymHjkSeabY8wqORC4zIQJpSORnn4TIX0jRqdjpvLCEP/Er
tVc9PdY6tguJfCg+BEktOe8VoGtt1tj9QiK/RTpmrdBEBsYANLxZzEyVTEDDbtfssIxbBvul/fCO
7R3Y6NgISYeRyDDX8muW4BlEztfxn9n22T6SNkoPnoTIXzjRKZF/BdWpgdRuXH5Ntk7u8/f7adYK
bojMFdmmkyZxxjA+RjomHn7OfA79pJtghv+ZSziMctNZs4gcPXJuF7xte5sSOeNgLI981gbI3B55
OE3kXxGxP5C2ST+KyF8Y0fWALsI5SuT1ZN4+E74bfsXf7S/GDZHM1OKZDQ0X3O7EbFOVV6FNa4NP
9E/gAfPAoHG8MDqTNVfTPW78Ggl2hVGgjCmDBtbwyBscDWBz2qhtahL5I8U2bFOViN1PiXyn+IFy
QPnmpxD5ohedEvnXUAJdsDHijZxU29Wm4INgpXvczYaT4Vm7X+ZfituWOG/jhghGYgfTQYfxNqYN
JvSJrG1OM8ozPXOB/Npiphi28Fto1sp++34ocZRQ2zTCRx6ZyJDpkRNQG+QqubuEyP9if9P+2dMg
8kUruj5KibwQiVz1qK/HHsSahtqGVruDbmEyMWkR+UzRzaIBjG4Eqm62m3rkd0gf58ZpVGMko5OG
DYdzdNRMgwVvlmK2GOr4OjgqHoUjyhFY6lj6WI8863MmkVew98QG8SP5EIG0FYKfcIT+rK/jcyG6
ValxE2oS7sQr0c5oU6gltMnn9dkys1Yyxab71enll42x0TxyD2MQ+TXmGvh0n/H8dBobFZ2ZzjQ1
97mdjBPWc+upR55J5BEpQsV+XEEhIzAGkZelifzoz0Pki0b0TCJP+pPUNp1smWz0urwOzFpBIp8z
uphpSCNBCsPaMNxkbtJEBpfmyjJTzEbfN5NZCMXbGTu1TdEjRyJ/yfESpJypeYl8TkiTmQmLyH9l
+1jcILZzDk79pa/rghWdEvkVQuR9qcZoT/T0VOvUvsGBQac/5odYKjbLQTPnXhQbtzpp1oo+CreZ
2/AF8wV0a91GNNNMg+lUJTO6KaGTTzsYB1TwFbCT3wmnbKdgm30b8A7eyCPnZhP5rJvOJPI8Amlr
uSvSXul9eZd88+cm8uda9Cwi90ZPI5EHugIlvphvlkeeecHNbFOe5yHOx2lK8VntLDwg3YQyTDKk
38OClVZspiiJ5NeWMqWwS9gFJ20noUFpALvTTok8zsVnEfmcIwwSeQERexV3nczb78v75W/4Yn5i
oV3jBSM6tU0vQikZzi0iH+4YrkSPfCo5Xew30yen8zbpCGpJNklFvsxchnvsPQiRjlFNl1v6dBIE
rsux4fSAO2elXCnUMrXUI9+v7IdSZ6lhm87hkc85h0sQZ0QmgEQu7hL/qryuXOCX8KMLdRT9xUWn
RH6XEHkzrCWRjR75CSRyb9AroNhm0sHMC45lQOik4Q4YJjj06D1whbsCt9nbdA43d8nwoacM0VFs
c2jHr+eTjssvSuTyEah2pBMZ0kT+uLV2msiH2XL2Hr+d/1A5pmDWip+sArSFzEq/mOiZRB7zxI5g
Hjkh8jqP12PD4zcytygz/6WYNcqzZN4WbIZHrnloVafpkdNsFT1dIZJR5UlFZwzf3Mk6YTm3HA7w
B+Ad+zuw1rEWEvYERGyRH7b8Mj3yEvYhIfJzZPl1Vlgj9P6SRL6gRc8k8rg/vkftV0+Nt4w3+t1+
x1BsKKuyM2sONYmckUAXdBhih2j916XUJXDrbmONzWaLlZl9ikM5ir2MXwZ7+D1wxnYGNjk2YSEA
FRunhjnNlExQJBFMIG2SLL+QyC8sJCJfsKJTIr8KVYmexG4kcvTIAwMBZzAWtIjcvNDWmSvpRAaz
HCjEhuCOfgc+0z6DXtLNdCQqCstYO1/pYYF+HYv9SvQS2CnspJFdb68HwSFAVI5aRP7ITRGTyB3M
ALeGu0qI/D15r3xjIRH5ghOdEvmnUKa5tPqIL3J66vupV/xd/lJcfmFl58yLbQIaOmH0RAZRgBgb
I9N+M5zVCZEnH1jzNZ262el1Nwpu3ixom5aAITamFu9UdkKeM8/IWuGzs1bmEzxN5Ji18q24Y+ES
+YIRPYvIfZETkbZIU7AjuJRmrSQjs5Ze1u4XGHnkAi/QObaDdLRNm5lmCOkhK02JJhzq06lNMz3y
TfwmeFV4FQ4qB6HMWUaJHDdYfsi8TWg8Tqh8kF3Kfi82in9XjioXhEphBBZB+1lEp0TeDAVkqbw2
6oq+oT5QTyKR06wVQuQzi/3MblV2kllA4zXoFrrhG9Jvpm5CUAtOZ60wRuKhNYwz004aVnbWkk6J
3H4EquxVRiKDaCy/5truzLogmEduI0Reyt4X6oUP5dfkj8Vq0bvQifwXE90i8jtQE3fFD6udZK3d
MrzZ4/bIc2WtZG2IpOu/kMh9jA+uk47rbSRyaqxommWfmv9yhDNK5SxLPfJl7DI4IBrFfphanHAk
5sxamdcjtzGjROwOQuSf2g7azoo1Ys/zQuTPXPRZHrkr+tZE80QjHr+BkDbzjLTMDREza4V65Mww
3NJuwUX2IrhZt7XUMp+fuSliFu5jIgNWdu7l98IZ+QzUOmqB3HaziHwWiWekFoMNpojYncIm4YK0
TzorvSS1PW9E/kxFp0T+LVRp3dpu0yMP9AeoR4626UwHzbzYAifQ3S+0TcfYMZp4eEG/AH2kmyRO
PfFUylpjWzXbZKS1k17OlcMOdgdNZNhu3w6CUwBVVqltqs9xhOpMIidiUyLn1/DXxD3i+8oe5TpX
wE3BIm8/WnRK5BdosV99xBs5FbkdeWWwa7DMq3qzxJ4pOi6/6N42L9JEhla9FT5mPrY8crNYgGat
MNPJh+bHJqQ1io1wwnbCIHJHHsSU2Cwin/ePNojcxa5mkcjfU/Yrzz2R/6yiUyL/iqyDOuGlqC/a
FH8QPz50f2iZK+TiMrNWMkHLEpsM5RjhmEeOB+pc1i9T0UdJn3k+mpmPZtZuI+AVc8WwkdkIR4Wj
cNhxGCqdlUYZr6A+No88bZvGieAmkb8vH5IviMvFIXjB2g8WXR+nRJ6PRK661Ddi92MnQ/dCa3xD
PlrZ+ahEBlq3zUi02K+X7TWIXCNETrq1xtY0qxbMGt5Jw5+LlZ3UI5emPfJMIn9sM4r9htkytn2x
EvlTFd0i8luwJuFJHFK71abR5tEtfrdxRLWZWjxTbGqbskYiA8Mz4NW90x45eZ+6ZWmBaUSnpiPc
dNaQyCvYCnr8xrv2d+nxG0m7Uew3F5FnHd2F/wZC5CATZChiO/k6/pxyTPlQqBEWJZE/FdGp2D20
srMq6UvuUQfUU1PNU40BV8BpeuQzxTZ/IporkiDRFKUhbQhuMbdolQhWdrLkx5prbSpuuhaMlgjR
M+xZsLME0phy2M3vhjPKGdhi30JTi9E2nUnkc5osZrFfKYNE/gWBtI+kOql1MRP5TxZd7yVEfg2q
9G4ds1awsnPfYP9g/mBskNqm+jwvLkAjm5Xotie+KgEedXlePw99bJ8xvzPGLpl5ZBYu08wCAoxy
TC0uZwmR8ztoIsN2ZbuRWpz2yOf/I5h5iVzeI78QRP4kbe7TpRKwNNIR+Zf4Z/F/CnYFLSKf74Jb
WSsCT/O+72p34VPtUzIrtNMsFpp+pulWZJunMZigh1krhaTjWSsnlZPQqDRaHvkkPzlnHvk8HnkW
kXPF3ERO4h8ouqZqoueyZ1mwLVg2M48882JbR1RzRh45ZqtQj1xvpjXcOD/TPWwULQ1m5vILfwSm
JGOx30Z+I7VN8fiNpc6ldPk1IUz8oDxyJHIyRwfTRP6e7ZDtgrBcGMpJ+4SiR4uiE8HR4KS5KWJe
aFN800lDwTVBgx6mh55HjqCGRG5ugmCyYSaYmTtgGO0FTAFs5jbT1OLD8mFK5HFHHMbEsSyx54pw
E9IyiPwj+RX5rLBSeGGJ/CeLPvPYK7PRrJV0kT7Ox1jZ+S3pV/Qr9NwVc0Mkc2Qw68BM7fCMtKXs
UjggHYB3lHdgnX0dTS0el8YfufuV4ZGnqEdeQoi8lv/UdtT2obhW7H7RifynD++aZuQwmBc6fTYp
RjcSOR44/53+HT1rBU8/pJshJJrNMl5TOFyGmXM3PaKaNVKLUewtji30+I0peSrrQLx5BU8TORG7
i3+JHoiHRN7CObloTsanIXpK4/CFBqivwRq1XygolgCh2P/Q/2ERuZnwgGKjT07nb7NShIA5euSY
WtwgNMAp+RQlcilPgrAcph75vMsuc9ThdI21sdNEvlf8QG4kRP6Miv0WvegjIyGBCMaHXeE8zsbb
0UXDDFJMBb6n36MbIveZ+/QUJErk6bPRrHptZjprBdOS8fgN3BBpkpvoeeQFjgKI2CMwyo+mp4DZ
UmfugCGRswWsm1Z2EiJfDFkrC0b0sbFxvvVeW9G585+th6i+ZPlk5VqJF9chpGHRAEJaC+mYR26d
gcoxVtapec4p3gS4/MINkY1s+ohqQuSVeZW0aCAkjGbM24bE03lPszzyILeUa6Ye+UH5/OMOxMu1
JxT9xne3Vnp9/jPd3b2n1WC0KjQwLPEDrKOVCH2DuUEPxDNtVTMPbebul2mubBI2wXHhOByTj0GV
owqiDiK2GMqo/4IsubMcIuqRs5TIxW3CWftRO1Z2uhHeclI9RdFHQiHhr3/74Gh3T9/vfL7BStU3
CW1dd8Ez5oJBZtBaqpnrbbNInyrFpQfotILLhGXwbt670ORoAk7mICSFyFSQBJixzje3UDV8kBuG
k7iUIPNjXAnXKdQJ55QjSo7If07Ru3t6q9V4YivHCcXFSjF42Qi4BC8MS0Ogx/HsDbAK/Ky52zRY
dMh6qQk7T7Atzw7h/JmGDmMJT1+AJpmCaEKFseQ4TDrCULikwFW9dflHjkb7e7Y6W8vzmlr83Ig+
GBzazPHcTllWpBSJunylUKutq08Ex3xsIOAVxkMhiKuGlUp1Yw0NzWjFoR03UcxyoczXLdEz/m8W
EKrxGIQSo+AVfNBf6oFQ5RiUrCu+Uv328v+wV9v7cpI8A9HtdnuIEPpgQouvA2cqVeoscq8tXtkZ
S6yT/QH/+u7Oh2U93d18ZGqSRqglqDaddkwTHzTNynqZMZbTr8WTCRiPTYAPAtBf7IbBpcOQKE1i
ilOMzWNDnCO3KfLMRK99aUPr0PDwe6qqglDKT9WsXvnRjm31n0+Fw8r1GzdPFuQXvlpUXLLG4xoo
8/t9UpiIj6/wa6VBpQ/kMc8uzwLxlA4JFDsxSaQehN4CF3jL/JBYkgSxUEwqNnko3+lsWVJWel2R
ldy6+xk1KtHExKQzFo+Vkvk2UlRYOMTzPA3pcDgsj46NLbt2/bvDbe33jz/s6KjrethR5vd5eVWN
WvXe5g2ALxf1u4rfwba8baAldQirYQhog9DjHABXhRei5TG6L44zQF6eY2D1yhX/3diw/U/lS8oH
JEnMQduzXLLl5TkxymZFGhn60eLsisVi/Tvqt168ev3GifaVK0/eb29f39XZkR8aGWHjZI7GYR1f
K2yjsBFK2VIjyBMp8HA+uFPZCiPLxoApZNIH+RBaJzdVQX7+ta11tX+rrqrqzsmwAGzYmU2SJIzC
LhL5/1mzatX1ysrKM+UVFQe7Oh+ucA3029WxKPO67XX4bdFvoVAupAkPo3nj4CsIwFRVGFinYdwA
TaRgQLHZQqIoNi+trHTlJFigos+I/KvDwyPtt+/UfP19c8vp9ra2xkSfWlmX2CzZ7DYYE8Yh4AxC
T3E/eIjoCTFpvcKBuXvndDo61qxc8b3DYc8tzRa66GYrKSnGozU+HHC5rn93c9Xx4P3gKbs7r+6h
2lMyILh5t90HMSlOq045nbfW9dTP4XmVvPd9zZrV93OX/zkS3WxkPg4Q6v8f12bP1evf3Xqry912
fGJiqiYej+dh1biGYuO2Ky7tOPoic1pxYUH78mVLv66sKA/kLv9zKDo2m82G+6P3x8fH3e33O75t
udd+2ucffJnA3woymNtwl448NFEUpmSb3FdYUPD3+i11t8jyTs9d/l9wyfY029DQcNG3128e6+rp
e2d8YqKe4zknL3D+0pLiaxvWrX1/86ZN1/Lz83Jr8sUkOl2upVKsy+2par3X9upUOLK2pLjo6o5t
9ZeKigrHcpf8l2//L8AACu/XodsyLaoAAAAASUVORK5CYII=" transform="matrix(0.24 0 0 0.24 200.0242 186.1525)"
[ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[2]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[2]?.Color   + ')'}"
>
	</image>

    <image style="overflow:visible;" width="42" height="32" id="Layer_0_xA0_Imagen_157_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAmCAYAAAC76qlaAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAB1NJREFUeNrsWd9zFMcR7p7ZH7d3
QkJIQmf0C2QZ2xI4wY7KxlhgU6ZQbFdCTCV5St78Z/g9L3GlUslbqlKV5CFV+CGJUwjZEGMBAoVY
hSESNrYlJIRAMpKQkO50tzvT6dm7PQ6JSDqwIyfxdk3N3u7szrc933R/MwfwzfHN8b994Hp0Sj4J
CMAGDRoT6Beuz5MDPnh8GkAZpNFG/bUCrrv0o3gK98EkbIRymAcXFBDfmIBKuAw1DP0C/B66sB5v
/7t3WOvi8QVqhk/hJziIT0EMMmD8T4A6pRN0g8owib/DAE9z07UBpxmKwduwE6ZhO/sAw/EQoS9y
tcVXpekif83U0W/JA2+HT0HYzmUwps49o8MiwnaKPqc2HMPNMACbmC1AtZTCaszoGR3XC9oWtnjc
esfqpON0CtphGCswszLwOarEv+EhuAo/5C5EAWAOpOGbzteFR8Jrd++r8BqGtfGiyt/PFcoV1FgF
I1C3nLfI3yUBJ3AXU2UT7IBGJtNv+dbQylTJgqcGVANchMewBPpT0feV0t70IYxNiDjzO15oMAEJ
Lq2wwA1qIaA/0p/hFSZXDBbRQbXc46FL9IPxdo3gqcA8Aas65zo8Bn+FN2AQnuByTrWoofR76Y+8
A96o9TCeWzrMqz1PIf/u2qrAb7NjbzOlbsIhdU11+O1+n35N/4rvjIolxAmYWRnYEHLzy4siIe2R
X2+FHA55XEok/gJifr9flx3MJilD9jKqcMCfgWboghSkcAbd8O0REe+eRefGzSL0Mtco2RCjexYJ
Muhsbr1BTIkmMSaS4o6QD/LhAVuWzdTmo5cBl/XyDofEo5y9erjYoaNycUTk44aJFyIfCHO/KX8t
CpSmrR++3aWA6rAf98OfYDOMlQ5YsRnAPpupi+m4LAFhJS5ytfhQ1BihcjgK7Xgcd8Pn8DxPsnq4
A7IUwBFYU4exPkwB8qvJnDRNHnTDk/ALeAkuQScNULu6oSqi+LwWwIYOBmyGbaUI96UAp0WyoA8a
4NewF/4Or3K62BNcC2qzc1lpOnfZVgNuAC+yGS9HHl4p2j0U8FDlXWFR9BbshrPQyTzeq0ZVczAV
uNEwm7nssN0PaHT4RbbUyxFoyttDA6cx2gC/gafhXQY8DAfUuGoNJgPPdG5ALfVaQRnmzXhX5QXR
/QAXQFdztmzAKZqkGGlKswxOPRDwkMcn4HH4eYHHzwY3goriiVTodBP4uAXn8BY6nEQ2RNeDvJn2
K8X+MP4nMY0v4CT2cdgg9NHL6feSgNNntBF+CfuhH37MCs/wOOnP+TICUjjKQbGXbmITnrW/bY+L
E6KDge9aKTsX65dIeoROmARXnpIme3rYghbT0y7d49PQQP+kw+qM+r7hcUSLe8LpFryNT+JZsUN0
W89bPV69txE+4BFaQVoU/1Z5K7xvEuNMk1CAUcsDcpwXAGX+Db/Kn/JD0MUTB2txgYf1I7FVnJAH
Zbd32Lsga+WCfl/vXk0KFAu8aG5EeiYEn8T54hEpHXgosHOxtuClGlgUdeJjTuofiA7RHftBrM/a
as2wAMg1sMHnSRUUd3q/d+qCrM9r8nJUVEUZPastlrI5CmUoGVwKGtWsckuenJF8MRNPNIiruA3P
yGdll/Ndp9d+wr6JMbyHO2SRVqRU5MWlXlbhcpPulUSP4KzYKT6EFpjwe/1naJC254E3B+8GO+mn
dKw04Lzs4vCUxTa8zh4+K5+Wx+z99hnnGWdYVIjM/VfGgAqVyNZkF0WjGDbJCEZhm1F8S2mBmzEl
togB+S35IbbjdHA+aBCTwqEsf1gVL98qIdAZLUumCrp4HZvxiKyT3dY+q9c94H4sN8n0mh5OQkp1
qhGOQg7NUgN9QXc9XIlm9EZkq+yTL8ghPaXj/l/8PfqS3sWroIRsk8OiWZxmWn6CcTzHKnahNODf
wXG3zT0S7oeUY3atz4XZc8KJGR2j09rhEOeFgJnHDHhCbpP/kHvloNGj/nv+U/oz3c4qtYbvz4g2
8b7cKbvcTrcntic2wnzPCEeo0oDnJlxJylF/qqv4O6s4q8YZcJMNdi7sJdW83CH7rQ7rPFMgHZwO
mvQnul1f080MLiu2i14egWPWbut44tXEgFVtpf+j+yr6sq7npFHvOxw+62nUqrPGcAgbRb2Ys16x
BtUFVaYuqhf1uG7lzIiySV7m+XOSR+Bo/PV4n7PVmV2XDSEOZzEoA8utcANW5QvW69bV4O3A00M8
CkeCPeqqajT5gSkzLlpEj/Wc9U7sYOyM0+rcFDERrNsWXOrNVIe4JTrlkGxDja3MbBkMBuWp66nq
cFWTz7SGx06Hc9J72bsiK2Rm3Tc91bTyOB4m6CRtpR56Ec/joeyVbHvaTgf6EX2R9cxx66B1LHE4
ccGqtRbW+t6vnCr5cGnKLV7SXQneClxdrTfzwrrf3mv/wfued85usacKmfbrus3s/8zfp1z1nNqo
er0feedEQvj/FfvjNE5lJChOkuZljUz93/0j8S8BBgBNqpA7UQtFBQAAAABJRU5ErkJggg==" transform="matrix(0.24 0 0 0.24 239.6357 192.1)"
[ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
>
	</image>

    <text x="249.93" y="195.89" class="st4" (click)="ClicME1()">{{zone[0]?.Name}}</text>
    <text x="242.193" y="188.89" class="st4" (click)="ClicME2()">{{zone[1]?.Name}}</text>
    <text x="235.193" y="184.89" class="st4" (click)="ClicME3()">{{zone[2]?.Name}}</text>
    <text x="202.93" y="194.89" class="st4" (click)="ClicME4()">{{zone[3]?.Name}}</text>

</svg>

        <ng-template #card>
            <nb-card class="popover-card">
                <nb-card-body>
                    <div class="media" *ngFor="let option of divice; let i = index">
                        <!-- {{i}} -->
                        <img class="align-self-start mr-3" id="im" src="./assets/img/teams.png" alt="Card " />
                        <div class="media-body">
                            <h6>Id equipo: {{option.DeviceId}}</h6>
                            <b>Estado:</b>
                            <p>{{option.Estado}}</p>
                            <b>Consumo (KWH):</b>
                            <p>{{option.Consumo}} </p>
                            <b>TiempoOn:</b>
                            <p>{{option.TiempoOn}} </p>
                            <b>TiempoOff:</b>
                            <p>{{option.TiempoOff}} </p>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </ng-template>

        <div class='root-container'>
            <ngx-window></ngx-window>
        </div>

    </nb-card-body>
</nb-card>