<!-- <nb-card>
    <nb-card-header>
        <h1>Asignar permisos al rol</h1>
    </nb-card-header>
    <nb-card-body>
        <div class="page-content">
            <form>

                <div class="formHead">
                    <h6>Crear rol</h6>
                </div>
                <div class="formBody">
                    <div class="input-div">
                        <label for="roleName">Nombre del rol:</label>
                        <input formControlName="name" type="text" class="form-control" placeholder="Nombre">
                    </div>
                    <button type="submit">Actualzar</button>
                </div>

            </form>
            <div class="permisos-table">
                <div class="tableHead">
                    <h6>Tabla de permisos</h6>
                </div>
                <div class="tableBody"> -->
                    <!-- <span class="tablePermiso" *ngFor="let item of permisos">
                        <label><input  type="checkbox" id="item" value="item">{{item}}</label>
                    </span> -->
                <!-- </div>
            </div>

        </div>
    </nb-card-body>

</nb-card> -->
<p>permission-table works!</p>
