nb-card-body {
    height: auto;
    margin: 0 -0.8rem;
    button,
    p {
        // margin: 0.5rem 0.5rem 0;
        margin: -1.2rem 0.19rem 0.0rem 8.7rem;
    }
}

.h {
    margin: -1.8rem 0.19rem 0.0rem 25.7rem;
}

svg {
    width: 100%;
    height: auto;
    cursor: move;
}