.h {
    margin: -1.8rem 0.19rem 0rem 2.7rem;
  }

  .bread {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: -0.1rem;
    list-style: none;
    /* background-color: #e9ecef; */
    border-radius: 0.25rem;
    cursor: pointer;
}


// .es::after {
//   content: "es";
//   display: none;
// }

// ej-sample,
//         ej-reportdesigner {
//             display: block;
//             height: inherit;
//             width: inherit;
//         }

//         .splash {
//             position: absolute;
//             left: 50%;
//             top: 50%;
//             transform: translateY(-50%) translateX(-50%);
//         }

//         .message {
//             text-align: center;
//             font-size: 40px;
//             margin-bottom: 20px;
//         }

//         .loader {
//             margin: auto;
//             width: 70px;
//             text-align: center;
//             position: relative;
//         }

//         .loader>div {
//             width: 18px;
//             height: 18px;
//             background-color: black;
//             border-radius: 100%;
//             display: inline-block;
//             -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
//             animation: sk-bouncedelay 1.4s infinite ease-in-out both;
//         }

//         .loader .bounce1 {
//             -webkit-animation-delay: -0.32s;
//             animation-delay: -0.32s;
//         }

//         .loader .bounce2 {
//             -webkit-animation-delay: -0.16s;
//             animation-delay: -0.16s;
//         }