.h {
    margin: -1.8rem 0.19rem 0rem 2.7rem;
  }

  .bread {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: -0.1rem;
    list-style: none;
    /* background-color: #e9ecef; */
    border-radius: 0.25rem;
    cursor: pointer;
}


.es::after {
  content: "es";
  display: none;
}