<!-- <div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>
                <h6 id="h6">Estadísticas de EDS</h6>
            </nb-card-header>
            <nb-card-body id="form">
                <form [formGroup]="airForm" class="form-inline" novalidate id="formId">


                    <div class="form-group mx-sm-4 mb-3">
                        <ejs-datepicker formControlName="StartTime" name=" StartTime " id="StartTime " data-name="StartTime " placeholder='Consultar' floatLabelType='Always' required>
                        </ejs-datepicker>
                    </div> -->

                    <!-- <div>
                        <input nbInput placeholder="Seleccione una fecha" formControlName="StartTime" [nbDatepicker]="formpicker">
                        <nb-datepicker name=" StartTime" id="StartTime " #formpicker></nb-datepicker>
                    </div> -->


                    <!-- <button nbButton status="primary " class="btn btn-primary" (click)="date(airForm.controls.StartTime.value)">Cosultar</button> -->
                    <!-- <button nbButton status="success " class="btn btn-success" (click)="generatePDF('open')">Abrir a PDF</button>
                    <button type="button" class="btn btn-secondary" disabled="true" (click)="generatePDF('download')">Descargar pdf</button> -->
                    <!-- <button nbButton status="info " [disabled]="false " hero>Atras</button> -->
                <!-- </form>

                <div class="row ">
        
                    <ejs-grid #grid [dataSource]='daDate' [toolbar]='toolbar' (toolbarClick)='toolbarClick($event)' (toolbarClick)='clickHandler($event)' [allowPaging]="true " [pageSettings]='pageSettings'
                         [filterSettings]='filterOptions' allowTextWrap='true' [allowExcelExport]='true' [allowFiltering]="true" [allowPdfExport]='true' height='380'>
                        <e-columns>
                                <e-column field='Name' headerText='Nombre' width=120 type='string'></e-column>
                                <e-column field='CountStatudBagAlarm' headerText='Bag' width=100></e-column>
                                <e-column field='Total' headerText='Total' width=100></e-column>
                                <e-column field='PercAlarm' headerText='Alarm' width=100></e-column>
                                <e-column field='CountStatudBagClear' headerText='Clear' width=100></e-column>
                                <e-column field='PercClear' headerText='Clean' width=100></e-column>
                        </e-columns>
                    </ejs-grid>
        
                </div>
                <br>
                <div></div>
                
            </nb-card-body>
        </nb-card>
    </div>
</div> -->

<!-- <bold-reportviewer id="reportViewer_Control4" [reportServiceUrl] = "reportServiceUrl3" [reportServerUrl]="reportServerUrl3" 
  [serviceAuthorizationToken]="serviceAuthorizationToken"  [reportPath] = "reportPath3" style="width: 100%;height: 950px">
</bold-reportviewer> -->

<!-- <nb-card-body>
    <table>
        <tr>
            <td style="width:50% ">Selected value: </td>
            <td class="formtext ">{{ airForm.controls.StartTime.value | date:"dd-MM-yyyy " }}</td>
        </tr>
    </table>

</nb-card-body> -->

<!-- <nb-card> -->
    <!-- <nb-card-header>
    </nb-card-header> -->

        <!-- <nb-card-body>
        <div class="row ">
        
            <ejs-grid #grid [dataSource]='daDate' [toolbar]='toolbar' (toolbarClick)='toolbarClick($event)' (toolbarClick)='clickHandler($event)' [allowPaging]="true " [pageSettings]='pageSettings'
                 [filterSettings]='filterOptions' allowTextWrap='true' [allowExcelExport]='true' [allowFiltering]="true" [allowPdfExport]='true' height='380'>
                <e-columns>
                        <e-column field='Name' headerText='Nombre' width=120 type='string'></e-column>
                        <e-column field='CountStatudBagAlarm' headerText='Bag' width=100></e-column>
                        <e-column field='Total' headerText='Total' width=100></e-column>
                        <e-column field='PercAlarm' headerText='Alarm' width=100></e-column>
                        <e-column field='CountStatudBagClear' headerText='Clear' width=100></e-column>
                        <e-column field='PercClear' headerText='Clean' width=100></e-column>
                </e-columns>
            </ejs-grid>

        </div>
    </nb-card-body> -->
    
    <!-- <div *ngIf="airForm.controls[ 'StartTime'].hasError( 'required') && airForm.controls[ 'StartTime'].touched " class="alert alert-danger ">Date value is required
        <div *ngIf="airForm.controls[ 'StartTime'].value ">
            <nb-card-body>
                <ejs-grid [dataSource]='daDate' [allowPaging]="true " [pageSettings]='pageSettings' [filterSettings]='filterOptions' [allowFiltering]="true ">
                    <e-columns>
                        <e-column field='Name' headerText='Nombre' width=120></e-column>
                        <e-column field='CountStatudBagAlarm' headerText='Bag' width=100></e-column>
                        <e-column field='Total' headerText='Total' width=100></e-column>
                        <e-column field='PercAlarm' headerText='Alarm' width=100></e-column>
                        <e-column field='CountStatudBagClear' headerText='Clear' width=100></e-column>
                        <e-column field='PercClear' headerText='Clean' width=100></e-column>
                    </e-columns>
                </ejs-grid>
            </nb-card-body>
        </div>
    </div> -->
<!-- </nb-card> -->

<!-- <bold-reportviewer id="reportViewer_Control4" [reportServiceUrl] = "reportServiceUrl" [reportServerUrl]="reportServerUrl" 
  [serviceAuthorizationToken]="serviceAuthorizationToken"  [reportPath] = "reportPath" style="width: 100%;height: 950px">
</bold-reportviewer> -->

<!-- <iframe src='http://10.100.22.109:64332/reporting/site/site1/reports/6ddf70dd-572e-48cd-a3ad-6446ab2c33dd/Reports%20Pia/Estadisticas%20EDS?isembed=true&report_comments=true&views=true' 
id='report-frame' width='100%' height='720px' allowfullscreen frameborder='0'></iframe> -->

<!-- <iframe src='http://xpl-matbag-app01:63863/reporting/site/site1/reports/6ddf70dd-572e-48cd-a3ad-6446ab2c33dd/Reports%20Pia/Estadisticas%20EDS?isembed=true&report_comments=true&views=true' 
id='report-frame' width='100%' height='720px' allowfullscreen frameborder='0'></iframe> -->