<!-- <div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>
                <h6 id="h6">Consumo energetico</h6>
            </nb-card-header>
            
        </nb-card>
    </div>
</div> -->



<!-- <iframe src='http://10.100.22.109:62655/bi/site/site2/dashboards/8749530f-8883-43f4-872f-0a9bc2343962/BHS/Consumo%20Energ%C3%A9ticos%20Equipos?isembed=true&export=true' 
id='dashboard-frame' width='100%' height='600px' allowfullscreen frameborder='0'></iframe> -->

<!-- <iframe src='http://xpl-matbag-app01:63863/bi/site/site2/dashboards/a805aeee-8ced-43a8-b7dc-e90c309a6511/BHS/Consumo%20Energ%C3%A9ticos%20Equipos?isembed=true&views=true&export=true' 
id='dashboard-frame' width='100%' height='600px' allowfullscreen frameborder='0'></iframe> -->

<iframe src='http://xpl-matbag-app01:63863/bi/site/site2/dashboards/a805aeee-8ced-43a8-b7dc-e90c309a6511/BHS/Consumo%20Energ%C3%A9ticos%20Equipos?isembed=true&export=true' 
id='dashboard-frame' width='100%' height='600px' allowfullscreen frameborder='0'></iframe>