<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>
                <h6 id="h6">Consumo energetico</h6>
            </nb-card-header>
            <!-- <nb-card-body id="form">
                <form class="form-inline" novalidate id="formId">

                    <div>
                        <input nbInput placeholder="Seleccione una fecha" [nbDatepicker]="formpicker">
                        <nb-datepicker name=" StartTime" id="StartTime " #formpicker></nb-datepicker>
                    </div>


                    <button nbButton status="primary " class="btn btn-primary">Cosultar</button>
                </form>
            </nb-card-body> -->
        </nb-card>
    </div>
</div>

<!-- <nb-card>
    <nb-card-body>

        <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis'>
            <e-series-collection>
                <e-series [dataSource]='chartData' type='Line' xName='month' yName='sales' name='Sales'></e-series>
            </e-series-collection>
        </ejs-chart>

    </nb-card-body>
</nb-card> -->

<ngx-electricity></ngx-electricity>

<!-- <nb-card>
    <nb-card-body>
        <div class="col-xxxl-9">
            <ngx-electricity></ngx-electricity>
        </div>
    </nb-card-body>
</nb-card> -->


<!-- <div class="col-xxxl-9 ">
    <ngx-solar [chartValue]="consuData"></ngx-solar>
</div> -->

<!-- <div class="col-xxxl-9"> -->
    <!-- Conzumo por zonas -->
    <!-- <ngx-consum-zone></ngx-consum-zone>  -->
<!-- </div> -->

<!--<nb-card>
     <ejs-chart #chart id='chart-container' [chartArea]='loaded' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' (loaded)='loaded($event)'>
        <e-series-collection>
            <e-series [dataSource]='series1' type='Line' xName='x' yName='y' width=2 [animation]='animation1'>
            </e-series>
        </e-series-collection>
    </ejs-chart> 
    <div class="row">-->
<!-- <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
            <ngx-electricity></ngx-electricity>
        </div> -->
<!-- <ngx-solar [chartValue]="solarValue"></ngx-solar> 
    </div>
</nb-card>-->


<!-- <nb-card>
    <nb-tabset>
        <nb-tab tabTitle="Salidas">

            <div class="row show-grid">

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Security Feed Check In</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">16.521 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 18.170 kWh</div>
                                <div>
                                    <img src="./assets/img/sfc.png" class="rounded float-right" width="80px" alt="...">
                                </div>
                            </div>

                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Security Feed</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">20.738 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 22.965 kWh</div>
                                <div>
                                    <img src="./assets/img/sf.png" class="rounded float-right" width="80px" alt="...">
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Crossover</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">12.284 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 13.916 kWh</div>
                                <div>
                                    <img src="./assets/img/cr.png" class="rounded float-right" width="80px" alt="...">
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Transfer Line</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">22.421 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 24.421 kWh</div>
                                <div>
                                    <img src="./assets/img/tx.png" class="rounded float-right" width="80px" alt="...">
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Make Up</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">25.910 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 26.430 kWh</div>
                                <div>
                                    <img src="./assets/img/mu.png" class="rounded float-right" width="80px" alt="...">
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Alarm Line</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">17.927 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 19.761 kWh</div>
                                <div>
                                    <img src="./assets/img/al.png" class="rounded float-right" width="80px" alt="...">
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Clear Line</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">27.256 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 28.368 kWh</div>
                                <div>
                                    <img src="./assets/img/al.png" class="rounded float-right" width="80px" alt="...">
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Security Shunt</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">16.685 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 8.583 kWh</div>
                                <div>
                                    <img src="./assets/img/ss.png" class="rounded float-right" width="80px" alt="...">
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>On Screen Resolution Line</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">21.147 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 23.837 kWh</div>
                                <div>
                                    <img src="./assets/img/osr.png" class="rounded float-right" width="80px" alt="...">
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Manual Encode</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">15.278 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 17.573 kWh</div>
                                <div>
                                    <img src="./assets/img/me.png" class="rounded float-right" width="80px" alt="...">
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>

        </nb-tab>

        <nb-tab tabTitle="Llegadas">

            <div class="row show-grid">
                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Inbound 1</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">6.421 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 8.421 kWh</div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Inbound 2</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">6.421 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 8.421 kWh</div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-4">
                    <nb-card size="tiny" class="solar-card">
                        <nb-card-header>Inbound 3</nb-card-header>
                        <nb-card-body>
                            <div echarts [options]="option" class="echart">
                </div>
                            <div class="info">
                                <div class="h4 value">6.421 kWh</div>
                                <div class="details subtitle-2"><span>out of</span> 8.421 kWh</div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </nb-tab>
    </nb-tabset>
</nb-card> -->