
    <nb-card>
        <nb-card-header>
            OSR1-2
        </nb-card-header>
    <nb-card-body>
    <ejs-circulargauge  #gaugeOs1_2 id="sample-dataOSR1_2" style='display: block; height:150px; '>
        <e-axes>
            <e-axis startAngle=260 endAngle=100 [majorTicks]="majorTicks" [minorTicks]="minorTicks"
                [labelStyle]="labelStyle" [lineStyle]="lineStyle" [ranges]="ranges" [pointers]="pointers2">
                <e-annotations>
                    <e-annotation [content]="annotation" angle=180 radius='30%' zIndex='1'></e-annotation>
                    <!-- <e-annotation [content]="annotation2" angle=180 radius='65%' zIndex='1'></e-annotation> -->
                </e-annotations>
            </e-axis>
        </e-axes>
    </ejs-circulargauge>
    <div  style="margin-left: 23%; margin-top: -0%; padding-top: -40px; padding-block-start: -98px;"> 
       <!-- <p> {{TeamOSR1_2?.OSR1_2_CorrienteActualMotor | number  }} Corriente </p>
       <p> {{TeamOSR1_2?.OSR1_2_PotenciaActualMotor | number  }} Potencia </p>
       <p> {{TeamOSR1_2?.OSR1_2_KWh | number  }} kWh </p> -->
       
       <pre style="padding: 0.5625em 0.625em; margin-top: -0.10rem;"><b>Corriente:</b>  {{TeamOSR1_2?.CorrienteActualMotor}}  &nbsp; A</pre>
       <pre style="padding: 0.5625em 0.625em; margin-top: -1.9rem;"><b>Potencia:</b>   {{TeamOSR1_2?.PotenciaActualMotor}} &nbsp; W</pre>
       <pre style="padding: 0.5625em 0.625em; margin-top: -1.9rem;"><b>Voltaje:</b>    {{TeamOSR1_2?.VoltajeActualMotor | number}}   VAC </pre>
       <pre style="padding: 0.5625em 0.625em; margin-top: -1.9rem;"><b>Consumo:</b>    {{TeamOSR1_2?.KWh | number}}  &nbsp; kwh </pre>

    </div>
</nb-card-body>
</nb-card>
