.btn btn-primary {
    margin-top: 4px;
}

.title {
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.cardStyle {
    margin: inherit;
    margin-block: auto;
}