<nb-card>
    <nb-card-header>
        <div class="title">
            Asignación de aerolíneas
        </div>
        
      </nb-card-header>
    <!-- <nb-card-body> -->

        <!-- <div>
            <ngx-search-sheduler></ngx-search-sheduler>
        </div> -->

        <nb-card class="cardStyle">
            <nb-card-header>
                <div class="title">
                   Consulta por fecha
                </div>
            </nb-card-header>

            <nb-card-body>
            <form [formGroup]="airForm" class="form-inline" novalidate id="formId" >
                <div class="form-group mx-sm-4 mb-3">
                    <div>
                        <ejs-datepicker formControlName="StartDates" id="StartDates" data-cy="date-std-field"
                            [(ngModel)]="StartDates" format="MM/dd/yyyy" class="e-field" data-name="StartDates"
                            placeholder='Fecha Inicio' floatLabelType='Always' required>
                        </ejs-datepicker>
        
                    </div>
                </div>
                <br>
                <div class="form-group mx-sm-4 mb-3">
                    <div>
                        <ejs-datepicker formControlName="EndDate" id="EndDate" data-cy="date-etd-field"
                            [(ngModel)]="EndDate" format="MM/dd/yyyy" class="e-field" data-name="EndDate"
                            placeholder='Fecha de Fin' floatLabelType='Always' required>
                        </ejs-datepicker>
        
                    </div>
                </div>
        
                <button nbButton status="primary" class="btn btn-primary" data-cy="consulta-submit-button"
                    (click)="date(airForm.controls.StartDates.value, airForm.controls.EndDate.value)" style="text-transform: none;">Consultar</button>
        
                   
                    <br><br>
                <br>
                <br>
            </form>
        </nb-card-body>
        </nb-card>

        <nb-card class="cardStyle">
            <nb-card-header>
                <div class="title">
                   Listado de vuelos activos
                </div>
            </nb-card-header>
        <nb-card-body>
            
            <div>
                <button type="submit" nbButton status="primary" style="text-transform: none;" (click)="openWindowForm()" *ngIf="access?.includes('assignment.create')">Agregar</button>
            </div>
            <br>
        
            <ejs-grid [dataSource]='ganttData' [editSettings]='editSettings' allowSorting='true'  allowTextWrap="true"
            height='280' width='100%' (rowSelected)='rowSelected($event)'>
               <e-columns>
                   
                   <!-- <e-column field='Id' headerText='Id' [isPrimaryKey]='true' width=30></e-column> -->
                   <e-column field='ChuteName' headerText='MU' textAlign='center' width=40></e-column>
                   <e-column field='Subject' headerText='Vuelo' textAlign='center' width=60></e-column>
                   <e-column field='IATA' headerText='IATA' textAlign='center' width=60></e-column>
                   <e-column field='startTime' headerText='STD' type="date" format="dd/MM/yyyy HH:mm" width=60></e-column>
                   <e-column field='endTime' headerText='ETD' type="date" format="dd/MM/yyyy HH:mm" width=60></e-column>
                   <e-column field='taskName' headerText='Aerolinea' textAlign='center' width=120></e-column>
               </e-columns>
        
           </ejs-grid>
        </nb-card-body>
        </nb-card>

        <nb-card class="cardStyle">
            <nb-card-header>
                <div class="title">
                   Cronograma de vuelos activos
                </div>
            </nb-card-header>
        <nb-card-body>
    
            <div class="control-section">
                <ejs-gantt #gantt id="ganttDefault" height="490px" [dataSource]="ganttData" [taskFields]="taskSettings"
                    [columns]="columns" [dayWorkingTime]="dayWorkingTime" [treeColumnIndex]="1" [includeWeekend]="true" [highlightWeekends]="true"
                    [timelineSettings]="timelineSettings" durationUnit="Hour" dateFormat="dd/MM/yyyy HH:mm" height="70%"
                    [labelSettings]="labelSettings" [highlightWeekends]="true" [splitterSettings]="splitterSettings"
                    [editSettings]="editSettings" (actionBegin)="actionBegin($event)" [eventMarkers]="eventMarkers">
                </ejs-gantt>
               </div>
            </nb-card-body>
        </nb-card>

        <!-- <nb-card-body>

            
        
            
           <br>
           
        
        </nb-card-body> -->

        <!-- <div class="control-section">

            <form [formGroup]="airForm" class="form-inline" novalidate id="formId" *ngIf="false">
                <div class="form-group mx-sm-4 mb-3">
                    <div>
                        <ejs-datepicker formControlName="StartDates" id="StartDates" data-cy="date-std-field"
                            [(ngModel)]="StartDates" format="MM/dd/yyyy" class="e-field" data-name="StartDates"
                            placeholder='Fecha Inicio' floatLabelType='Always' required>
                        </ejs-datepicker>

                    </div>
                </div>
                <br>
                <div class="form-group mx-sm-4 mb-3">
                    <div>
                        <ejs-datepicker formControlName="EndDate" id="EndDate" data-cy="date-etd-field"
                            [(ngModel)]="EndDate" format="MM/dd/yyyy" class="e-field" data-name="EndDate"
                            placeholder='Fecha de Fin' floatLabelType='Always' required>
                        </ejs-datepicker>

                    </div>
                </div>

                <button nbButton status="primary" class="btn btn-primary" data-cy="consulta-submit-button"
                    (click)="date(airForm.controls.StartDates.value, airForm.controls.EndDate.value)">Consultar</button>

                <br>
                <br> -->
            <!-- </form> -->

            <!-- <button type="submit" nbButton status="primary" (click)="openWindowForm()">Agregar</button>
            <br><br> -->

            <!-- <ejs-gantt #gantt id="ganttDefault" height="490px" [dataSource]="ganttData" [taskFields]="taskSettings"
                [columns]="columns" [dayWorkingTime]="dayWorkingTime" [treeColumnIndex]="1" [includeWeekend]="true" [highlightWeekends]="true"
                [timelineSettings]="timelineSettings" durationUnit="Hour" dateFormat="dd/MM/yyyy HH:mm" height="70%"
                [labelSettings]="labelSettings" [highlightWeekends]="true" [splitterSettings]="splitterSettings"
                [editSettings]="editSettings" (actionBegin)="actionBegin($event)" [eventMarkers]="eventMarkers">
            </ejs-gantt> -->
            <!-- </div> -->
        <!-- <ejs-gantt #gantt id="ganttDefault" height="430px" [dataSource]="ganttData" [taskFields]="taskSettings" 
             [columns]="columns" [dayWorkingTime]="dayWorkingTime" [treeColumnIndex]="1"  [includeWeekend]="true"
            [timelineSettings]="timelineSettings"  durationUnit="Hour" dateFormat="dd/MM/yyyy HH:mm" height="70%"  
            [labelSettings]="labelSettings" [highlightWeekends]="true" [gridLines]="gridLines" [allowFiltering]="true" 
            allowSelection='true' [allowSorting]="true" [allowResizing]="true" [splitterSettings]="splitterSettings"
            [editSettings]="editSettings" [toolbar]="toolbar" (toolbarClick)='toolbarClick($event)'
            (actionBegin)="actionBegin($event)" [eventMarkers]="eventMarkers" >
            </ejs-gantt> -->


            

        <!-- <ejs-tab id="tab_adaptive" #adaptiveTab heightAdjustMode='None'>
            <e-tabitems>
                <e-tabitem [header]='headerText[0]'>
                    <ng-template #content>
                        <br>
                        <form [formGroup]="airForm" class="form-inline" novalidate id="formId" *ngIf="false">
                            <div class="form-group mx-sm-4 mb-3">
                                <div>
                                    <ejs-datepicker formControlName="StartDates" id="StartDates"
                                        data-cy="date-std-field" [(ngModel)]="StartDates" format="MM/dd/yyyy"
                                        class="e-field" data-name="StartDates" placeholder='Fecha Inicio'
                                        floatLabelType='Always' required>
                                    </ejs-datepicker>

                                </div>
                            </div>
                            <br>
                            <div class="form-group mx-sm-4 mb-3">
                                <div>
                                    <ejs-datepicker formControlName="EndDate" id="EndDate" data-cy="date-etd-field"
                                        [(ngModel)]="EndDate" format="MM/dd/yyyy" class="e-field" data-name="EndDate"
                                        placeholder='Fecha de Fin' floatLabelType='Always' required>
                                    </ejs-datepicker>

                                </div>
                            </div>

                            <button nbButton status="primary" class="btn btn-primary" data-cy="consulta-submit-button"
                                (click)="date(airForm.controls.StartDates.value, airForm.controls.EndDate.value)">Consultar</button>

                            <br>
                            <br>
                        </form>

                        <button type="submit" nbButton status="primary" (click)="openWindowForm()">Agregar</button>
                        <br><br>

                        <ejs-gantt #gantt id="ganttDefault" height="430px" [dataSource]="ganttData"
                            [taskFields]="taskSettings" [columns]="columns" [dayWorkingTime]="dayWorkingTime"
                            [treeColumnIndex]="1" [includeWeekend]="true" [timelineSettings]="timelineSettings"
                            durationUnit="Hour" dateFormat="dd/MM/yyyy HH:mm" height="100%"
                            [labelSettings]="labelSettings" [highlightWeekends]="true" [gridLines]="gridLines"
                            [allowFiltering]="true" allowSelection='true' [allowSorting]="true" [allowResizing]="true"
                            [splitterSettings]="splitterSettings" [editSettings]="editSettings"
                            (actionBegin)="actionBegin($event)" [eventMarkers]="eventMarkers">
                        </ejs-gantt>


                    </ng-template>
                </e-tabitem>
                <e-tabitem [header]='headerText[1]'>
                    <ng-template #content>
                        <ngx-search-sheduler></ngx-search-sheduler>
                    </ng-template>
                </e-tabitem>

            </e-tabitems>
        </ejs-tab> -->

    <!-- </nb-card-body> -->



    <div class='root-container'>
        <ngx-window-form></ngx-window-form>
        <ngx-windows-scheduler></ngx-windows-scheduler>
    </div>

</nb-card>