<!-- <div #container class='root-container'> -->
    <div class="control-section">
        <div style="height:100%; width:100%;">
            <div style="position:relative; top:10px; left:10px;">
    <!-- <ejs-dialog id='device1' #device1 allowDragging='true' [header]='header' [visible]='hidden' [target]='targetElement' 
    width='69%' height='80%' [buttons]='dlgButtons' [position]='{ X: 385.306, Y: 130 }' [showCloseIcon]='showCloseIcon' >
        <ng-template #content>
            <nav ngbNav #nav="ngbNav" class="nav-tabs">
                <ng-container ngbNavItem>
                    <a ngbNavLink>Ordenes</a>
                    <ng-template ngbNavContent >
                    <td *ngIf="ocultar"><button nbButton shape="semi-round" class="boton3" status="primary" (click)="EditPackage()">Crear Arrume</button></td>
            <div class="media">
                <nb-card-body>
                <ejs-grid #grid [dataSource]='orderData' [allowPaging]="true" [pageSettings]='pageSettings' 
                [filterSettings]='filterOptions' allowSorting='true' [editSettings]='editSettings' [toolbar]='toolbarOptions' (actionBegin)="actionBegin($event)" 
                 (toolbarClick)='clickHandler($event)' (created)='created($event)' [toolbar]='toolbar'  allowTextWrap='true' [allowFiltering]="true"  width=100%>
                    <e-columns>
                        <e-column headerText='Editar' width='85' textAlign='Left' [commands]='commands'></e-column>
						<e-column field='order' headerText='Orden' width=105></e-column>
						<e-column field='name' headerText='Nombre' width=110></e-column>
						<e-column field='description' headerText='Descripcion' width=106></e-column>
						<e-column field='reference' headerText='Referencia' width=100></e-column>
						<e-column field='cutLength' headerText='Largo Cortes' width=110></e-column>
						<e-column field='cutsCount' headerText='Cant cortes' width=110></e-column>
						<e-column field='cutsCountOriginal' headerText='Cant Cortes Ini' width=102></e-column>
						<e-column field='state' headerText='Estado' width=105></e-column>
						<e-column field='priority' headerText='Prioridad' width=118></e-column>
						<e-column field='timeStamp' headerText='Fecha'  width=100></e-column>
                    </e-columns>
                </ejs-grid>
            </nb-card-body>
            </div>
			</ng-template>
        </ng-container>

        <ng-container ngbNavItem *ngIf="ocultar">
			<a ngbNavLink>Propiedades</a>
			<ng-template ngbNavContent>
				<div class="row">
					<div class="col-md-4">
						
							<p><b>Estado</b></p>
							<nb-toggle [(ngModel)]="propiedades.isOn" status="success">{{propiedades.isOn}}</nb-toggle>
							
							<p><b>Nombre</b></p>
							<input  type="text" nbInput #nameMachine value="{{ propiedades.description }}" required minlength="0" maxlength="30" size="10">
							
					</div>
					<div class="col-md-4">
						
							<p><b>Tipo dispositivo</b></p>
							
							
							<div class="form-group">
								<select   [(ngModel)]="propiedades.type" [disabled]="selec" class="form-control"  >
									<option *ngFor="let option of devicesType" [value]="option.value"  >
										{{ option.label }}
									  </option>
								  </select>
							  </div>
							  
							  <p><label><b>Ancho</b> </label> {{propiedades.width}}</p>
							  
						
					</div>
					<div class="col-md-4">
						<div #wips *ngIf="propiedades.type=='Target'">
							<p><b>Color</b></p>
							
								
							
							<div class="form-group">
								<select class="form-select"  [(ngModel)]="propiedades.valor" class="form-control"  >
									<option *ngFor="let option of colorLista" [value]="option.value">
										{{ option.label }} 
									</option>
									 
								  </select>
							  </div>

							<p><label><b>Largo</b> </label> {{propiedades.lenght}}</p>
						</div>
					</div>
				</div>
				<div #wips *ngIf="propiedades.type=='Target'"  class="container">
					<div class="col-md-6">
						<nb-card size="small" style="min-width: 5rem; max-width: 35rem; min-height: 5rem; max-height: 12rem; margin: 0 auto 2rem;">
							<nb-card-header>
								WIP Libre 
							  </nb-card-header>
							<nb-list style="height: 20px;">
							  <nb-list-item *ngFor="let option of wipFree" 
							  [value]="option.id" 
							  [class.item-selected]="option.selected"
							  (click)="toggleSelection(option)">
								{{ option.name }}
							  </nb-list-item>
							</nb-list>
						  </nb-card>
					</div>
					<div class="buttons-container">
						<button nbButton (click)="moveSelected('right')"><nb-icon icon="arrow-ios-forward-outline" status="info"></nb-icon></button>
						<button nbButton (click)="moveSelected('left')"><nb-icon icon="arrow-ios-back-outline" status="info"></nb-icon></button>
					</div>
					<div class="col-md-6">
						<nb-card size="small" style="min-width: 5rem; max-width: 35rem; min-height: 5rem; max-height: 12rem; margin: 0 auto 2rem;">
							<nb-card-header>
								WIP Asignado
							  </nb-card-header>
							<nb-list>
							  <nb-list-item *ngFor="let option of wipLista" 
							  [value]="option.id" 
							  [class.item-selected]="option.selected"
							  (click)="toggleSelection(option)">
								{{ option.name }}
							  </nb-list-item>
							</nb-list> 
						  </nb-card>
					</div>
				</div>
				
				
			</ng-template>
		  </ng-container>

	  <ng-container ngbNavItem *ngIf="ocultar">
		<a ngbNavLink>Alias</a>
		<ng-template ngbNavContent>
			<div class="row">
				<div class="col-md-12">
					<nb-card-body>
						
                        <ejs-grid [dataSource]='aliasData' [allowPaging]="true" [editSettings]='editSettings'  (actionBegin)="actionBeginss($event)" [pageSettings]='pageSettings' [filterSettings]='filterOptions' [allowFiltering]="true">
                            <e-columns>
                                <e-column headerText='Editar' width='85' textAlign='Left' [commands]='commands'></e-column>
                                <e-column field='IdAlias' headerText='IdAlias' width=120></e-column>
                                <e-column field='Name' headerText='Nombre' width=120></e-column>
                                <e-column field='Alias' headerText='Alias' width=100></e-column>
                            </e-columns>
                        </ejs-grid>

                        <div #container class='root-container'>
                            <ejs-dialog id='ejDialogTX' #ejDialogTX allowDragging='true' header='' [visible]='hidden' [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
                                <ng-template #content>
                                    <div [formGroup]="orderForm">
                                        <div class="form-row">
                                           
                                            <div class="form-group col-md-12">
                                                <div class="e-float-input e-control-wrapper" >
                                                    <input formControlName="Alias"  id="Alias" name="Alias" type="text" >
                                                    <span class="e-float-line"></span>
                                                    <label class="e-float-text e-label-top" for="Alias">Alias</label>
                                                </div>
                                            </div>
                                            <div>
                                                <button nbButton status="info"  hero>Actualizar</button>
                                            </div>
                                        </div> 
                                    </div>
                                </ng-template>
                            </ejs-dialog>
                        </div>

					</nb-card-body>
			    </div>
		 </div>
		</ng-template>
	</ng-container>

	<ng-container ngbNavItem *ngIf="ocultarPedido">
		<a ngbNavLink>Pedidos Programados</a>
		<ng-template ngbNavContent>
			<div class="row">
				<div class="col-md-12">
					<nb-card-body>
						<ejs-grid #grid [dataSource]='pedidosData' [allowPaging]="true" [pageSettings]='pageSettings' 
                        [filterSettings]='filterOptions' allowSorting='true' [editSettings]='editSettings' [toolbar]='toolbarOptions'
                         [toolbar]='toolbalopr'  allowTextWrap='true' [allowFiltering]="true" 
		                  width=100%>
							<e-columns> 
								<e-column field='OfficeIDCTI' headerText='OfficeIDCTI' width=105></e-column>
								<e-column field='Pedido' headerText='Pedido' width=110></e-column>
								<e-column field='Destino' headerText='Destino' width=106></e-column>
								<e-column field='IdTarget' headerText='IdTarget' width=100></e-column>
								<e-column field='EspesorLamina_Planeado' headerText='Lamina_Planeado' width=110></e-column>
								<e-column field='OrdenProgramacion' headerText='OrdenProgramacion' width=110></e-column>
								<e-column field='Estado' headerText='Estado' width=102></e-column>
								<e-column field='EstadoMaquina' headerText='EstadoMaquina' width=105></e-column>
								<e-column field='LargoLamina_Planeado' headerText='Largo' width=118></e-column>
								<e-column field='AnchoLamina_Planeado' headerText='Ancho'  width=100></e-column>
								<e-column field='FechaRegistro' headerText='Fecha'  width=100></e-column>
								<e-column field='Tarjeta' headerText='Tarjeta'  width=100></e-column>
								<e-column field='CorrInvertida' headerText='CorrInvertida'  width=100></e-column>
								<e-column field='IdOrderSic' headerText='IdOrderSic'  width=100></e-column>
								<e-column field='ListaCorteSIC' headerText='ListaCorteSIC'  width=100></e-column>
							</e-columns>
						</ejs-grid>
					</nb-card-body>
			    </div>
		 </div>
		</ng-template>
	</ng-container>
           

	</nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </ng-template>
    </ejs-dialog> -->
	
<!-- </div> -->
</div>
</div>
</div>

<!-- <nb-card-body>
	<ngx-ormanual></ngx-ormanual>
</nb-card-body> -->
