
// @import '../../../../@theme/styles/themes';
@import '../../../@theme/styles/themes.scss';


@include nb-install-component() {
  ::ng-deep .form {
    display: flex;
    flex-direction: column;

    .text-label {
      margin-top: 1.5rem;
    }
  }
  nb-card {
    min-width: 5rem;
    max-width: 15rem;
    min-height: 5rem;
    max-height: 12rem;
    margin: 0 auto 2rem;
  }

  .boton3{
    margin-left: 0px;
  }

}

.item-selected {
  background:#598bff;
  color: white;
} 

.buttons-container {
height: 90%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.container {
height: 230px;
display: flex;
justify-content: flex-end;
align-items: center;
}

.sele {
  margin-right: 8rem
}

#se{
  margin-right: 10rem
}
