<nb-card>
    <nb-card-header>
        <div class="title h">
            Lista de roles
        </div>
    </nb-card-header>
    <nb-card-body>

        <div>
        <button nbButton status="primary" type="submit" routerLink="/pages/roles/create-rol" class="btn btn-primary" style="text-transform: none;" *ngIf="access?.includes('role.create')">Agregar rol</button>
        </div>
        <br>

        <ejs-grid #grid [dataSource]='dataGrid' [editSettings]="editSettings" (actionBegin)="actionBegin($event)"
         allowTextWrap="true" [toolbar]='toolbar' height='430' width='100%' (rowSelected)='rowSelected($event)'>
            <e-columns>
                <!-- <e-column isPrimaryKey='true' headerText='#ID' field='Id' minWidth=100 width=180></e-column> -->
                <e-column isPrimaryKey='true' field='Name' headerText='Nombre del Rol' minWidth=160 width=170></e-column>
                <e-column field='Created_Date' headerText='Fecha de creación' format="yMd" width=170></e-column>
                <e-column headerText='Acciones' [commands]='commands' minWidth=80 width=100></e-column>
            </e-columns>

        </ejs-grid>
    </nb-card-body>
    <nb-card-footer>
        
    </nb-card-footer> 
</nb-card>