<!-- <h2>Reporte de ordenes</h2> -->

    <nb-card>
        <nb-card-header>
            Ordenes
        </nb-card-header>

        <nb-card-body>
            <!-- <ng2-smart-table class="example-smart-table" [settings]="settings" [source]="ReportOrdens">
            </ng2-smart-table> -->

            <ejs-grid [dataSource]='ReportOrdens' [allowPaging]="true" [pageSettings]='pageSettings' 
            [filterSettings]='filterOptions' [allowFiltering]="true" width=100%>
                <e-columns>
                    <e-column field='batch' headerText='Batch' width=70></e-column>
                    <e-column field='order' headerText='Orden' width=75></e-column>
                    <e-column field='cutsNumberTotal' headerText='N° cortes Total' width=100></e-column>
                    <e-column field='currenCouts' headerText='Arrumes Salida Corrugador' width=100></e-column>
                    <e-column field='ordenesMachineCount' headerText='Arrumes Entrada Maquina' width=110></e-column>
                    <e-column field='diference' headerText='Pendientes por Atender' width=110></e-column>
                </e-columns>
            </ejs-grid>

        </nb-card-body>
    </nb-card>