
    <div class="control-section">
      <!-- <button
        ejs-button
        class="btn btn-primary"
        status="info"
        nbButton
        (click)="openWindowForm()"
      >
        Agregar
      </button> -->

      <!-- <ejs-gantt
        id="ganttDefault"
        #gantt
        [dataSource]="ganttData"
        [taskFields]="taskSettings"
        [treeColumnIndex]="1"
        [dayWorkingTime]="dayWorkingTime"
        [timelineSettings]="timelineSettings"
        timezone="UTC-06:00"
        durationUnit="Hour"
        dateFormat="dd-MM-yyyy hh:mm a"
        height="450px"
        [toolbar]="toolbar"
        [includeWeekend]="true"
        [columns]="columns"
        [allowSelection]="true"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowResizing]="true"
        allowTextWrap="true"
        showColumnMenu="false"
        
        (toolbarClick)="toolbarClick($event)"
      >
      </ejs-gantt>
    </div> -->
  
