
    <nb-card>
        <nb-card-header>
            MU1_3
        </nb-card-header>
    <nb-card-body>
    <ejs-circulargauge  #gaugeMU1_3 id="sample-dataMU1_3" style='display: block; height:150px; '>
        <e-axes>
            <e-axis startAngle=260 endAngle=100 [majorTicks]="majorTicks" [minorTicks]=""
                [labelStyle]="labelStyle" [lineStyle]="lineStyle" [ranges]="ranges" [pointers]="pointers2">
                <e-annotations>
                    <e-annotation [content]="annotation" angle=180 radius='30%' zIndex='1'></e-annotation>
                    <!-- <e-annotation [content]="annotation2" angle=180 radius='65%' zIndex='1'></e-annotation> -->
                </e-annotations>
            </e-axis>
        </e-axes>
    </ejs-circulargauge>
    <div  style="margin-left: 23%; margin-top: -0%; padding-top: -40px; padding-block-start: -98px;"> 
       <!-- <p> {{TeamMU1_3?.MU1_3_CorrienteActualMotor | number : '1.2-2' }} Corriente </p>
       <p> {{TeamMU1_3?.MU1_3_PotenciaActualMotor | number : '1.0-2' }} Potencia </p>
       <p> {{TeamMU1_3?.MU1_3_KWh | number : '4.1-5' }} kWh </p> -->
       
       <pre style="padding: 0.5625em 0.625em; margin-top: -0.10rem;"><b>Corriente:</b>  {{TeamMU1_3?.CorrienteActualMotor}}  &nbsp; A</pre>
       <pre style="padding: 0.5625em 0.625em; margin-top: -1.9rem;"><b>Potencia:</b>   {{TeamMU1_3?.PotenciaActualMotor}} &nbsp; W</pre>
       <pre style="padding: 0.5625em 0.625em; margin-top: -1.9rem;"><b>Voltaje:</b>    {{TeamMU1_3?.VoltajeActualMotor | number}}   VAC </pre>
       <pre style="padding: 0.5625em 0.625em; margin-top: -1.9rem;"><b>Consumo:</b>    {{TeamMU1_3?.KWh | number}}  &nbsp; kwh </pre>

    </div>
</nb-card-body>
</nb-card>
