@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  
  .boton1{
    margin-left: 750px;
  }

  .boton2{
    margin-left: 30px;
  }

  ::ng-deep .example-smart-table {
    .form-control {
      color: nb-theme(form-control-color);
    }
  }
}
