
    <nb-card>
        <nb-card-header>
            SS1-1
        </nb-card-header>
    <nb-card-body>
    <ejs-circulargauge  #gaugeSS1 id="sample-data" style='display: block; height:150px; '>
        <e-axes>
            <e-axis startAngle=260 endAngle=100 [majorTicks]="majorTicks" [minorTicks]="minorTicks"
                [labelStyle]="labelStyle" [lineStyle]="lineStyle" [ranges]="ranges" [pointers]="pointers1">
                <e-annotations>
                    <e-annotation [content]="annotation" angle=180 radius='30%' zIndex='1'></e-annotation>
                    <!-- <e-annotation [content]="annotation2" angle=180 radius='65%' zIndex='1'></e-annotation> -->
                </e-annotations>
            </e-axis>
        </e-axes>
    </ejs-circulargauge>
    <div  style="margin-left: 23%; margin-top: -0%; padding-top: -40px; padding-block-start: -98px;"> 
       <!-- <p> {{TeamSS1_1?.SS1_1_CorrienteActualMotor | number : '4.1-5' }} Corriente </p>
       <p> {{TeamSS1_1?.SS1_1_PotenciaActualMotor | number : '4.1-5' }} Potencia </p>
       <p> {{TeamSS1_1?.SS1_1_KWh | number : '4.1-5' }} kWh </p> -->
       
       <pre style="padding: 0.5625em 0.625em; margin-top: -0.10rem;"><b>Corriente:</b>  {{TeamSS1_1?.CorrienteActualMotor}}  &nbsp; A</pre>
       <pre style="padding: 0.5625em 0.625em; margin-top: -1.9rem;"><b>Potencia:</b>   {{TeamSS1_1?.PotenciaActualMotor}} &nbsp; W</pre>
       <pre style="padding: 0.5625em 0.625em; margin-top: -1.9rem;"><b>Voltaje:</b>    {{TeamSS1_1?.VoltajeActualMotor | number}}   VAC </pre>
       <pre style="padding: 0.5625em 0.625em; margin-top: -1.9rem;"><b>Consumo:</b>    {{TeamSS1_1?.KWh | number}}  &nbsp; kwh </pre>

    </div>
    <div>
        <button nbButton status="primary" style="margin-left: 5%;" class="btn btn-primary" data-cy="edit-submit-field" id="submit-btn" >Grafica</button>
        <button nbButton status="danger" style="margin-left: 5%;" data-cy="delete-submit-field" hero>Historial</button>
    </div>
</nb-card-body>
</nb-card>
