<!-- <nb-card>
<div class="control-section progress-bar-parent">
    <div class="row"> -->
        <!-- <div class="col-lg-4 col-md-4 col-4 progress-container">
            <div class="progress-container-align">
                <div id="annotation">
                    <ejs-progressbar #annotation1 id='label-container' [type]='type1' [maximum]='max1' [minimum]='min1'
                        [value]='zonConsData[0]?.value' [width]='width' [height]='height'
                        [animation]='animation' (load)='load($event)' [startAngle]='startAngle1' [endAngle]='endAngle1'>
                        <e-progressbar-annotations>
                            <e-progressbar-annotation
                                content='<div id="point1" style="font-size:20px;font-weight:bold;color:#b52123;fill:#b52123"><span>80%</span></div>'>
                            </e-progressbar-annotation>
                        </e-progressbar-annotations>
                    </ejs-progressbar>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-4 col-4 progress-container">
            <div class="progress-container-align">
                <div id="pause">
                    <ejs-progressbar #annotation2 id='pause-container' [type]='type2' [maximum]='max2' [minimum]='min2'
                        [value]='zonConsData[1]?.value' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                        <e-progressbar-annotations>
                            <e-progressbar-annotation
                                content='<div id="point1" style="font-size:20px;font-weight:bold;color:#b52123;fill:#b52123"><span>80%</span></div>'>
                            </e-progressbar-annotation>
                        </e-progressbar-annotations>
                    </ejs-progressbar>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-4 col-4 progress-container">
            <div class="progress-container-align">
                <div id="download">
                    <ejs-progressbar #annotation3 id='download-container' [type]='type3' [maximum]='max3' [minimum]='min3' [value]='zonConsData[2]?.value' [width]='width' [height]='height' [animation]='animation'
                         (load)='load($event)'>
                         <e-progressbar-annotations>
                            <e-progressbar-annotation
                                content='<div id="point1" style="font-size:20px;font-weight:bold;color:#b52123;fill:#b52123"><span>80%</span></div>'>
                            </e-progressbar-annotation>
                        </e-progressbar-annotations>
                    </ejs-progressbar>
                </div>
            </div>
        </div> -->

        <!-- <div class="col-lg-4 col-md-4 col-4 progress-container">
            <div class="progress-container-align">
                <div id="continuo">
                    <ejs-progressbar #annotation5 id='continuo-container' [type]='type5' [maximum]='max5' [minimum]='min5'
                        [value]='zonConsData[3]?.value' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                        <e-progressbar-annotations>
                            <e-progressbar-annotation
                                content='<div id="point1" style="font-size:20px;font-weight:bold;color:#b52123;fill:#b52123"><span>80%</span></div>'>
                            </e-progressbar-annotation>
                        </e-progressbar-annotations>
                    </ejs-progressbar>
                </div>
            </div>
        </div> -->

        <!-- <div class="col-lg-4 col-md-4 col-4 progress-container">
            <div class="progress-container-align">
                <div id="sfc">
                    <ejs-progressbar #annotation6 id='sfc-container' [type]='type6' [maximum]='max6' [minimum]='min6'
                        [value]='zonConsData[4]?.value' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                        <e-progressbar-annotations>
                            <e-progressbar-annotation
                                content='<div id="point1" style="font-size:20px;font-weight:bold;color:#b52123;fill:#b52123"><span>80%</span></div>'>
                            </e-progressbar-annotation>
                        </e-progressbar-annotations>
                    </ejs-progressbar>
                </div>
            </div>
        </div> -->

    <!-- </div> 
</div>
</nb-card> -->

<nb-card>
<div class="container">
    <nb-tabset fullWidth>
     <nb-tab tabTitle="Consumo energetico por zonas">
        <div class="row show-grid" >
          <div class="col-md-3">
            <nb-card (click)="gosfc()" >
              <!-- <nb-card-header>Security Feed Check In</nb-card-header> -->
              <nb-card-header>{{consumeData[9]?.ZoneName}}</nb-card-header>
              <nb-card-body >
                <div class="col-lg-4 col-md-4 col-4 progress-container">
                    <div class="progress-container-align">
                        <div id="pause">
                            <ejs-progressbar #annotation2 id='pause-container' [type]='type2' [maximum]='max2' [minimum]='min2'
                                [value]='consumeData[9]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                                <e-progressbar-annotations>
                                    <e-progressbar-annotation
                                        content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                    </e-progressbar-annotation>
                                </e-progressbar-annotations>
                            </ejs-progressbar>
                        </div>
                         
                    </div>
                </div>
                <div class="info">
                    <div>
                        <img
                          src="./assets/img/sfc.png"
                          class="rounded float-right"
                          width="80px"
                          alt="..."
                        />
                      </div>
                  <!-- <div class="h4 value"> {{consumeData[6]?.KWh}} kWh</div>
                  <div class="h4 value"> {{consumeData[6]?.kwhTotal}} KWh Total</div> -->
                  <pre><b>KWh:</b>        {{consumeData[9]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[9]?.kwhTotal | number : '1.0-0'}}</pre>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
          <div class="col-md-3">
            <nb-card (click)="gosf()">
              <nb-card-header>{{consumeData[8]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="col-lg-4 col-md-4 col-4 progress-container">
                    <div class="progress-container-align">
                        <div id="download">
                            <ejs-progressbar #annotation3 id='download-container' [type]='type3' [maximum]='max3' [minimum]='min3' 
                            [value]='consumeData[8]?.porcent' [width]='width' [height]='height' [animation]='animation'
                                 (load)='load($event)'>
                                 <e-progressbar-annotations>
                                    <e-progressbar-annotation
                                        content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                    </e-progressbar-annotation>
                                </e-progressbar-annotations>
                            </ejs-progressbar>
                        </div>
                    </div>
                </div>
                <div class="info">
                <div>
                    <img
                      src="./assets/img/sf.png"
                      class="rounded float-right"
                      width="80px"
                      alt="..."
                    />
                  </div>
                  <!-- <div class="h4 value">{{consumeData[5]?.KWh}}  kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[8]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[8]?.kwhTotal | number : '1.0-0'}}</pre>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
          <div class="col-md-3">
            <nb-card>
              <nb-card-header>{{consumeData[2]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="col-lg-4 col-md-4 col-4 progress-container">
                    <div class="progress-container-align">
                        <div id="continuo">
                            <ejs-progressbar #annotation5 id='continuo-container' [type]='type5' [maximum]='max5' [minimum]='min5'
                                [value]='consumeData[2]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                                <e-progressbar-annotations>
                                    <e-progressbar-annotation
                                        content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                    </e-progressbar-annotation>
                                </e-progressbar-annotations>
                            </ejs-progressbar>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <img
                          src="./assets/img/cr.png"
                          class="rounded float-right"
                          width="88px"
                          alt="..."
                        />
                      </div>
                  <!-- <div class="h4 value">{{zonConsData[7]?.KWh}} kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[2]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[2]?.kwhTotal | number : '1.0-0' }}</pre>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
          <div class="col-md-3">
            <nb-card (click)="gotx()">
              <nb-card-header>{{consumeData[11]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="col-lg-4 col-md-4 col-4 progress-container">
                    <div class="progress-container-align">
                        <div id="sfc">
                            <ejs-progressbar #annotation6 id='sfc-container' [type]='type6' [maximum]='max6' [minimum]='min6'
                                [value]='consumeData[11]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                                <e-progressbar-annotations>
                                    <e-progressbar-annotation
                                        content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                    </e-progressbar-annotation>
                                </e-progressbar-annotations>
                            </ejs-progressbar>
                        </div>
                    </div>
                </div>
                
                <div class="info">
                  
                    <img
                      src="./assets/img/tx.png"
                      class="rounded float-right"
                      width="80px"
                      alt="..."
                      style="margin: 4px"
                    />
                  
                </div> 
                <div >
                <!-- <div class="h4 value">{{zonConsData[3]?.KWh}} kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[2]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[2]?.kwhTotal | number : '1.0-0'}}</pre>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
           <div class="col-md-3">
            <nb-card (click)="gome()">
              <nb-card-header>{{consumeData[6]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="col-lg-4 col-md-4 col-4 progress-container">
                    <div class="progress-container-align">
                        <div id="me">
                            <ejs-progressbar #annotation10 id='me-container' [type]='type7' [maximum]='max7' [minimum]='min7'
                                [value]='consumeData[6]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                                <e-progressbar-annotations>
                                    <e-progressbar-annotation
                                        content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                    </e-progressbar-annotation>
                                </e-progressbar-annotations>
                            </ejs-progressbar>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <img
                          src="./assets/img/me.png"
                          class="rounded float-right"
                          width="80px"
                          alt="..."
                        />
                      </div>
                  <!-- <div class="h4 value">{{zonConsData[5]?.KWh}} kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[6]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[6]?.kwhTotal | number : '1.0-0'}}</pre>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
          <div class="col-md-3">
            <nb-card (click)="goal()">
              <nb-card-header>{{consumeData[0]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="progress-container-align">
                    <div id="al">
                        <ejs-progressbar #annotation9 id='al-container' [type]='type8' [maximum]='max8' [minimum]='min8'
                            [value]='consumeData[0]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                            <e-progressbar-annotations>
                                <e-progressbar-annotation
                                    content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                </e-progressbar-annotation>
                            </e-progressbar-annotations>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <img
                          src="./assets/img/al.png"
                          class="rounded float-right"
                          width="80px"
                          alt="..."
                        />
                      </div>
                  <!-- <div class="h4 value">{{zonConsData[4]?.KWh}} kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[0]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[0]?.kwhTotal | number : '1.0-0'}}</pre>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
          <div class="col-md-3">
            <nb-card (click)="gocl()">
              <nb-card-header>{{consumeData[1]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="progress-container-align">
                    <div id="cl">
                        <ejs-progressbar #annotation8 id='cl-container' [type]='type9' [maximum]='max9' [minimum]='min9'
                            [value]='consumeData[1]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                            <e-progressbar-annotations>
                                <e-progressbar-annotation
                                    content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                </e-progressbar-annotation>
                            </e-progressbar-annotations>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="info">
                  <!-- <div class="h4 value">{{consumeData[0]?.KWh}} kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[1]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[1]?.kwhTotal | number : '1.0-0'}}</pre>                  
                  <div>
                    <img
                      src="./assets/img/cl.png"
                      class="rounded float-right"
                      width="80px"
                      alt="..."
                      style="margin-top: -68px;"
                    />
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
         <div class="col-md-3">
            <nb-card (click)="goss()">
              <nb-card-header>{{consumeData[8]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="progress-container-align">
                    <div id="ss">
                        <ejs-progressbar #annotation14 id='ss-container' [type]='type10' [maximum]='max10' [minimum]='min10'
                            [value]='consumeData[8]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                            <e-progressbar-annotations>
                                <e-progressbar-annotation
                                    content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                </e-progressbar-annotation>
                            </e-progressbar-annotations>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="info">
                <div>
                    <img
                      src="./assets/img/ss.png"
                      class="rounded float-right"
                      width="80px"
                      alt="..."
                    />
                  </div>
                  <!-- <div class="h4 value">{{consumeData[7]?.KWh}} kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[8]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[8]?.kwhTotal | number : '1.0-0'}}</pre> 
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
          <div class="col-md-3">
            <nb-card (click)="goOsr()">
              <nb-card-header>{{consumeData[7]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="progress-container-align">
                    <div id="osr">
                        <ejs-progressbar #annotation15 id='osr-container' [type]='type11' [maximum]='max11' [minimum]='min11'
                            [value]='consumeData[7]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                            <e-progressbar-annotations>
                                <e-progressbar-annotation
                                    content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                </e-progressbar-annotation>
                            </e-progressbar-annotations>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="info">
                <div>
                    <img
                      src="./assets/img/osr.png"
                      class="rounded float-right"
                      width="80px"
                      alt="..."
                    />
                  </div>
                  <!-- <div class="h4 value">{{consumeData[4]?.KWh}} kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[7]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[7]?.kwhTotal | number : '1.0-0'}}</pre> 
                </div>
              </nb-card-body>
            </nb-card>
          </div>
     
          <div class="col-md-3">
            <nb-card (click)="gomu()">
              <nb-card-header>{{consumeData[5]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="progress-container-align">
                    <div id="mu">
                        <ejs-progressbar #annotation7 id='mu-container' [type]='type11' [maximum]='max11' [minimum]='min11'
                            [value]='consumeData[5]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                            <e-progressbar-annotations>
                                <e-progressbar-annotation
                                    content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                </e-progressbar-annotation>
                            </e-progressbar-annotations>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <img
                          src="./assets/img/mu.png"
                          class="rounded float-right"
                          width="80px"
                          alt="..."
                        />
                      </div>
                  <!-- <div class="h4 value">{{consumeData[3]?.KWh}} kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[5]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[5]?.kwhTotal | number : '1.0-0'}}</pre> 
                </div>
              </nb-card-body>
            </nb-card>
          </div> 

          <!-- <div class="col-md-3">
            <nb-card>
              <nb-card-header>{{consumeData[1]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="control-section progress-bar-parent">
                    <div class="row">
                     <div class="col-lg-4 col-md-4 col-4 progress-container">
                    <div class="progress-container-align">
                        <div id="ib">
                            <ejs-progressbar #annotation14 id='ib2-container'  [type]='type12' [maximum]='max12' [minimum]='min12'
                                [value]='consumeData[1]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                                <e-progressbar-annotations >
                                    <e-progressbar-annotation
                                    content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                </e-progressbar-annotation>
                                </e-progressbar-annotations>
                            </ejs-progressbar>
                        </div>
                    </div> 
                </div>
                </div>
                </div>
                <div class="info">
                    <div>
                        <img
                          src="./assets/img/Ibo1.png"
                          class="rounded float-right"
                          width="80px"
                          alt="..."
                        />
                      </div>
                  <pre><b>KWh:</b>        {{consumeData[1]?.KWh}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[1]?.kwhTotal}}</pre> 
                </div>
              </nb-card-body>
            </nb-card>
          </div> -->
    
          <div class="col-md-3">
            <nb-card>
              <nb-card-header>{{consumeData[3]?.ZoneName}}</nb-card-header>
              <nb-card-body>
                <div class="progress-container-align">
                    <div id="ib02">
                        <ejs-progressbar #annotation12 id='ib02-container' [type]='type12' [maximum]='max12' [minimum]='min12'
                            [value]='consumeData[3]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                            <e-progressbar-annotations>
                                <e-progressbar-annotation
                                    content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                </e-progressbar-annotation>
                            </e-progressbar-annotations>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <img
                          src="./assets/img/Ibo2.png"
                          class="rounded float-right"
                          width="80px"
                          alt="..."
                          style="    margin-top: -18px;"
                        />
                      </div>
                  <!-- <div class="h4 value">{{zonConsData[10]?.KWh}} kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[3]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[3]?.kwhTotal | number : '1.0-0'}}</pre> 
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
          <div class="col-md-3">
            <nb-card>
              <nb-card-header>Inbound 3</nb-card-header>
              <nb-card-body>
                <div class="col-lg-4 col-md-4 col-4 progress-container">
                    <div class="progress-container-align">
                    <div id="ib">
                        <ejs-progressbar #annotation13 id='ib-container' [type]='type13' [maximum]='max13' [minimum]='min13'
                            [value]='consumeData[4]?.porcent' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                            <e-progressbar-annotations>
                                <e-progressbar-annotation
                                    content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                </e-progressbar-annotation>
                            </e-progressbar-annotations>
                        </ejs-progressbar>
                    </div>
                </div> 
                </div>
                <div class="info">
                <div>
                    <img
                      src="./assets/img/Ibo3.png"
                      class="rounded float-right"
                      width="80px"
                      alt="..."
                    />
                  </div>
                  <!-- <div class="h4 value">{{zonConsData[11]?.KWh}} kWh</div> -->
                  <pre><b>KWh:</b>        {{consumeData[4]?.KWh | number : '1.0-0'}}</pre>
                  <pre><b>KWh Total:</b>  {{consumeData[4]?.kwhTotal | number : '1.0-0'}}</pre> 
                </div>
              </nb-card-body>
            </nb-card>
          </div>

        </div>
    
        </nb-tab>
    
        <!-- <nb-tab tabTitle="Llegadas">
    
            <div class="row show-grid" >
                <div class="col-md-4">
            <nb-card>
              <nb-card-header>Inbound 1</nb-card-header>
              <nb-card-body>
                <div class="control-section progress-bar-parent">
                    <div class="row">
                     <div class="col-lg-4 col-md-4 col-4 progress-container">
                    <div class="progress-container-align">
                        <div id="ib">
                            <ejs-progressbar #annotation14 id='ib2-container'  [type]='type12' [maximum]='max12' [minimum]='min12'
                                [value]='zonConsData[10]?.value' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                                <e-progressbar-annotations >
                                    <e-progressbar-annotation style="position: absolute; z-index: 1; left: 75px; top: -71px; transform: translate(-50%, -50%);"
                                        content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>50%</span></div>'>
                                    </e-progressbar-annotation>
                                </e-progressbar-annotations>
                            </ejs-progressbar>
                        </div>
                    </div> 
                </div>
                </div>
                </div>
                <div class="info">
                    <div>
                        <img
                          src="./assets/img/me.png"
                          class="rounded float-right"
                          width="80px"
                          alt="..."
                        />
                      </div>
                  <div class="h4 value">{{zonConsData[9]?.KWh}} kWh</div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>Inbound 2</nb-card-header>
              <nb-card-body>
                <div class="progress-container-align">
                    <div id="ib02">
                        <ejs-progressbar #annotation12 id='ib02-container' [type]='type12' [maximum]='max12' [minimum]='min12'
                            [value]='zonConsData[10]?.value' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                            <e-progressbar-annotations>
                                <e-progressbar-annotation
                                    content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                </e-progressbar-annotation>
                            </e-progressbar-annotations>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <img
                          src="./assets/img/me.png"
                          class="rounded float-right"
                          width="80px"
                          alt="..."
                        />
                      </div>
                  <div class="h4 value">{{zonConsData[10]?.KWh}} kWh</div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
    
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>Inbound 3</nb-card-header>
              <nb-card-body>
                <div class="col-lg-4 col-md-4 col-4 progress-container">
                    <div class="progress-container-align">
                    <div id="ib">
                        <ejs-progressbar #annotation13 id='ib-container' [type]='type13' [maximum]='max13' [minimum]='min13'
                            [value]='zonConsData[11]?.value' [width]='width' [height]='height' [animation]='animation'  (load)='load($event)'>
                            <e-progressbar-annotations>
                                <e-progressbar-annotation
                                    content='<div id="point1" style="font-size:20px;font-weight:bold;color:#black;fill:#black"><span>80%</span></div>'>
                                </e-progressbar-annotation>
                            </e-progressbar-annotations>
                        </ejs-progressbar>
                    </div>
                </div> 
                </div>
                <div class="info">
                <div>
                    <img
                      src="./assets/img/me.png"
                      class="rounded float-right"
                      width="80px"
                      alt="..."
                    />
                  </div>
                  <div class="h4 value">{{zonConsData[11]?.KWh}} kWh</div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
    </nb-tab> -->
    
</nb-tabset>
</div>
</nb-card>