
 

// .st1 {
//     fill: #f0f0f0
// }

// .st1:hover {
//     fill: #D6D6D6;
//     stroke: blue
// }

// .st2 {
//     stroke: #000000;
//     stroke-linecap: round;
//     stroke-linejoin: round;
//     stroke-width: 0.75
// }

// .st2:hover {
//     fill: #D6D6D6;
//     stroke: blue
// }

// .st3 {
//     fill: none;
//     stroke: #000000;
//     stroke-linecap: round;
//     stroke-linejoin: round;
//     stroke-width: 0.75
// }

// .st3:hover {
//     fill: none;
//     stroke: blue
// }

.st4 {
    // stroke: #000000;
    // stroke-linecap: butt;
    // stroke-width: 0.35;
    // fill: #598bff;
    // font-size: 0.46664em

    font-size: 0.404em;
    font-family: sans-serif;
}

// .st4:hover {
//     fill: none;
//     stroke: blue
// }

// .st5 {
//     fill: #000000;
//     font-family: Calibri;
//     font-size: 0.26664em
// }

// .st5:hover {
//     fill: none;
//     stroke: blue
// }

// .st6 {
//     fill: #f0f0f0;
//     stroke: #000000;
//     stroke-linecap: butt;
//     stroke-width: 0.65
// }

// .st6:hover {
//     fill: none;
//     stroke: blue
// }

// .st7 {
//     fill: #000000;
//     font-family: Calibri;
//     font-size: 1.00001em
// }

// .st7:hover {
//     fill: none;
//     stroke: blue
// }

// .st8 {
//     font-size: 1em
// }

// .st8:hover {
//     fill: none;
//     stroke: blue
// }

// .st9 {
//     fill: #000000;
//     font-family: Calibri;
//     font-size: 0.499992em
// }

// .st9:hover {
//     fill: none;
//     stroke: blue
// }

// .st10 {
//     fill: none;
//     fill-rule: evenodd;
//     font-size: 12px;
//     overflow: visible;
//     stroke-linecap: square;
//     stroke-miterlimit: 3
// }


svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

// .svg-container svg {
//     width: 85%;
//     height: 85%;
//     overflow-x: scroll;
//     margin-left: 20%;
//   }

//   nb-card {
//     box-shadow: none;
//     border-width: 0;
//     margin: 0;
//     height: 100%;
//     position: relative;
//     display: grid;
//   }

  .layoutbhs {
    // margin-left: 30%;
  }

// .contenedor {
//     border: 5px;
//     // display: flex;
//     justify-content: unset;
//     position: absolute;
//     // top: 108px;
//     // left: 290px;
// }

.contenedor {
    border: 5px;
    display: grid;
    justify-content: unset;
}

.contenedor1 {
    border: 5px;
    display: grid;
    justify-content: unset;
    margin-top: 03%;
}

.contenedor2 {
    border: 5px;
    display: grid;
    justify-content: unset;
    margin-top: 10%;
}

.card1 {
    padding: 10px;
    width: 30%;
}

.card2 {
    padding: 10px;
    width: 30%;
    // margin-left: 15px;
}

.card-dialog {
    z-index: 1016;
    width: 5%;
    left: 95.6px;
    top: 113.55px;
    position: absolute;
}

.scroll{

    border:1px solid;

    height:300px;

    width:auto;

    overflow-y:scroll;

    overflow-x:hidden;

}

// .popover-card {
//     margin: 0;
//     max-width: 18rem;
// }

// #positi {
//     max-height: 495px; 
//     z-index: 1011;
//      width: 250px; 
//      left: 73%; 
//      top: 20.218%;
//     position: absolute;
// }

// #dialog-container {
//     display: block;
//     height: 100%;
//     margin: 0;
//     overflow: hidden;
//     width: 100%;
// }

// #container {
//     visibility: hidden;
// }

// #loader {
//     color: #008cff;
//     height: 40px;
//     left: 45%;
//     position: absolute;
//     top: 45%;
//     width: 30%;
// }

// .pre {
//     margin-top: -1rem;
// }

#control-container {
    padding: 0px !important;
}

#resizeDialog {
    height: 105px;
}

.e-btn-hide {
    display: none;
}

.dlgbtn {
    margin-right: 10px;
}

.control-section.drag {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 350px;
}

#container {
    height: 100%;
    min-height: 280px;
    position: relative;
}

@media screen and (min-width: 150px) and (max-width: 480px) {
    .control-section {
        margin-bottom: 30px;
    }
    .control-wrapper {
        margin-bottom: 0px;
    }
}

p {
    // margin: 0.5rem 0.5rem 0;
    margin: -1.2rem 0.19rem 0.0rem 8.7rem;
}
    
.pre {
    margin-top: -1rem;
}

element.style {
    max-height: 681px;
    z-index: 1040;
    width: 350px;
    left: 305.328px;
    top: 180.125px;
}

.title {
    font-family: sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.titleCard {
    // font-family: sans-serif;
    font-weight: 600;
    // font-size: 0.8375rem;
}