<nb-card style="height: 100vh;">
  <nb-card-header >
    <div class="title">
      Parametrización de reportes
    </div>
    
  </nb-card-header>

  <nb-card-body>

    <!-- [allowPaging]="true"
        [pageSettings]="pageSettings"  -->

    <button type="submit" nbButton status="primary" (click)="openFormCreate()" style="text-transform: none;">Agregar reporte</button>
    <br><br>

    <!-- <div style='height:350px;'> -->
      
    <ejs-grid [dataSource]='dataConfigu' enableStickyHeader='true' [editSettings]='editSettings' [toolbar]='toolbar' allowSorting='true'
    [filterSettings]="filterOptions" allowTextWrap="true" [allowFiltering]="true" (actionBegin)="actionBegin($event)"
    height='430' width='100%' (rowSelected)='rowSelected($event)'>
      <e-columns>

        <e-column field='Parameter' headerText='Parámetros' textAlign='Left' width=90></e-column>
        <e-column field='Value' headerText='Valores' textAlign='Left' width=150></e-column>
        <e-column field='Description' headerText='Descripción' width=140 textAlign='center'></e-column>
        <e-column field='Category' headerText='Categoria' width=70 textAlign='center'></e-column>
        <e-column headerText='Acciones' width='50' textAlign='center' [commands]='commands'></e-column>
      </e-columns>

    </ejs-grid>
    <!-- </div> -->
  </nb-card-body>

  <div class='root-container'>
    <ngx-create-report></ngx-create-report>
    <ngx-edit-report></ngx-edit-report>
  </div>

</nb-card>