<nb-card>
  <nb-card-body>
    <!-- <h1>Scheduler Sita</h1> -->
    
    <!-- <div class="control-section">
        <ejs-gantt id="ganttDefault" #gantt [dataSource]="ganttData" [taskFields]="taskSettings" [dayWorkingTime]="dayWorkingTime"
            [timelineSettings]="timelineSettings"  timezone="UTC" durationUnit="Hour" dateFormat="hh:mm a"
            height="450px" [includeWeekend]="true" [columns]="columns" [allowSelection]="true" [allowFiltering]="true" [allowSorting]="true" [allowResizing]="true" 
            showColumnMenu=true [toolbar]="toolbar">
        </ejs-gantt>
</div> -->

  </nb-card-body>
</nb-card>
