@import '../../../@theme/styles/themes';
@include nb-install-component() {
     ::ng-deep .form {
        display: flex;
        flex-direction: column;
        .text-label {
            margin-top: 1.5rem;
            font-weight: 600;
        }
    }
    .buttons-container {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .container {
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.title {
    // font-weight: 700;
    font-family: sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
}



#label_EndTime_input {
    font-family: sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
}

#label_StartTime_input {
    font-family: sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
}

.nb-theme-default nb-select.appearance-outline.status-basic .select-button {
    background-color: #fff;
    border-color: #fff;
    color: #646976;
}

#input-select {
    background-color: #fff;
    border-color: #fff;
    color: #646976;
}

.inputbutto {
    background-color: #fff;
    border-color: #fff;
    color: #646976;
    
}
.selectinput {
    width: 190%; 
    border: 1px ; 
    max-width: 100%;
    background-color: #fff;
    border-color: #fff;
}

.select-outline-basic-background-color{
    background-color: #fff;
    border-color: #fff;
}

.nb-theme-default nb-select.appearance-outline.status-warning .select-button{
    background-color: #fff;
    border-color: #fff;
}

.nb-theme-default nb-select.appearance-outline.status-basic .select-button {
    background-color: #fff;
    border-color: #fff;
    color: #222b45;
}