<!-- <div class="col-lg-8  content-wrapper"> -->
    <!-- <div id='content' class='box-form' style="margin: -2.0rem -1.9rem -0.2rem 2.0rem; width: 200px; padding: -10px;"> -->

    <!-- <form [formGroup]="airForm">

        <div class="form-group" style="padding-top:10px;">
            <div class="e-float-input">
                <input type="text" style="width: 30em;" name="Subject" class="required" formControlName="Subject" required>
                <span class="e-float-line"></span>
                <label class="e-float-text" for="Subject">Vuelo:</label>
            </div>
            <div *ngIf="airForm.controls.Subject.invalid && (airForm.controls.Subject.dirty || airForm.controls.Subject.touched)" class="alert alert-danger">
                <div *ngIf="airForm.controls.Subject.errors.required">
                    El nombre es obligatorio
                </div>
            </div>
        </div>
 
        <div class="form-group">
            <ejs-dropdownlist formControlName="ProjectId" name="ProjectId" value='value' [fields]='fields1' [dataSource]='carrData' placeholder="Make up" [allowFiltering]='true' floatLabelType='Auto' required>
            </ejs-dropdownlist>
        </div>

        <div class="form-group">
            <ejs-dropdownlist formControlName="TaskId" name="TaskId" value='value' [fields]='fields' [dataSource]='airlinesData' placeholder="Airline" [allowFiltering]='true' floatLabelType='Auto' required>
            </ejs-dropdownlist>
        </div> -->

        <!-- <div class="form-group">
            <label for="ProjectId">Make up </label>
            <br />
            <nb-select id="ProjectId" formControlName="ProjectId" class="form-control" placeholder="Make up">
                <nb-option *ngFor="let itemCarr of carrData" [value]="itemCarr.id">
                    {{ itemCarr.text }}
                </nb-option>
            </nb-select>
        </div>
 
        <div class="form-group">
            <label for="TaskId">Air Lines </label>
            <br />
            <nb-select id="TaskId" formControlName="TaskId" class="form-control" placeholder="Air Line">
                <nb-option *ngFor="let itemAir of airlinesData" [value]="itemAir.id">
                    {{ itemAir.text }}
                </nb-option>
            </nb-select>
        </div> -->

        <!-- <div class="form-group">
            <ejs-datetimepicker formControlName="StartTime" id="StartTime" class="e-field" data-name="StartTime" format="M/dd/yy h:mm a" [value]="dateParser" placeholder='Hora de inicio' floatLabelType='Always' required>
            </ejs-datetimepicker>
        </div>

        <div class="form-group">
            <ejs-datetimepicker formControlName="EndTime" id="EndTime" class="e-field" data-name="EndTime" format="yyyy-MM-dd h:mm a" name="datetime" placeholder='Hora de finalización' floatLabelType='Always' required>
            </ejs-datetimepicker>
        </div>

        <button nbButton class="btn btn-primary" status="success" (click)="saveData()">Guardar</button>

    </form> -->

<!-- </div> -->

<!-- <div class="control-section">
    <div class="col-lg-12">
			<h4 class="form-title"></h4>
        <div class="control_wrapper" id="control_wrapper" style="margin: 25px auto;">
          <form id="reactive" [formGroup]="airForm"> 
              <div class="form-group template">
                      <div class="e-float-input">
                          <input type="text" id="firstname" name="firstname" data-cy="flight-field" class="required" formControlName="Subject" required>
                          <span class="e-float-line"></span>
                          <label class="e-float-text" for="firstname">Vuelo</label>
                      </div>   
                     
                  </div>

                  <div class="form-group template" >
                    <div class="e-float-input" >
                        <ejs-dropdownlist formControlName="ProjectId" name="ProjectId" value='value' data-cy="makeUp-field" [fields]='fields1' [dataSource]='carrData' placeholder="Make up" [allowFiltering]='true' floatLabelType='Auto' required>
                        </ejs-dropdownlist>
                    </div>   
                                
                </div>
                <div class="form-group template" >
                    <div class="e-float-input" >
                        <ejs-dropdownlist formControlName="TaskId" name="TaskId" value='value' data-cy="airline-field" [fields]='fields' [dataSource]='airlinesData' placeholder="Airline" [allowFiltering]='true' floatLabelType='Auto' required>
                        </ejs-dropdownlist>
                    </div>   
                                   
                </div>
                <div class="form-group template" >
                    <div class="e-float-input" >
                        <ejs-datetimepicker formControlName="StartTime" id="StartTime" class="e-field" data-cy="std-field" data-name="StartTime" format="MM/dd/yyyy HH:mm:ss" [value]="dateParser" placeholder='Hora de inicio' floatLabelType='Always' required>
                        </ejs-datetimepicker>
                      
                    </div>   
                </div>

                  <div class="form-group template" >
                          <div class="e-float-input" >
                              <ejs-datetimepicker formControlName="EndTime" id="EndTime" class="e-field" data-cy="etd-field" data-name="EndTime" format="MM/dd/yyyy HH:mm:ss" name="datetime" placeholder='Hora de finalización' floatLabelType='Always' required>
                            </ejs-datetimepicker>
                          </div>
                  </div>
                         
                      <div class="form-group template">
                        <div class="submitBtn">
                          <button nbButton status="primary" style="margin-left: 40%;" class="btn btn-primary" data-cy="save-submit-field"  id="submit-btn" (click)="saveData()">Guardar</button>
                         
                          <div class="desc"><pre><span>                                                            </span></pre></div>      
                        </div>
                      </div>                                       
              </form> 
      </div>
    </div> 
</div> -->



    
    

<ejs-dialog id='formAir' #formAir allowDragging='true' [header]='' [visible]='hidden' [target]='targetElement' width='30%' [showCloseIcon]='showCloseIcon'>
    <ng-template #content>
       

            <div class="modal-body">
               
            
                <form [formGroup]="airForm">
                   
                    <div class="form-outline mb-4">
                      <label class="form-label title" for="form6Example3"> Vuelo </label>
                      <input type="text" formControlName="Subject" id="form6Example3" class="form-control" />
                    </div>

                    <!-- <div class="form-outline mb-4">
                        <label class="form-label title" for="form6Example3">Descripción</label>
                        <input type="text" formControlName="Description" id="form6Example3" class="form-control" />
                      </div> -->

                      <div class="form-group" [formGroup]="airForm" >
                        <label class="form-label title" for="form6Example3">Make up </label>
                        <br />
                        <nb-select style="width: 190%; border: 1px ; max-width: 100%;" id="Make up" placeholder="Make up" formControlName="ProjectId" class="form">
                            <nb-option *ngFor="let item of carrData" [value]="item.text">
                                {{ item.text }}
                            </nb-option>
                        </nb-select>
                    </div>

                    <div class="form-group" [formGroup]="airForm" >
                        <label class="form-label title" for="form6Example3">Aerolineas </label>
                        <br />
                        <nb-select style="width: 190%; border: 1px ; max-width: 100%;" id="Category" placeholder="Aerolineas" formControlName="TaskId" class="form">
                            <nb-option *ngFor="let item of airlinesData" [value]="item.id">
                                {{ item.text }}
                            </nb-option>
                        </nb-select>
                    </div>

                      <div class="form-outline mb-4">
                        <!-- <label class="form-label title" for="form6Example3">Url Reporte</label> -->
                        <ejs-datetimepicker formControlName="StartTime" id="StartTime" class="e-field" data-cy="std-field" data-name="StartTime" format="MM/dd/yyyy HH:mm:ss" [value]="dateParser" placeholder='Hora de inicio' floatLabelType='Always' required>
                        </ejs-datetimepicker>
                      </div>

                      <div class="form-outline mb-4">
                        <!-- <label class="form-label title" for="form6Example3">Url Grafica</label> -->
                        <ejs-datetimepicker formControlName="EndTime" id="EndTime" class="e-field" data-cy="etd-field" data-name="EndTime" format="MM/dd/yyyy HH:mm:ss" name="datetime" placeholder='Hora de finalización' floatLabelType='Always' required>
                        </ejs-datetimepicker>
                      </div>
                
                  </form>
            
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Cerrar</button>
                <button type="button" class="btn btn-primary"  (click)="saveData()">Agregar</button>
              </div>
            
    </ng-template>
</ejs-dialog>