<nb-card>

    <nb-card-header>
        <nav class="navigation">
            <a href="#" (click)="back()" class="link back-link" aria-label="Back">
                <nb-icon icon="arrow-back"></nb-icon>
            </a>
            <h5 class="h">CROSS OVER</h5>
        </nav>
    </nb-card-header>

    <nb-card-body>

        <svg x="0px" y="0px" viewBox="90 75 190.8 70.2">
            <image style="overflow:visible;" width="42" height="32" id="Layer_0_xA0_Imagen_49_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAmCAYAAAC76qlaAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
          GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACjRJREFUeNrsWWlsHdUVPnfu7PPm
          veclsR07OMaxTQhL0kDKXpawqVBEERVVq/6sVCSEWlXlR6X+6p9WalGrClWiUkURUhERoUAIUUkI
          hCTgpMYQm4TYWezn5dl+++wzd2Z65tkJTkggBhL4wdij8Zs3c+93zvnOd869Bvj2uLgHOZ+H7GpV
          mDj4YROJY17NZHxBVRn+DYCna5qinMnYcjpt6cuWhxcLOH8+D/mO0zq2d/fPSBC0SoJQojxvCIQQ
          jgAXczSb6u4ZUFrb3sBHy98Y4GEQcJPDQ5cOv/zij2PTXKul0yDr6VCKIk7kCInQ68tuu3NzKgzf
          P1/gzPc5ZpkCRo2Lowgv8Xz04wiSz6c9HMckuUcojQjHOcry1vBzgReOH0vt/+fTqwjzbxdJ1GiH
          Xuy4FjBRCAyjJkhAaDKKMJtvIBBe0f+7X2cpiev8404SMUIwgc/VqZWAChkM//ZRhefDZfiMCEnc
          KEcxgIDR42JCOUg+nCJzElfKA8f7ckfXm8bUxJi+oiM8J3CvXBLz/XtvCo5/9KhxYmRjlthNjY1y
          MjMOatFKZHOGwwAnguqhgWuFSuufQ55nOA3hqAAcSeave4yDMJknxvDg6xip0LWUqDShQ+Dxi7Mt
          RHPjU2n3CfZ6PEQ1XHaz/FhTHD+Hn2qnAbeKBckzTYnN5dWJF565whof/TkdeutWsVbRM4nD0L0U
          x+NiiwMuwngR8DG81uRoOpgeSQtccosArzUAJyh1ZyU/C7/z5ylnJs4WF/CROriIkHMqB9pPNaAC
          CyPuU1Spjp/oqwzs20CNUp9zZPg+P3e4l/qeoMsyyFEMVTeAMAoAPQdZPgYZR64FqCxoQ4BGMTx5
          BCuiYzmMRN3rCwA48gmQk/jIUqTts5LTyk/fUDyw5zdc7tAqPnAS1i1MgmDQ1c2qBF4oQNn10LMh
          qEIMmkDADGOwGHo/yasI6XMy4PGnUZ0J+lzCTJYCPAljGEV8SHiMMjnFuCSvkgmTU+Y5aNFkcNC9
          NYyAQCLQJQlSMgeWH+KZKEM4/xK3aGxeCHlBDDARE/OQ8GRBSpJsJtG8lxJTT94/zYqEKYzKioHK
          cg5VwQlDUUPuhiAwF/kc1sO8+EiM0gQeZEqh5jMwgwgkHCktUYyCDDaKTaTrhZjj52LGnETjxGyj
          ITe3FnByb17a8ETwBOWFipKPwhGSxCi8D8n9eUfWQ47PMEHTTb1jZb+azbpnB564FYUu4psg8C2g
          ngk08tGAqB4RsijTKVrUIAvghxFUPQYWSp3MU2jMpL1Ub89Bfe01W7NXX7tPWdExzUtSDcEZgqKE
          F7QAoekQSTqEggq8ZwBFI7gYIw2fKES88KyA0tusiOAifUw/AFacUoP38puC4ky3Pz6aFZrbtmur
          1xhN66+NL1rlRG5BIGeAoQEcGiBg5Ckm4Gn0WYCTeFvAJDZcF4q2D9ZHB7rs6dwT6d6rvs+qxWeD
          4uyO0tDgCf3SHltQtfgrB36mGMRJ5vAixLQBq6CCBpgghB56P6obVk9EpFJyhiibDBnqodIYnguW
          l5Pd6uw1qdau3qBWusXJ5zZbY5e9Wzs2Op1a2elzghB/dR5PkiKOP6VIMdInFFXkvwSxbwPxrDqV
          SML/wMECGYDPAnCR84gfKyEBOxF3xwF/8mjanRt/SO1cc0NQzG9xxkZe1nuvHLQmcwWtfWX4pYAT
          QfAYYxFo6TyiUGPX1hEUd1b6IP8TTIQTgGGJD7AQxYIGDDx81cRnMPmxWCWxQ7MAB4YQDQyODbV5
          44cf1S/bsCkyjefs3PHt+bd3fNx49YaamMlGXwi4qGqG5TiBtLJ71DGMNqhVVytYe3ienrWTXxwT
          hpUSMBJEVIBKGqAuFbnAZ5FZwQRxJBTZeifpBAxVCI048mGvXyw8oXWvuYdVSwn/d5U+fH8s07fG
          oZIcLwl4HEdUkxVSGTl0c2F2mmdByGX0FOiaCrIoAEXdXqwmAOSMVmh+cZFUkhW33PuW2LZyaGrH
          1vXRzLHvgFFoSRYiMSZ2GIbgcDJEPlODoQPXy01tyP/KjiiO/h4L4rs4kLNkjmNxSAqJoLa2kGrV
          gKphQM00IYN9eAYNEAXs/M6sSPWWNUYgSBPm12sBFehsc1f3P/p+/yQ59OK/Hym/s/X+OCJ9fmm6
          EZxqPYQRx4OHSc9qlSZr/64fQbZxhm/vGsGvJpYEPGKMN33GYahNCo7S2MDxaQRbKpfAQANc7KSS
          z5okQEKfky1ojAkZYqL6rln3u5htwRZaSMo6NHSsHI/C8E+zm+7dfmL7qw+X9r66iVVJH6FCOmkK
          kjGSHAkxPzyKSXbmQuLzgNvY0h554dlu37ZV0BvKzDMoethU0yKIsqzblknLlgsVwwLHF7A3kYDH
          LjHp8SP0cogSGaFECjqCxrKPoF0qCnW14Gh9vfGBb1ujhdvufG30+X/91J06/j1grBNYoCJFyRdW
          FVw+tZT2775XJ2y5MTlKbIa9x+XrB/X29px7+P1VvFHrkVUjWzNMroLN1UzFgJTIQZMoYTLKQNWG
          OsNDXk5kBJkTmYKisjOS38LLXqdSPjTZv++O2Xd2PuTNTmxkZm1FyJi0sP5esqrgEj5V4nh+UlS0
          hpRlqqQ82+7rqV3Nd/1wl3X044326PBGQal0qqahlas14iBAB9VTwsTlG1sDQc8en52dbeA9pxG7
          TBGpx51tUiXbkKxNN1uzM3tyu3feV+jffT+Zy19BJaWIC3G2JOBSKlVsuuvBZ3H13lw+sOcmOjPx
          3aA612YcLP7KLReGUu2d/2m556GRygf7N9LcsXWiorTZpiG6rkcYhw2wnrHE9q5dqpZdE48d2UDO
          Y3mgLW+ZxsvTtanJ7ZPv7b1La20bznauqnzhfRX0RNv4ztcfLA/s+4FfLq4LjEpzJKUs7dKeHamu
          nndERV1eGey/xpubXovfLfP8gBaQ/1bMu+A7QkaV6ep7Hvhj+023P3nJ+g35i7Y9seCJp8rHj74x
          vv2VnxgfDdzNjFqfPfy/B+ypieu0js4tmXUbX2KV0ogxPHAjy0/1KBolIhYhLxCxX4iSvZjluBSU
          L9S+Cv2sL//wl78W/7Z5S7+6qnfQLpexUQn02Kq22Lmj11ulcg+naAP66jU5c2KsO3VJd460XjJV
          mJnJcIEnyZqu+Kax7Zkdb01/LRtCvKzYeNnnVspHpvvfvSP/9usP07n8dUFhqqtSLjxuZBqqoes0
          YmEaVFNqSQm9DhUXC7hgMHGpdsG25Jasn+ZMvv3o1pceqQ7ufYBZ5mWRYzd6jk1N4F2UA19taB5t
          Wrtuj76q+wQVxeevuv/ByW8E8HqFDUNaOjZyee6/2x4xDw/ebRdne+wg5PW+K1/ruPHWp9qu3vBe
          pm2F/bXv1p7rCGxbmxs+uDG3c9vjWKpXUC312HW/+OV+rNwRXOCD/zIvC6qaVMI3D7+ypcmz7Z4w
          ZPmLAfpLe3wxdRb2SZId1W//6/Dt8U06/i/AABUHD+ZbIZ57AAAAAElFTkSuQmCC" transform="matrix(0.24 0 0 0.24 173.3179 108.6633)"
          [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                            drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
          >
            </image>
      
            <image style="overflow:visible;" width="36" height="28" id="Layer_0_xA0_Imagen_48_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAhCAYAAAC1ONkWAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
          GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACGZJREFUeNrsmOlPHPcZx5+5Z++L
          hSUxNj7AhNqAbUic+gjBkR0UIqq+adWX7d/TfyBS1b6omraq7CpSDiWyjU1tII4hYBwwGPa+2Is9
          Z2fn6vObZTE2dqvUbtMXGWnYWXaOz+/7fJ9jF+D/dKNe1Y3UWpUurq+2KeVSt6WrO+w6dDj9Mvdj
          XxZIk+t0NR51xT69OphdmH1fAjgqnnnnKn708Q8GhkBC6voXffn5mQ9yseClzHZlpE5RcuDwyUcv
          u+D/CEwu5Nnt5W+7Ilf/OJpdXbqcyWTGCsVye4mxAOvyyP5XYA32+4attP7IE//s2lvp+TsTW4nQ
          pXQ0ejhXq3Ga6AbGQoHNMMD4X4KV1lct8U/+OpT5enoim46MJuLxocxWwlpWNNBJFskNYOtV4Cwi
          6Lr+3weTtlJ8/t7do6E/fXQlG1y5nEolz2+l4o6CrICyA0BS21BlUDQFGqUsaJrGVAoFZ12WmbZA
          oPBKywXxUWll+UBhfubC1vL9y+l0HMO2GcjUJErWnq8IjbvN11HqHv3Z7WQ+f3+tUGSH3n1venJy
          8l5nZ2f+pcDM9A8H3fmFuTNb9+9OZmKbl1LR0NF0Ic/VVBX0loGM3T94FwpY3AWGAZ23qCn7a6WV
          ksTlpDr1+rHexb6+vs8vXrx4fWxsbNHpdErPA9FVhbDQNMtp+8AqwQ2xMD97MvvN9EQuvjmaTCZP
          b6UT9pKiYtiMPUBPDmiKRiAK2WjIKwDhug7LVQNidRWfQoPFYtG6urpyuM8NDw9/MjExMdXf3x/i
          eV5tFebS2oq/+HBxuBZ+7PdP/mqq/ScnQ7sek8tlJoclIB3e+OXG4r1fbyUj7jz6qIFha4mzN99o
          VIjDB3M0BTWdglBNh5WKCmnZgCrFAIvqkbMlSWLW19fbY7HYlXQ63Tc7M3P2/IULX8bj8SmnXFNS
          n10b3F6YHZdV5SzTfiBCc9ydfeZXDaCyhZx1I7zpljQNjD1534JCbYA1gWhAgWADgR6jSlEEyjdM
          ekAuUy2SnRruFC6iWq3yDx486HE6HAe1unTGEV4bOe8RpUYxe65Uqo4oFFVv6x++ja0s9BSY4HBo
          4ZXvchVdi7SgjJ2AGTuEDIZLZPCB+ORYXYP1mgYhSYO8RpumoBDGMDPVMKF0vI4AmgvD9yKG/CDI
          QldqbcBplXuzZZcilbddNZoHxuWttfGixAmCsk+xJgBF7YVqhY0YmzxiW8OwSSo8xLAlG2AC0PhA
          Az1IfEZ2cr1uNDOXxus4hPYLNAy6BBjx2eCI20GzoFoLlSootNBctGHQDbkuKorCcBynsfuzFMF2
          oEhmkJDxqJKEqoRqKqxWVUhgyCoIwjDsrpotD5KwEeWwmJnHdoQ+7eJg2C1Cr8cOdqsDFFY0fbi3
          Q8hSzR78ZvZcolL9sJjZmnphgSWmFnG1Cl69KRnwGKFCVQUzT0MV2CZAs1Lshn1XdVTRiovptXMw
          6BHhtMcKHU4nqAgk0Rxozymfuly3KLHgT0WBVyvpVJJ9tqgRIBvLEMOYGUZ8tIZgaVkzfULC2sSg
          0djYjnTiI1NoMEjI8bhbpOEEKnTaa4ODLgfQvAVqjGACvaiPMiQyHEdZydI0TdoFq28X2PDiQruq
          6IdL6KMwmvphRTPDpu7UC6KSCdBShxh95z2HCrWxFJxAH73ls6CPnCCIVmiwAsjAgL5n8U+u10BV
          FPycBtbukv1dh+a9J079oeN436oJVqlUmKt/+fOR8IPF3wTn58aW8ugjLMQVBCQ31I2mX5qpQT3J
          VDymaQZ4fNobLhEueAT0kQ08dgfoZtjYJtCzMmFiEKBaA62h01C1OcHhO5DsP/P2706Of/gpJ1oa
          Jlij0eC2K9Xe5XDk5zPLq925BtYeulnNDbMO0TtAOklRaPUl8/8YAjvHwGCbC4Y73UCzPMgMj2dS
          8EyrMM2oYaOv4yRCsrvA26Hq6QDN3QaGvz1/6NKVu1aPp7xbLnAa0Ciej/Bu798PnBgao2Kx4+lU
          Cu2yk/I7HkJ9SEDNeBCvEdVIuWAYDqwkbIJ9X/ulWr5ClRSlAUWEylAiVBBG9XUA5/GBKFoUt8ed
          Y1mu9tTY4/f7lWKx+N2pU6d+O4vbzMzM+6FQaDQaiXRVsFWRQmnqhTenDMpUU98pE7im3fmL2mPu
          vV4y36DKsmZAzuKBbf9BoN1eECxW4AWh7nG77/m8nt8LAp/dN4+5XC7SVGOpVOoaTgPfTk9Pzy0t
          LV2JhMPnNzY32uingkLUarYaMyH+3RyF56i8CDW7DxquAAgeP4acJefq2OTD/X29H42NXvybwPPK
          CwfFQCCA9RweYeONLC4u3r9x48a43eEYy+VyZ6LRqJ0hpYQoSNoPvpJmTbWK2bM8NKPTVntdtjqV
          LYpzla0u0EUb9lLG/BwnjHKg3T91emjwi71Q/3KC7enpwcFAuj8wMLBx586dmVu3bk36fD4yUvfm
          83mOwJhNGkOJLd1sO08NjbwgWzpeX+Hc3ut5m6fIMOI5pqGMGLWalyglCkKxo91/u+94z8f4mv1e
          ozXKTMyTR7WmMLzrGF6038x4JBK5FAwGA0QxJ9ausz4rdNqEZidgOZX3+KIWX9sNx9E3vuy5MnGr
          YlDVUDh8Y2MzOF6uVM6rms5brZavjnR3Xz81cPLrl/4mnkgk+Lm5uWM3b94cxxHmPalUfNNVzHh/
          caQDHDa7LnjactaOzlmx/bXPj1ye+Mp/rDfcmhZqNYlJplK+RDLZX9guimffHL7X7vfnXtlPBKSy
          bG5u2hYWFgbm/zE9bs8l3xnyOgK8IAZ5p+tm57l3bx4ceXvZ4nRWf5DfLnDwo5PBoG97Y21ASUQD
          OOCFD509t2Tz+krw4/bj9mT7pwADAM5wMKuIRV42AAAAAElFTkSuQmCC" transform="matrix(0.24 0 0 0.24 179.2094 104.527)"
          [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[0]?.Color  + ')
                            drop-shadow(-5px -5px 5px ' + states[0]?.Color   + ')'}"
          >
            </image>
      
            <image style="overflow:visible;" width="38" height="30" id="Layer_0_xA0_Imagen_50_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAhCAYAAACvBDmYAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
            GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACPJJREFUeNrsmOlvHHcZx585dnd2
            Zu/L3sP22onjOBg7pHFtmjZJSapCoESoolBU1PI/8AqJFxAhxIsIeAVIqAJRBBXQKKIkhECcwzma
            2G4cX7HjA9sbe9drZ8/Z3bl5frN2EscNiRoH5QUjze7Mzm9+z2e+z/F7dgD+v23uRj2tiaXMHf/i
            v068Rjk9FMXZ/1a/78DSk8zHbjagJlW49NVLe0d+euSN5Oz0XralY8YSqL2Kl54NUF3TmPzk+I6R
            n3z/neWp0QOpotyYlRSHv1TJ8xXpie1sCmg5lQzf+sXRbycvn3htbunOjpzKeBSrQOsMC26MLn0T
            bLBPGofJnlNfvvGj7x6enbrZlUzdrsmXJValWKA5J1icPjB0fVM8xn7aOMyMDu0aPvqDtxfG+vYv
            JhfrVvI5rqyolG4YOEIFSlNAlUSQxBzYZP//HjQ/Pblt5OgPv5Ma7D2YSCab09mMsyTLtKYbQBCN
            1XGGrqHkJVAVCfyRqH/wypUDgts9E4pG510ul/LUylM5vVSbOP7+G8nLp786NzfTsbSy5C1UJEbR
            9LtwsAaKHxTObKVpCLd131Y8NeO9w0N+x9bW2X1fPPSnzs7O0/F4PG21WvVNA5WyWe/SpXOvLJz5
            69cSE0OfTy0tRrLFoqWiqqAb6+HIB4WEDO52ljFpp1SbMiixerIoWigbL7NW68LevXs/OnTo0Lvd
            3d2X6urqSp9kt4LC0FarQlssOZYX1IeCqrJszWIcJo7/8a2F4Y9eXkguNKzksnxZUah1br73YULy
            CGhnaJgt69BX0CFR0SCHUaBTdPUeTC6vzyc2NjZOvPTSS+f27Nnzu66urmGfzyeTOWRM0NTpDw/n
            hwcO2nfsvMJtaf1DpLMr/dAYxQmt5Uqlbnigd39qbmp7SZJoBQHXqQj3/GxjGOARcEXRoT+vwM2S
            AWnUQVLxoTAEyENo6AUGj1dWVoRSqdSeSCTiAwMDz01NTX0wMjR0Kphfid/62ZHXc4npfVQ4XlLz
            +d/adC3/iGQyypTDmUwuJY1iuUKTYDIeDEY0bqEpU0HJoGAwL8MwOjKFKpbxnCKAuGuoIk2MsSzO
            UZ1ElmUGgb1jNwa7w+mZpuiZ99/M8TanqNHRkqw4nDHrdV1Wkx1dL0j/FdTC2bWFyVslVde1+7xr
            BjU5JHHIW7Be4vctUYWhkg7JigEFHK3q1YHk2hqYeQ9Cr50z6IEWOwVf8IGljdeiFlWJpEWKUjBE
            yGM5KNowM/Jxy5PxwE6UIQoSV88jWH9RM+Mwiy4nNZSmGRxHTFHmDabwqDoxqaOyJEab7AzsCdhg
            p5eHoBPXLpsdJNpCaRR9N78rJdHJC45QJpOxer1e+fHqqFFNFBtNdhoyKkB/QYOJsgFJWQNptUTR
            xBCOo3EMgaKMahVY84aPMWCXzwYvBgVocDuB5RygMFZQKcbko+4rQpnpifpMofg9w2rzL9wcO/lY
            oAwqaCfG0fCoaMAgqriEJbukGeY6TlTEpsT0lKncvRCuNiwIvdvLwcGgHbZ6HMDxTtAtHFQQUF+H
            dy+8WFXi6OWFF+js8nB5eal3A6iGXdDk1HRbLpeLz83P17sFwSFVRJgQdbiOKi5KOuSVaiZX3Uqb
            VDRbncowFTRMVQ0sES0CAy/6eWj3OcDrcoOBgDL2Arrp5lVHUxsLO4MP76yLz1o4/rzN4chsAP3z
            seNv9V6++nZxeSnWXEhZcsv52qFlGSbRzcvoZgUhyCTUat0kMOTEdDWeU6sADRwDnV4rfA7jMOx2
            A8PxoNBW0FavryfbqKqzqWXM1/KZn7saGs/WbN9RWgcqSRL3y1+/u08sFjonZ2Yc4/OTkMnlIIOJ
            IuNU2lrWGxiTxlr+k/Sm75Yuwl3HW+Fw1AVtXgGsdgE01oZuJh5YD0Q9ICc5stfGkq66hr/YQ+Hj
            7viWgdjurgxWIGMd6OWr1w4XxXI3VmZekyVISBqWGxrLjW52lURJ0mxQplHDNAx3j6uGyB7kOajx
            BYAR0M10NQ7Xld8HMpXgW33BrLep+QznC37gjjddDLa2LXgiMYWxWIwN5YllWB9SOASni443bYG2
            9vaZcrlUOX/ubAOWCd5YjUF9NQbNsoOgqlpthshvRCYWkw+waVZp9mGr3qqcOFZwVtyNzYNCqPY9
            Z6yhx7+tddYfbxRtgsN4aJsX8PvP14SCrwh2TtuxfdsJgbefEMViMRIJd42Ojn6rv6+vtVAoYFNU
            hSV+JlDVuKxWADMGjAe6qfsAVakMoqxCweaEuq3Nc4GGht84gjUnUc3xcFtHjvd69Uf2o9FI7a1o
            uPZIxev1BQP+qa1bGpNul0tFyOELFy4MbGtufv3atWtfuTk+Hi6Joln81tQ1i7lhrAm1zr3kd02W
            oYzhlNJZyPIhMGpiEGvdeaymo/29cGPTtCcS1R67cXY6nTIm1A2cmEikchy3JgguyysXzp49O4Gd
            zz+3tbS8g8f7U6mU4/7Vy1STqjYgVVJUGRuRsiTBHZ2BFasX5GAUKI8fWIcT6FAkxUXr7zwK8hOX
            UJvNRm7acKPf7yfNwdzt27eXjx07NoZt2ctzc3NvXrx4cRfGr53A0biselDnGgttNs0GrliFigwJ
            RgAxEAYKE4zFJZOx2iAUCEx53K5pnrdLT+WvSDQaLeGiMIbbQk9PT199ff2XRkZGvo7tWnMRG+o9
            tW54PuQBwcKYMVmxO0GtaQLGGzABSWwE/L7ZUND/Y7fb1YPClJ7anzvsfIins6Io9iPgTDgcvtLc
            3PzN8f6+Vz9rU0J+O5HUDlmHHwpOP1CCB1iLxVzFWIap1AQCv9/a1Pj3nR3tac5mM57632VBEFTy
            BiSdTvecOnVqvCkYOLmdZ7s4mgpP58vPZWQ9LtOsZW0FIwkXjkY+RiU/rI/FUo8LuenvnlLz80Jh
            /t/uUrHIJUpyS6ZS+cZ8YvHVoiiGaIaWo+Fwb31d7Fc+n+cfXbt355+Jl2SYYLa+j69H8vnC85WK
            dAjXrgGP232uoS42taWpscjzvPFMgK5tyVRKGLs5EfJ6Pdl4Q30OYT/Vq5P/CDAALwQtST/Bt98A
            AAAASUVORK5CYII=" transform="matrix(0.24 0 0 0.24 183.6544 101.6091)"
            [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                            drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
            >
              </image>
            
              <image style="overflow:visible;" width="26" height="30" id="Layer_0_xA0_Imagen_51_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAmCAYAAAA4LpBhAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
              GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAB/RJREFUeNrsV1tsFNcZ/s+Z++zO
              ete7Xl8wNuDYQAABbkhRIQRUSNTclaZV1T40D62qPvS171XVl+ahVaVKeaVVqrRV1SgPRKRErWgu
              GCgNBHzBV2zj23rXszuXncs5M/1njQ0pmBDavlQZ2zqS55zz/f/3ff9/zgB88fwPH/JZE+Iogguv
              /7qHAryabW4e7X72hbckw6j9J6Di/V4y3xPM4WvtWVZ7pfLBu983FWUk07d9Al+9/1/NNAGylpfz
              Yd3tCkau5s0Pz7zqDw8cZra1iciqre388vuZx5/8ffuJ596Wm7IrDw1amp5OLf7tzJHa9aGXC/se
              u+RUzeryubM/zAQraVJb6I1dK9WYTGlMFN0Tm/LTSt+B9wonnv9Dfm//gKCo3uemVwoCWVgp7eDj
              Q6+YcbSNZ3IfV0YGD3LJJ01CIBCSREcSgUns2VoYeL3crrbeHLv4+MqeI+9Yk+O/Nbb2jH4uUB74
              ohBFacmuNdHpsb2kudiik1hcNG1wJA6FtAKKICDorVURo9wxs5Fn77fOneoaH/nHwbGTr7/d8fQL
              f9bbOm4+GCjqSEVBlzEnoW7nwjnXSP6/4vrgEB9sP4DmlApZTQaJJhlj3snAmcBq5WJUt580332z
              zx28dHjm1Ft/aj187C9ypsm8PyhjhMexFGB5xL5P6yGTJVGAXCoNpuVDte6DH3JwEnBdhbQigQAN
              zvE3hijw5Kgy3xU5tUJpcXK3dfnCoYVzH7xXt22pvf+xs2pzfvkuUEoIieIYAtyYIbDHOKRlBXa0
              tUI5rcPcyjK4vgPM4VAPGDRpCoIroErCqtYNyiMS1a1UGNR3csvscD/+69cio9Wyxr7aiW9/dbeR
              cIFMqSgJBAGjRkYxBqEipd3NeSikUrBYq8K8WQY38CDkHIMIoQmBc/gnUbouN1JOuW3mohhySGCF
              el7XPemlYUA1ShVDkhqZhDzCMQQThYs1AEPVkFLUVE/BnFmBim2CEwQQILiD8wxVBU3SQBaTvCPg
              EYM6kYBLOlHIRh0p8NGbsSoLFBr1kUSMoSeb1jzUM6FbEaHFMJBaDUqWATcrJQzMAaseAcYJBgYk
              RxKAgL6QdPAxCCpq6wzcBRoHASVxrIiywuRi1pHlmhBXSmmkCKVCrRmDGkYR8hh0WYRN2WZ0sg4l
              uwoLSDlDZlAVnEwgQItFqg5EQKcTurF7Y6QXd1cEVXNzO/b/3V9avFk5X/5BEmVMVsuTJwYLGaDL
              kUoRdKR0i6Jg5inM3IIwIo15q9gUVuHi+4AivRBxlQiUyc2F+XToX7Nw48RMdy6LboFjSWFmtNEw
              8mmjoXXNC2AZ69qPOa5DXX0Xwpg19rg3qOcJMeMqUMpo2qiS+SjEKloFIatFseaHRvYNqhPD4BgJ
              oCY1rWugyTKU6i4sOCb4XhVIJrtqjg0ypcC5gm2GU02rJzXLJTlguWKVW9VU7NZ0aIDHSNttOzZq
              G82WZC+hCWXMvC2lg4qltxSF4AsqriAbaRrSOOIS6sBA1ThRtTY0l+gvzmUYEcLWXf3X0ECOOzq0
              L6q7MsFNhdWGtKo3gkeJmXBMajaLRkqai6cbka5rwb+DruqNVYyZipgMw+hpWK9/CY1FM8CVdJJC
              JlsqHDn+Zv7gkdfknu2jLmbnY3bRnTcM/Eno9vFdPbEyESADcdqYGjle+uMb32PmSv5TmSJtjdOL
              oERUEFxR0XR185ZlTaBRfWG2wD65sG986nraOPDEQPHY07+w2jp2OzNTL9ZnJjcltS3iIbBGeyIh
              i5OAYmCuK/Op0T28WvmxPzm+37p86aSxt/+8eKtvJtMpui7UWoqjuV17ZuWWYgd1rAWv1P1N8/rg
              0WB5Yb919nSnm2/bWTh09GJxW+9rzujwIXts5ASvLGUTQsRG5GRd75hzErmuGgRBjxSEaYcKFr5a
              ByWoCQ0Z57phzOUe3TOkdXZhUwTPHB2+Iuaan3JvznzLGh/ZxWcnDi2/U9mmbOn9Z8cTx86rbR2D
              zsTYM+748F7mufKdXS3hMGkwHD3DHDsTOnbxdhtkYUNTjC7AsvHzW3uqa/w7S4tXy4NXZ8WU8aGS
              LzxrTY1/x7sx0R26dmFm7kavtufAhdajJ35j6voj9uTYd7HWYiLLfrQw3ZaY6lM1fqt8xDUjoXtF
              pNcjohTe6bRUsZXjUDZvTA1Uhq5NSZnsQNDe+bw9MfZSWFrY6X50pn3yyvldyta+CtF0V9/Wd54x
              NmyWyz/S8ahLjj9KyD0OcWyDeJCLWPARFcXgXq0r272FMd+fq/XtOL1y9cqgnG8Z8Jfmv2FfH/pK
              uLzQ71lVjwoiqcradrdW7SIsFMJMzobAEzObusq87urxnaAVPJ5YTCNXSa90a1plw2uGoiTrPM80
              x1c6Ni1VRwYvytkc6j37bWt06NHQdVDOmc2Zrp7hpv39Pwc0Tux7PZnm/GmUsJkUirProD6qHeE1
              krRtnsWTxvysi5WazSYSVVHvK+VPLk+zgE2k4/hnvllJGTt2n1JbWn9X6D9wjQcBt+fnUpuPHF3i
              vi9h++S3O1LiM0HgopZyJF1nD3qVXNN76I2TV7T2joGgVl3WOrt/ueX4U/NqU3ZNpvKt0bvrs4IQ
              GlFZCR7q2ySdngZi/FRpKbJHnnvpxgNdQdXO7jqVpEEpXxh+GNDeF79ex1ocfZAPsnVQMW1MUFn+
              CZrCfNiPIkGS4g1P7S+e//vnXwIMAEUoOObCrKJlAAAAAElFTkSuQmCC" transform="matrix(0.24 0 0 0.24 192.4206 98.0091)"
              [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                            drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
              >
                </image>
      
                    <text x="198.93" y="99.89" class="st4" (click)="ClicXO1()">{{zone[16]?.Name}}</text>
                    <text x="160.93" y="114.89" class="st4" (click)="ClicXO2()">{{zone[15]?.Name}}</text>
                    <text x="167.93" y="106.89" class="st4" (click)="ClicXO3()">{{zons[0]?.Name}}</text>
                    <text x="173.93" y="101.89" class="st4" (click)="ClicXO4()">{{zons[1]?.Name}}</text>

          </svg>

        <ng-template #card>
            <nb-card class="popover-card">
                <nb-card-body>
                    <div class="media" *ngFor="let option of divice; let i = index">
                        {{i}}
                        <img class="align-self-start mr-3" id="im" src="./assets/img/teams.png" alt="Card " />
                        <div class="media-body">
                            <h6>Id equipo: {{option.DeviceId}}</h6>
                            <b>Estado:</b>
                            <p>{{option.Estado}}</p>
                            <b>Consumo (KWH):</b>
                            <p>{{option.Consumo}} </p>
                            <b>TiempoOn:</b>
                            <p>{{option.TiempoOn}} </p>
                            <b>TiempoOff:</b>
                            <p>{{option.TiempoOff}} </p>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </ng-template>

        <div class='root-container'>
            <ngx-window></ngx-window>
        </div>

    </nb-card-body>

</nb-card>