@import '../../../@theme/styles/themes';
@include nb-install-component() {
     ::ng-deep .form {
        display: flex;
        flex-direction: column;
        .text-label {
            margin-top: 1.5rem;
        }
    }
    .buttons-container {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .container {
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}