<!-- <bold-reportviewer id="reportViewer_Control2" [reportServiceUrl] = "reportServiceUrl12" [reportServerUrl]="reportServerUrl12" 
  [serviceAuthorizationToken]="serviceAuthorizationToken"  [reportPath] = "reportPath12" style="width: 100%;height: 950px">
</bold-reportviewer> -->

<iframe
  src="//10.120.18.8:56997/reporting/site/site1/reports/d97c2110-6fb8-48b2-906f-a8ecf5152e90/Reports%20Pia/Informe%20diario?isembed=true&views=true"
  id="report-frame"
  width="100%"
  height="920px"
  allowfullscreen
  frameborder="0"
></iframe>
