<!-- <bold-reportviewer id="reportViewer_Control_report2" [reportServiceUrl] = "reportServiceUrl" [reportServerUrl]="reportServerUrl" 
   [serviceAuthorizationToken]="serviceAuthorizationToken" [reportPath] = "reportPath" style="width: 100%;height: 950px">
</bold-reportviewer> -->

<!-- <bold-reportviewer id="reportViewer_Control_35" [reportServiceUrl] = "serviceUrl"  [processingMode]="Remote" [reportServerUrl]="reportServerUrl" 
[serviceAuthorizationToken]="serviceAuthorizationToken" [reportPath] = "reportPath" style="width: 100%;height: 950px">
</bold-reportviewer> -->

<iframe src='http://10.120.18.8:56997/reporting/site/site1/reports/7c934b5d-5fd1-40e8-9b77-30546bcdd827/Reports%20Pia/Informe%20diario%20por%20volumen%20de%20equipaje%202?isembed=true&views=true' 
id='report-frame' width='100%' height='720px' allowfullscreen frameborder='0'></iframe>

