<!-- <div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>
                <h6 id="h6">Eficiencia ATR'S </h6>
            </nb-card-header>
            <nb-card-body id="form">
                <form [formGroup]="airForm" class="form-inline" novalidate id="formId">

                    <div class="form-group mx-sm-4 mb-3"> -->
                        <!-- <ejs-datepicker formControlName="StartTime" name="StartTime" [value]='today' id="StartTime " data-name="StartTime" placeholder='Fecha Inicio' floatLabelType='Always' required>
                        </ejs-datepicker> -->
                        <!-- <ejs-datepicker formControlName="StartTime" name="StartTime" [value]='today' id="StartTime "  placeholder='Fecha Inicio' floatLabelType='Always' required>
                        </ejs-datepicker>
                        <br> -->
                        <!-- <ejs-datepicker formControlName="StartTime" [(ngModel)]="today"></ejs-datepicker>
                        <br>
                    </div>


                    <button nbButton status="primary " class="btn btn-primary" style="margin-top: -16px;" (click)="dates(airForm.controls.StartTime.value)">Cosultar</button>
                    
                </form> -->

                <!-- <p>{{ airForm.controls.StartTime.value | date:"dd-MM-yyyy" }}</p> -->

                

            <!-- </nb-card-body>
        </nb-card>
    </div>
</div> -->

<!-- <nb-card>
    <nb-card-header> -->
        <!-- <i class="fa fa-barcode"> Eficiencia Global</i> -->
        <!-- Eficiencia Global
    </nb-card-header>
    <nb-card-body>
        <div class="row">
        <div class="col-6 col-md-4">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"> Eficiencia</span>
                    <span id="box-Effective1" class="info-box-number">{{acumulado | number : '1.0-0' }}<small>%</small></span>
                </div> -->
                <!-- /.info-box-content -->
            <!-- </div> -->
            <!-- /.info-box -->
        <!-- </div>
   

    <div class="col-6 col-md-4">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-barcode"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Lecturas Buenas</span>
                <span id="box-BarcodeR" class="info-box-number">{{acumR}}<small></small></span>
            </div> -->
            <!-- /.info-box-content -->
        <!-- </div> -->
        <!-- /.info-box -->
    <!-- </div>

    <div class="col-6 col-md-4">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-barcode"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Lecturas Malas</span>
                <span id="box-BarcodeN" class="info-box-number"> {{acumNr}}<small></small></span>
            </div> -->
            <!-- /.info-box-content -->
        <!-- </div> -->
        <!-- /.info-box -->
    <!-- </div>

</div>

    </nb-card-body>
    </nb-card>


    <div class="row">
        
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Eficiencia ATR SS1-3</h3>
                    <div class="box-tools"> -->
                        <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button> -->
                    <!-- </div>
                </div> -->
                <!-- /.box-header -->
                <!-- <div class="box-body no-padding">
                    <table id="tableleve1" class="table table-striped">
                        <thead>
                            <tr> -->
                                <!-- <th style="width: 10px">ID</th>
                                <th>Control Point</th> -->
                                <!-- <th>Leidas</th>
                                <th>No Leidas</th>
                                <th>Progress</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                        </thead>
                        <tbody  *ngFor="let item of dataEfficiency; let i = index" [attr.data-index]="i" >
                            <tr > -->
                            <!-- <td>{{item.DestinationId}}</td>
                            <td >{{item.Description}}</td> -->
                            <!-- <td >{{item.Reads}}</td>
                            <td >{{item.NoReads}}</td>
                            <td><div class="progress progress-xs progress-striped active">'
                                <div class="progress-bar progress-bar-green" [ngStyle]="{'width':  ''+ item.Eficiencia +'%' }"  ></div>
                              </div></td>
                              <td><span class="badge bg-green">{{item.Eficiencia | number:'1.0-0'}} %</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div> -->
                <!-- /.box-body -->
            <!-- </div> -->
    
            <!-- /.box -->
    
        <!-- </div> -->

        <!-- <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Eficiencia ATR SS2-3</h3>
                    <div class="box-tools"> -->
                        <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button> -->
                    <!-- </div>
                </div> -->
                <!-- /.box-header -->
                <!-- <div class="box-body no-padding">
                    <table id="tableleve2" class="table table-striped">
                        <thead>
                            <tr> -->
                                <!-- <th style="width: 10px">ID</th>
                                <th>Control Point</th> -->
                                <!-- <th>Leidas</th>
                                <th>No Leidas</th>
                                <th>Progress</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                        </thead>
                        <tbody  *ngFor="let item of dataEfficiency; let i = index" [attr.data-index]="i" >
                            <tr *ngIf="item.DestinationId >= 7 && item.DestinationId <= 12"> -->
                            <!-- <td>{{item.DestinationId}}</td>
                            <td >{{item.Description}}</td> -->
                            <!-- <td >{{item.Reads}}</td>
                            <td >{{item.NoReads}}</td>
                            <td><div class="progress progress-xs progress-striped active">'
                                <div class="progress-bar progress-bar-success" [ngStyle]="{'width':  ''+ item.Eficiencia +'%' }"  ></div>
                              </div></td>
                              <td><span class="badge bg-green">{{item.Eficiencia | number:'1.0-0'}} %</span></td>
                        </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div> -->
                <!-- /.box-body -->
            <!-- </div>
    
        </div>
    
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Eficiencia ATR CL1-10</h3>
                    <div class="box-tools"> -->
                        <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button> -->
                    <!-- </div>
                </div> -->
                <!-- /.box-header -->
                <!-- <div class="box-body no-padding">
                    <table id="tablepacking" class="table table-striped">
                        <thead>
                            <tr> -->
                                <!-- <th style="width: 10px">ID</th>
                                <th>Control Point</th> -->
                                <!-- <th>Leidas</th>
                                <th>No Leidas</th>
                                <th>Progress</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                        </thead>
                        <tbody  *ngFor="let item of dataEfficiency; let i = index" [attr.data-index]="i" >
                            <tr *ngIf="item.DestinationId >= 13 && item.DestinationId <= 13"> -->
                            <!-- <td>{{item.DestinationId}}</td>
                            <td >{{item.Description}}</td> -->
                            <!-- <td >{{item.Reads}}</td>
                            <td >{{item.NoReads}}</td>
                            <td><div class="progress progress-xs progress-striped active">'
                                <div class="progress-bar progress-bar-primary" [ngStyle]="{'width':  ''+ item.Eficiencia +'%' }"  ></div>
                              </div></td>
                              <td><span class="badge bg-blue">{{item.Eficiencia | number:'1.0-0'}} %</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div> -->
                <!-- /.box-body -->
            <!-- </div>
    
        </div>
    
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Eficiencia ATR CL2-6</h3>
                    <div class="box-tools"> -->
                        <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button> -->
                    <!-- </div>
                </div> -->
                <!-- /.box-header -->
                <!-- <div class="box-body no-padding">
                    <table id="tablevas" class="table table-striped">
                        <thead>
                            <tr> -->
                                <!-- <th style="width: 10px">ID</th>
                                <th>Control Point</th> -->
                                <!-- <th>Leidas</th>
                                <th>No Leidas</th>
                                <th>Progress</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                        </thead>
                        <tbody  *ngFor="let item of dataEfficiency; let i = index" [attr.data-index]="i" >
                            <tr *ngIf="item.DestinationId >= 14 && item.DestinationId <= 14"> -->
                            <!-- <td>{{item.DestinationId}}</td>
                            <td >{{item.Description}}</td> -->
                            <!-- <td >{{item.Reads}}</td>
                            <td >{{item.NoReads}}</td>
                            <td><div class="progress progress-xs progress-striped active">'
                                <div class="progress-bar progress-bar-success" [ngStyle]="{'width':  ''+ item.Eficiencia +'%' }"  ></div>
                              </div></td>
                              <td><span class="badge bg-green">{{item.Eficiencia | number:'1.0-0'}} %</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div> -->
                <!-- /.box-body -->
            <!-- </div>
    
        </div> -->
    
        <!-- <div class="col-md-6">
            <div class="box">
                <div class="box-header"> -->
                    <!-- @*<h3 class="box-title">Effective BarCode Sorter Shipping</h3> *@ -->
                    <!-- <h3 class="box-title">Eficiencia Lectores Sorter Shipping</h3> -->
    
                    <!-- <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div> -->
                <!-- </div> -->
                <!-- /.box-header -->
                <!-- <div class="box-body no-padding">
                    <table id="tableshipping" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10px">ID</th>
                                <th>Control Point</th>
                                <th>Read</th>
                                <th>NoRead</th>
                                <th>Progress</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                        </thead>
                        <tbody  *ngFor="let item of dataEfficiency; let i = index" [attr.data-index]="i" >
                            <tr *ngIf="item.DestinationId >= 15 && item.DestinationId <= 15">
                            <td>{{item.DestinationId}}</td>
                            <td >{{item.Description}}</td>
                            <td >{{item.Reads}}</td>
                            <td >{{item.NoReads}}</td>
                            <td><div class="progress progress-xs progress-striped active">'
                                <div class="progress-bar progress-bar-primary" [ngStyle]="{'width':  ''+ item.Eficiencia +'%' }"  ></div>
                              </div></td>
                            <td><span class="badge bg-blue">{{item.Eficiencia | number:'1.0-0'}} %</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div> -->
                <!-- /.box-body -->
            <!-- </div> -->
    
        <!-- </div> -->


<nb-card>
    <!-- <iframe src='http://10.120.18.8:56997/reporting/site/site1/reports/6a093ef5-0698-4dd5-b287-932585be8654/Reports%20Pia/Eficiencia%20ATR%C2%B4S?isembed=true&views=true' 
    id='report-frame' width='100%' height='720px' allowfullscreen frameborder='0'></iframe> -->

    <!-- <iframe src='http://10.100.22.109:64332/reporting/site/site1/reports/958c43f8-bd31-40d5-99af-2e3503b352e3/Reports%20Pia/Eficiencia%20ATR%C2%B4S?isembed=true&report_comments=true&views=true' 
    id='report-frame' width='100%' height='720px' allowfullscreen frameborder='0'></iframe> -->

    <iframe src='http://10.120.18.8:63863/reporting/site/site1/reports/958c43f8-bd31-40d5-99af-2e3503b352e3/Reports%20Pia/Eficiencia%20ATR%C2%B4S?isembed=true&report_comments=true&views=true' 
    id='report-frame' width='100%' height='720px' allowfullscreen frameborder='0'></iframe>

    </nb-card>
    <!-- <nb-card>

        <iframe src='http://10.100.22.109:62655/bi/site/site2/dashboards/b95aa66c-6461-4a3e-a4b1-a1dedfd8ee34/BHS/Eficiencia%20ATR?isembed=true&views=true&export=true' 
        id='dashboard-frame' width='100%' height='600px' allowfullscreen frameborder='0'></iframe>

</nb-card>
     -->