
<nb-card>
    <nb-card-header>
      Ocupación del sistema
    </nb-card-header>

    <nb-card-body>
      <!-- <ng2-smart-table class="example-smart-table" [settings]="settings1" [source]="source1">
      </ng2-smart-table> -->

      <ejs-grid [dataSource]='ReportOcupation' allowSorting='true' [allowPaging]="true" [pageSettings]='pageSettings' [filterSettings]='filterOptions' [allowFiltering]="true">
        <e-columns>
            <e-column field='name' headerText='Nombre' width=120></e-column>
            <e-column field='totalOcupated' headerText='Capacidad Total (mt)' width=120></e-column>
            <e-column field='currentOcupated' headerText='Ocupados (mt)' width=100></e-column>
            <e-column field='available' headerText='Disponible (mt)' width=100></e-column>
            <e-column field='percOcupation' headerText='%Ocupacion' width=100></e-column>
        </e-columns>
    </ejs-grid>

    </nb-card-body>
  </nb-card>