<nb-card style="height: 100vh;">
    <!-- <nb-tabset>
        <nb-tab tabTitle="Alarmas">
            <nb-card-body>
            
 
                <div style="margin: 10px auto; width:250px; margin-left: 10px;" [formGroup]="lavelForm">
                    <ejs-dropdownlist formControlName="Level" name="Level" value='value' [fields]='fields' [dataSource]='dataCategory' placeholder="Niveles" [allowFiltering]='true' floatLabelType='Auto' required (change)="GetAlarmLevel(($event.value))">
                    </ejs-dropdownlist>
                </div>  

                <ejs-grid #grid [dataSource]='Alarm' [editSettings]='editSettings' (toolbarClick)='clickHandler($event)' [toolbar]='toolbar'  (actionBegin)="actionBegin($event)" allowSorting='true' [filterSettings]="filterOptions" allowTextWrap="true"
                [allowFiltering]="true" height='350' (rowSelected)='rowSelected($event)'>
                    <e-columns>
                        <e-column field='Message' headerText='Mensaje' width=180 isPrimaryKey='true'></e-column>
                        <e-column field='Level' headerText='Nivel' width=85></e-column>
                        <e-column field='UserId' headerText='Usuario' width=100></e-column>
                        <e-column field='TimeStamp' headerText='Fecha' width=90 type="date" format="dd/MM/yyyy HH:mm:ss"></e-column>
                        <e-column headerText='Acciones' width='100' textAlign='center' [commands]='commands'></e-column>
                    </e-columns>
                </ejs-grid>

            </nb-card-body>
        </nb-tab>
        <nb-tab tabTitle="Historico Alarmas">
            <nb-card-body>
                <ejs-grid #grid [dataSource]='historyAlarmData' allowTextWrap='true' [filterSettings]='filterOptions' [allowFiltering]="true" height='400'
                (rowSelected)='rowSelected($event)'>
                    <e-columns>
                        <e-column field='Message' headerText='Mensaje' width=180></e-column>
                        <e-column field='Level' headerText='Nivel' width=75></e-column>
                        <e-column field='UserId' headerText='Usuario' width=75></e-column>
                        <e-column field='TimeStamp' headerText='Fecha' type="date" format="dd/MM/yyyy HH:mm:ss" width=85></e-column>
                        <e-column field='EDT' headerText='Fecha fin' type="date" format="dd/MM/yyyy HH:mm:ss" width=100></e-column>
                    </e-columns>
                </ejs-grid>
            </nb-card-body>
        </nb-tab>
    </nb-tabset> -->

    <nb-card-body>
        <ejs-tab id="tab_adaptive" #adaptiveTab heightAdjustMode='None'>
            <e-tabitems>
                <e-tabitem [header]='headerText[0]'>
                    <ng-template #content>
 
                        <!-- <div class="row">
                        <div class="col-6">
                            <div style="margin: 0px auto; width:250px; margin-left: 0px;" [formGroup]="lavelForm">
                                <ejs-dropdownlist formControlName="Level" name="Level" value='value' [fields]='fields' [dataSource]='dataCategory' placeholder="Niveles" [allowFiltering]='true' floatLabelType='Auto' required (change)="GetAlarmLevel(($event.value))">
                                </ejs-dropdownlist>
                            </div>  
                        </div>
                        <div class="col-6">
                            <button nbButton  style="margin-top: 3%; margin-left: -68%;" status="primary" class="btn btn-primary" data-cy="consulta-submit-button"
                            (click)="reconocer()">Reconocer alarmas</button>
                        </div>
                    </div> -->

                        <br>

                        <button nbButton status="primary" class="btn btn-primary" data-cy="consulta-submit-button"
                            (click)="reconocer()" style="text-transform: none;">Reconocer alarmas</button>

                        <br>
                        <br>

                        <div style="margin: 0px auto; width:250px; margin-left: 0px;" [formGroup]="lavelForm">
                            <ejs-dropdownlist formControlName="Level" name="Level" value='value' [fields]='fields'
                                [dataSource]='dataCategory' placeholder="Niveles" [allowFiltering]='true'
                                floatLabelType='Auto' required (change)="GetAlarmLevel(($event.value))">
                            </ejs-dropdownlist>
                        </div>
                        <br>
                        

                        <ejs-grid #grid [dataSource]='Alarm' [editSettings]='editSettings'
                            (toolbarClick)='clickHandler($event)' (actionBegin)="actionBegin($event)"
                            allowSorting='true' [filterSettings]="filterOptions" allowTextWrap="true"
                            [allowFiltering]="true" height='550' (rowSelected)='rowSelected($event)'>
                            <e-columns>
                                <e-column field='Message' headerText='Mensaje' width=180 isPrimaryKey='true'></e-column>
                                <e-column field='Level' headerText='Nivel' width=85></e-column>
                                <e-column field='UserId' headerText='Usuario' width=100></e-column>
                                <e-column field='TimeStamp' headerText='Fecha' width=90 type="date"
                                    format="dd/MM/yyyy HH:mm:ss"></e-column>
                                <e-column headerText='Acciones' width='100' textAlign='center'
                                    [commands]='commands'></e-column>
                            </e-columns>
                        </ejs-grid>


                    </ng-template>
                </e-tabitem>
                <e-tabitem [header]='headerText[1]' style="text-transform: none;">
                    <ng-template #content>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <ejs-grid #grid [dataSource]='historyAlarmData' allowTextWrap='true'
                            [filterSettings]='filterOptions' [allowFiltering]="true" height='580'
                            (rowSelected)='rowSelected($event)'>
                            <e-columns>
                                <e-column field='Message' headerText='Mensaje' width=180></e-column>
                                <e-column field='Level' headerText='Nivel' width=75></e-column>
                                <e-column field='UserId' headerText='Usuario' width=75></e-column>
                                <e-column field='TimeStamp' headerText='Fecha' type="date" format="dd/MM/yyyy HH:mm:ss"
                                    width=85></e-column>
                                <e-column field='EDT' headerText='Fecha fin' type="date" format="dd/MM/yyyy HH:mm:ss"
                                    width=100></e-column>
                            </e-columns>
                        </ejs-grid>

                    </ng-template>
                </e-tabitem>

            </e-tabitems>
        </ejs-tab>
    </nb-card-body>
</nb-card>