<!-- <h2>Alarmas</h2> -->
<nb-card>
    <nb-tabset>
        <nb-tab tabTitle="Alarmas">
            <nb-card>
                <!-- <nb-card-header>
                    Alarmas
                </nb-card-header>

                <nb-card-body> -->
                <!-- <ng2-smart-table class="example-smart-table" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                    </ng2-smart-table> 
                (toolbarClick)='clickHandler($event)' [toolbar]='toolbar' (actionComplete)="actionComplete($event)" allowTextWrap='true'-->
 
                <ejs-grid [dataSource]='Alarm' [editSettings]='editSettings' (toolbarClick)='clickHandler($event)' [toolbar]='toolbar'  (actionBegin)="actionBegin($event)"  [allowPaging]="true"
                [pageSettings]="pageSettings" allowSorting='true' [filterSettings]="filterOptions" allowTextWrap="true"
                [allowFiltering]="true" height='350'>
                    <e-columns>
                        <e-column field='Message' headerText='Mensaje' width=180 isPrimaryKey='true'></e-column>
                        <e-column field='Level' headerText='Nivel' width=85></e-column>
                        <e-column field='UserId' headerText='Usuario' width=100></e-column>
                        <e-column field='TimeStamp' headerText='Fecha' width=90 type="date" format="dd/MM/yyyy hh:mm:ss a"></e-column>
                        <e-column headerText='Administrar Alarmas' width='100' textAlign='center' [commands]='commands'></e-column>
                    </e-columns>
                </ejs-grid>

                <!-- </nb-card-body> -->
                <!-- <nb-card-footer>
                    <button type="submit" nbButton status="primary" *ngIf="!mostrar" [disabled]="select" (click)="reconocer()" class="btn btn-primary">Reconocer alarmas</button>
                    (queryCellInfo)='tooltip($event)'
                </nb-card-footer> -->
            </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Historico Alarmas">
            <nb-card>
                <!-- <nb-card-header>
                    Historico Alarmas
                </nb-card-header> -->
                <!-- <nb-card-body> -->
                <ejs-grid [dataSource]='historyAlarmData' [allowPaging]="true" allowTextWrap='true'  
                [pageSettings]='pageSettings' [filterSettings]='filterOptions' [allowFiltering]="true" height='400'>
                    <e-columns>
                        <e-column field='Message' headerText='Mensaje' width=180></e-column>
                        <e-column field='Level' headerText='Nivel' width=75></e-column>
                        <e-column field='UserId' headerText='Usuario' width=75></e-column>
                        <e-column field='TimeStamp' headerText='Fecha' width=85></e-column>
                        <e-column field='EDT' headerText='Fecha fin' width=100></e-column>
                        <e-column field='UserIdAcknow' headerText='Usuario reco' width=85></e-column>
                    </e-columns>
                </ejs-grid>
                <!-- </nb-card-body> -->
            </nb-card>
        </nb-tab>
    </nb-tabset>
</nb-card>