img {
    width: 29%;
    height: auto;
}

// p {
//     text-align: right;
//     align-content: flex-end;
// }
@keyframes blinkingBackground {
    0% {
        stroke: lime;
    }
    50% {
        stroke: rgba(0, 255, 0, 0.514);
    }
    100% {
        stroke: transparent;
    }
}

@keyframes blinkingAlarm {
    0% {
        filter: drop-shadow(1px 1px 0 red) drop-shadow(-1px -1px 0 red);
    }
    50% {
        filter: drop-shadow(1px 1px 0 orange) drop-shadow(-1px -1px 0 orange);
    }
    100% {
        stroke: transparent;
    }
}

.st1 {
    fill: #f0f0f0
}

.st1:hover {
    fill: #D6D6D6;
    stroke: blue
}

.st2 {
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.75
}

.st2:hover {
    fill: #D6D6D6;
    stroke: blue
}

.st3 {
    fill: none;
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.75
}

.st3:hover {
    fill: none;
    stroke: blue
}

.st4 {
    stroke: #000000;
    stroke-linecap: butt;
    stroke-width: 0.35;
    fill: #f0f0f0;
    font-size: 0.26664em
}

.st4:hover {
    fill: none;
    stroke: blue
}

.st5 {
    fill: #000000;
    font-family: Calibri;
    font-size: 0.26664em
}

.st5:hover {
    fill: none;
    stroke: blue
}

.st6 {
    fill: #f0f0f0;
    stroke: #000000;
    stroke-linecap: butt;
    stroke-width: 0.65
}

.st6:hover {
    fill: none;
    stroke: blue
}

.st7 {
    fill: #000000;
    font-family: Calibri;
    font-size: 1.00001em
}

.st7:hover {
    fill: none;
    stroke: blue
}

.st8 {
    font-size: 1em
}

.st8:hover {
    fill: none;
    stroke: blue
}

.st9 {
    fill: #000000;
    font-family: Calibri;
    font-size: 0.499992em
}

.st9:hover {
    fill: none;
    stroke: blue
}

.st10 {
    fill: none;
    fill-rule: evenodd;
    font-size: 12px;
    overflow: visible;
    stroke-linecap: square;
    stroke-miterlimit: 3
}

nb-card-body {
    margin: 0 -0.8rem;
    button,
    p {
        // margin: 0.5rem 0.5rem 0; 
        margin: -1.2rem 0.19rem 0.0rem 8.7rem;
    }
}

.h {
    margin: -1.8rem 0.19rem 0.0rem 2.7rem;
}

.popover-card {
    margin: 0;
    max-width: 18rem;
}

.overlay {
    position: fixed;
    width: 40%;
    // height: 100%;
    // background-color: rgba(74, 74, 74, .8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }