<nb-card>
    <nb-card-header>
      Información de Sic
    </nb-card-header>

    <nb-card-body>
      <!-- <ng2-smart-table class="example-smart-table" [settings]="settings5" [source]="ReportSic" (deleteConfirm)="onDeleteConfirm($event)" >
      </ng2-smart-table> -->

      <ejs-grid [dataSource]='ReportSic' [editSettings]='editSettings' (toolbarClick)='clickHandler($event)' [toolbar]='toolbar'  (actionBegin)="actionBegin($event)"  [allowPaging]="true"
      [pageSettings]="pageSettings"  allowSorting='true' [filterSettings]="filterOptions" 
      [allowFiltering]="true" width=155%>
          <e-columns>
            <e-column headerText='Id' width='85' textAlign='Id' [commands]='commands'></e-column>
              <e-column field='Subject' headerText='Subject' width=70></e-column>
              <e-column field='StartTime' headerText='StartTime' width=75></e-column>
              <e-column field='EndTime' headerText='EndTime' width=100></e-column>
              <e-column field='IsAllDay' headerText='IsAllDay' width=100></e-column>
              <e-column field='ProjectId' headerText='ProjectId' width=110></e-column>
              <e-column field='TaskId' headerText='TaskId' width=110></e-column>
              
          </e-columns>
      </ejs-grid>

    </nb-card-body>
    <!-- <nb-card-footer>
      <button type="submit" *ngIf="!mostrar" [disabled]="select" (click)="eliminaTodos()" class="btn btn-primary">Eliminar Todo</button>
    </nb-card-footer> -->
  </nb-card> 